#
#
# DBS Client Configuration file
# Comment
#
# Version of  Client, Do not change it unless you know what are you doing
VERSION=v00_00_06
#
#   Official URLs
## Global (Production)
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_global/servlet/DBSServlet
## Integration
#URL=http://cmsdbsprod.cern.ch/cms_dbs_int_global/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_int_global_writer/servlet/DBSServlet
## Local 02
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_local_02/servlet/DBSServlet
#
# Development
#URL=http://cmslcgco01.cern.ch:8900/DBS/servlet/DBSServlet
URL=http://cmssrv17.fnal.gov:8989/DBSMySQL/servlet/DBSServlet
#URL=http://cmssrv18.fnal.gov:8989/DBS/servlet/DBSServlet
#
#URL=http://cmslcgco01.cern.ch:8900/DBS/servlet/DBSServlet
#URL=https://cmssrv17.fnal.gov:8443/DBS.20/servlet/DBSServlet
#
#   Load balance system at FNAL
#URL=http://edge.fnal.gov:8888/DBS/servlet/DBSServlet
#
#  Where to Write the LOG Messages
#  DEFAULT is stdout
#
LOG=STDOUT
#LOG=/tmp/dbs.log
# 
#  Possible levels are 
#
#
# DBS Supported Log Levels
#  Standard
#CRITICAL   50
#ERROR      40
#NOTSET     0
#  DBS Defined
#DBSWARNING 3
#DBSINFO    2
#DBSDEBUG   1
#
#  DEFAULT Log Level is ERROR
#
#LEVEL=CRITICAL
LEVEL=ERROR
#LEVEL=NOTSET
#LEVEL=DBSWARNING
#LEVEL=DBSINFO
#LEVEL=DBSDEBUG
#
#
###############################################################################
# Chose Standalone mode (MODE=EXEC) or via TOMCAT Server (MODE=POST)
#  Default is MODE=POST
MODE=POST
#MODE=EXEC
#
##############################################################################
# If running in STANDALONE Mode (MODE=EXEC)
# PLEASE uncomment following lines 
#DBSHOME=/home/anzar/devDBS/DBS/Servers/JavaServer
#JAVAHOME=/usr/java/jdk1.5.0_06

