#
#
# DBS Client Configuration file
# Comment
#
# Version of  Client, Do not change it unless you know what are you doing
#VERSION=DBS_1_0_5
#VERSION=DBS_1_0_7
#VERSION=DBS_1_0_8
#VERSION=DBS_1_0_9
VERSION=DBS_1_1_2
#
#   Official URLs
# Global (Production)
# Read/Write
URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_global_writer/servlet/DBSServlet
##
# Read Only
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_global/servlet/DBSServlet
#
## Local Instances (Production)
# Read Write
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_01_writer/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_02_writer/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_03_writer/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_04_writer/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_05_writer/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_06_writer/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_07_writer/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_08_writer/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_09_writer/servlet/DBSServlet
##
# Read Only
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_02/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_03/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_04/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_05/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_06/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_07/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_08/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_09/servlet/DBSServlet
#URL=http://vocms30.cern.ch/cms_dbs_prod_local_10/servlet/DBSServlet
#
# Direct URL (Do not use it please, only for testing)
#URL=http://vocms02.cern.ch/cms_dbs_prod_global/servlet/DBSServlet
#URL=http://vocms05.cern.ch/cms_dbs_prod_global/servlet/DBSServlet
#
# Read/Write FNAL Tier-1 instance (Do not use unless you are Dave Mason or Oliver)
#URL=http://cmssrv46.fnal.gov:8080/DBS/servlet/DBSServlet
#
## Integration
# Read Write
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_int_global_writer/servlet/DBSServlet
##
#Read Only
#URL=http://cmsdbsprod.cern.ch/cms_dbs_int_global/servlet/DBSServlet
#
# Tier - 0 - INT
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_tier0_writer/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_int_tier0/servlet/DBSServlet
#
# Development
# DBS_1_0_9 Testing URLs
##URL=http://cmssrv48.fnal.gov:8080/DBS109_LOC1_pre2/servlet/DBSServlet
#URL=http://cmssrv48.fnal.gov:8080/DBS109_LOC2_pre2/servlet/DBSServlet
#URL=http://cmssrv48.fnal.gov:8080/DBS109_GLOBAL_pre2/servlet/DBSServlet
#URL=http://cmssrv48.fnal.gov:8282/DBS/servlet/DBSServlet
#URL=http://cmssrv17.fnal.gov:8989/DBSADSTEST02/servlet/DBSServlet
#
#
#  Where to Write the LOG Messages
#  DEFAULT is stdout
#
#CLIENTTYPE=SUPER
CLIENTTYPE=NORMAL
LOG=STDOUT
#LOG=/tmp/dbs.log
# 
#  Possible levels are 
#
# DBS Supported Log Levels
#  Standard
#CRITICAL   50
#ERROR      40
#NOTSET     0
#  DBS Defined
#DBSWARNING 3
#DBSINFO    2
#DBSDEBUG   1
#
#  DEFAULT Log Level is ERROR
#
#LEVEL=CRITICAL
LEVEL=ERROR
#LEVEL=NOTSET
#LEVEL=DBSWARNING
#LEVEL=DBSINFO
#LEVEL=DBSDEBUG
#
#
###############################################################################
# Chose Standalone mode (MODE=EXEC) or via TOMCAT Server (MODE=POST)
#  Default is MODE=POST
MODE=POST
#MODE=EXEC
#
##############################################################################
# If running in STANDALONE Mode (MODE=EXEC)
# PLEASE uncomment following lines 
DBSHOME=/home/sekhri/DBS/Servers/JavaServer
JAVAHOME=/usr/java/jdk1.5.0_10

