# Comment
#
# MySQL-like settings
#
DRIVER=org.gjt.mm.mysql.Driver
URL=jdbc:mysql://localhost/dbs_new_era_v03
USER=root
PASSWORD=cmsdbs
VERSION=v00_00_01
#HOST=localhost
#PORT=8080
HOST=cmssrv17.fnal.gov
PORT=8989
SERVLET=/DBS/servlet/DBSServlet
#
# ORACLE-like settings
#
#DRIVER=oracle.jdbc.driver.OracleDriver
#URL=jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(PORT=1521)(HOST=uscmsdb03.fnal.gov))(CONNECT_DATA=(SID=cmscald)))

