#
# DBS Client Configuration file
# Comment
#
# Version of  Client, Do not change it unless you know what are you doing
VERSION=v00_00_04
#HOST where DBS Server is running
#HOST=cmssrv18.fnal.gov
HOST=cmssrv17.fnal.gov
#HOST=cmslcgco01.cern.ch
# PORT on which DBS Server is listening
PORT=8989
# The Servlet Path
SERVLET=/DBS/servlet/DBSServlet
#
MODE=POST

# If running in STANDALONE Mode 
# PLEASE uncomment BOTH of following lines 
# and COMMENT OUT MODE=POST
#MODE=EXEC
#DBSHOME=/home/anzar/devDBS/DBS/Servers/JavaServer

