#
#
# DBS Client Configuration file
# Comment
#
# Version of  Client, Do not change it unless you know what are you doing
VERSION=v00_00_05
#HOST where DBS Server is running
#HOST=cmssrv18.fnal.gov
#URL=http://cmssrv18.fnal.gov:8989/DBS/servlet/DBSServlet
#URL=http://cmslcgco01.cern.ch:8081/DBS/servlet/DBSServlet
URL=http://cmssrv17.fnal.gov:8282/DBS/servlet/DBSServlet
#URL=http://cmssrv17.fnal.gov:8989/DBS/servlet/DBSServlet
#URL=http://cmssrv17.fnal.gov:8282/DBS/servlet/DBSServlet
#HOST=cmssrv17.fnal.gov
#HOST=cmslcgco01.cern.ch
# PORT on which DBS Server is listening
#PORT=8989
# The Servlet Path
#SERVLET=/DBS/servlet/DBSServlet
#
#  Where to Write the LOG Messages
#  DEFAULT is stdout
#
LOG=STDOUT
#LOG=/tmp/dbs.log
# 
#  Possible levels are CRITICAL, ERROR, WARNING, INFO, DEBUG, NOTSET (Everything)
#  DEFAULT Log Level is DEBUG
#
LEVEL=DEBUG
#
#
###############################################################################
# Chose Standalone mode (MODE=EXEC) or via TOMCAT Server (MODE=POST)
#  Default is MODE=POST
MODE=POST
#MODE=EXEC
#
##############################################################################
# If running in STANDALONE Mode (MODE=EXEC)
# PLEASE uncomment following lines 
#DBSHOME=/home/anzar/devDBS/DBS/Servers/JavaServer
#JAVAHOME=/usr/java/jdk1.5.0_06

