/*
 * General settings
 */
body  {
  margin-left: 1.2em;
  margin-right: 1.2em;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  font-size: 13px;
  font-weight: normal;
  font-family: helvetica, arial, verdana, sans-serif;
  background: #ffffff;
  color: #000000;
  text-decoration: none;
}
.menu_title {
  font-weight:bold;
}
hr.dbs {
  border: 0;
  width: 100%;
  color: #CCCCCC;
  background-color: #CCCCCC;
  height: 2px;
}
hr.dbs_red {
  border: 0;
  width: 100%;
  color: #500000;
  background-color: #500000;
  height: 2px;
}
.dbs-h1 {
  margin: 0.65em 2px 0.45em 6px;
  padding: 2px 4px;
  font-family: luxi sans, sans-serif;
  font-size: 1.55em;
  font-weight : bold;
  color: #666666;
  letter-spacing: 3px
}

H1, H2, H3 { font: bold small helvetica }

b { font-weight: bold; text-decoration : none; }

.nb  {
  font-size: 13px;
  font-family: helvetica, arial, verdana, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.normal  {
  font-size: 13px;
  font-family: helvetica, arial, verdana, sans-serif;
  text-decoration: none;
}

.small  {
  font-size: 12px;
  font-family: helvetica, arial, verdana, sans-serif;
  text-decoration: none;
}

.small2  {
  font-size: 12px;
  font-family: helvetica, arial, verdana, sans-serif;
  text-decoration: none;
}

.sbg  {
  font-size: 11px;
  font-family: helvetica, arial, verdana, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

a:link  {
  color: #005599;
  font-weight: bold;
  text-decoration: none;
}

a:visited  {
  color: #005599;
  font-weight: bold;
  text-decoration: none;
}

a:hover  {
  color: #996699;
  font-weight: bold;
  text-decoration: none;
}

em.itbold  {
  font-family: helvetica, arial, verdana, sans-serif;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
}
 
em.bold  {
  font-family: helvetica, arial, verdana, sans-serif;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
}
 
em.normal  {
  font-family: helvetica, arial, verdana, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
}

em.small  {
  font-family: helvetica, arial, verdana, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}
em.smallbold  {
  font-family: helvetica, arial, verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
}

.sectionhead_tight {
  font-weight : bold;
  font-size : 14px;
  font-family : 'Verdana', 'Arial';
  line-height : 20px;
  color : #666666;
  clear: left;
}
.sectionhead {
  font-weight : bold;
  font-size : 12px;
  font-family : 'Verdana', 'Arial';
  line-height : 20px;
  color : #666666;
  letter-spacing: 3px;
  clear: left;
}

/*
 * Table settings
*/
 table, tr, td, th, p  {
  font-size: 13px;
  font-weight: normal;
  font-family: helvetica, arial, verdana, sans-serif;
  text-decoration : none;
}

.td35 {
  width: 35%;
}

.td34 {
  width: 34%;
}

.td5 {
  width: 5%;
}
.td5_gray {
  width: 5%;
  color: #000000;
  background-color: #F0F0F0;
}
.menu_td_gray {
  width: 8%;
  color: #000000;
  background-color: #F0F0F0;
}
.td_white_box {
  color: #000000;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
  border-style: solid solid solid solid;
  border-color: gray gray gray gray; 
}
.td_gray_box {
  width: 8%;
  color: #000000;
  background-color: #E0E0E0;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
  border-style: solid solid solid solid;
  border-color: gray gray gray gray; 
}
.td_blue_box {
  width: 8%;
  color: #000000;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
  border-style: solid solid solid solid;
/*  border-color: gray gray gray gray; */
}
.td10 {
  width: 10%;
}
.td15 {
  width: 15%;
}

 table, tr, td.normal  {
  font-size: 13px;
  font-weight: normal;
  font-family: helvetica, arial, verdana, sans-serif;
  text-decoration: none;
}

table,tr,td.small  {
  font-size: 11px;
  font-weight: normal;
  font-family: helvetica, arial, verdana, sans-serif;
  text-decoration: none;
}

table.lfn  {
  border-color: #C0C1D5;
  border-width: thin;
  border-spacing: 0 0;
  background-color: #FFFFFF;
  font-weight: normal;
  font-family: 'Verdana', 'Arial', sans-serif;
  text-decoration: none; 
}
/* Sortable tables */
table.sortable a.sortheader {
  background-color:#eee;
  background:#eee;
  color: #005599;
  font-weight: bold;
  text-decoration: none;
  display: block;
  border-width: 1px;
  border-color: #eee;
}
table.sortable a.sortheader:hover { color: #996699; }

.nonsortable {
  background-color:#eee;
  background:#eee;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  display: block;
  border-width: 1px;
  border-color: #eee;
}
table.sortable span.sortarrow {
  color: black;
  text-decoration: none;
}
.sortable_gray {
  background-color:#eee;
}
.dbs_cell {
  padding-left: 0.5ex; 
  padding-right: 0.5ex;
}
.dbs_cell_r {
  padding-left: 0.5ex; 
  padding-right: 0.5ex;
  background-color: #DEB0AF;
}

.dbs_cell_u {
  border: solid 0 #060; 
  border-bottom-width: 2px; 
  padding-left: 0.5ex; 
  padding-right: 0.5ex;
}

/*
 * Colorized output
 */
.box {
  color: #0000FF;
}
.box_red {
  color: #FF0000;
}
.box_blue {
  color: #0000FF;
}
.box_green {
  color: #00FF00;
}
.box_darkgreen {
  color: #666699;
  background: #666699;
  background-color: #666699;
}
.box_white {
  padding: 10px 1px;
  color: #0000FF;
  background: #ffffff;
}
.box_gray {
  color: #000000;
  background-color: #F0F0F0;
}
.box_light {
  color: #000000;
  background-color: #FFFADC;
}

/*
 * Visibility settings
 */ 
.hide {
  display: none;
}
.show {
  display: block;
  margin-top:6px; 
  border-top-width:1px; 
  border-top-style:solid;
}
.show_inline {
  display: inline;
}
.show_inline_off {
  display: inline;
  text-indent: 2cm;
  font-family: helvetica, arial, verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
}
.show_block {
  display: block;
}
.show_cell {
  display: table-cell;
}
.show_row {
  display: table-row;
}
.off {
  text-indent: 2cm;
  font-family: helvetica, arial, verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
}

/*
 * Rico settings
 */
.accordionTabTitleBar {
  font-size           : 12px;
  padding             : 4px 6px 4px 6px;
  border-style        : solid none solid none;
  border-top-color    : #BDC7E7;
  border-bottom-color : #182052;
  border-width        : 1px 0px 1px 0px;
}

.accordionTabTitleBarHover {
  font-size        : 11px;
  background-color : #1f669b;
  color            : #000000;
}

.accordionTabContentBox {
  font-size        : 11px;
  border           : 1px solid #1f669b;
  border-top-width : 0px;
  padding          : 0px 8px 0px 8px;
}

