/*
 * General settings
 */
/*body  {*/
/*  margin-left: 1.2em;*/
/*  margin-right: 1.2em;*/
/*  margin-top: 1.2em;*/
/*  margin-bottom: 1.2em;*/
/*  font-size: 12px;*/
/*  font-weight: normal;*/
/*  font-family: "Trebuchet MS", verdana, helvetica, arial, sans-serif;*/
/*  background: #ffffff;*/
/*  color: #000000;*/
/*  text-decoration: none;*/
/*}*/

.main  {
  margin-left: 1.2em;
  margin-right: 1.2em;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  font-size: 12px;
  font-weight: normal;
  font-family: helvetica, arial, verdana, sans-serif;
  background: #ffffff;
  color: #000000;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.enabled {
  background: #ffffff;
  color: #000000;
}
.disabled {
  background:#eee none; 
  color:#222; 
/*  font-style: italic*/
}
.menu_title {
  font-weight:bold;
}

.text {
  font-size: 0.9em;
  font-family : 'Verdana', 'Arial';
  margin-left: 25px;
  clear: left;
}

hr.dbs {
  width: 100%;
  border: none;
  border-top: 1px dotted #CCCCCC;
}
hr.hr_end {
  border: none;
  border-top: 1px solid gray;
}
hr.dbs_red {
  border: 0;
  width: 100%;
  color: #500000;
  background-color: #500000;
  height: 2px;
}
.dbs-h1 {
  margin: 0.65em 2px 0.45em 6px;
  padding: 2px 4px;
  font-family: luxi sans, sans-serif;
  font-size: 1.55em;
  font-weight : bold;
  color: #666666;
  letter-spacing: 3px
}

/*H1, H2, H3 { font: bold small helvetica }*/

b { font-weight: bold; text-decoration : none; }

.nb  {
  font-size: 13px;
  font-family: helvetica, arial, verdana, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.normal  {
  font-size: 13px;
  font-family: helvetica, arial, verdana, sans-serif;
  text-decoration: none;
}

.small  {
  font-size: 12px;
  font-family: helvetica, arial, verdana, sans-serif;
  text-decoration: none;
}

.small2  {
  font-size: 12px;
  font-family: helvetica, arial, verdana, sans-serif;
  text-decoration: none;
}
.tiny  {
  font-size: 10px;
  font-weight: normal;
  font-family: helvetica, arial, verdana, sans-serif;
  text-decoration: none;
  text-transform: none;
}
.tiny_purple_on_gray  {
/*  color: #FF66CC;*/
  color: #9999CC;
  background-color: #F0F0F0;
  font-size: 12px;
  font-family: helvetica, arial, verdana, sans-serif;
  text-decoration: none;
}
.tooltip  {
/*  font-size: 10px;*/
/*  font-family: helvetica, arial, verdana, sans-serif;*/
  font-size: 12px;
  font-weight: normal;
  font-family: verdana, sans-serif;
/*  font-family: "Trebuchet MS", verdana, helvetica, arial, sans-serif;*/
  text-decoration: none;
}

.sbg  {
  font-size: 11px;
  font-family: helvetica, arial, verdana, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

a:link  {
  color: #005599;
/*  font-weight: bold;*/
/*  text-decoration: none;*/
}

a:visited  {
  color: #005599;
/*  font-weight: bold;*/
/*  text-decoration: none;*/
}

a:hover  {
  color: #996699;
/*  font-weight: bold;*/
/*  text-decoration: none;*/
}
a:active  {
  color: lime;
/*  font-weight: bold;*/
/*  text-decoration: none;*/
}

em.itbold  {
  font-family: helvetica, arial, verdana, sans-serif;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
}
 
em.bold  {
  font-family: helvetica, arial, verdana, sans-serif;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
}
 
em.normal  {
  font-family: helvetica, arial, verdana, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
}

em.small  {
  font-family: helvetica, arial, verdana, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}
em.smallbold  {
  font-family: helvetica, arial, verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
}

.sectionhead_tight {
  font-weight : bold;
  font-size : 14px;
  font-family : 'Verdana', 'Arial';
  line-height : 20px;
  color : #666666;
  clear: left;
}
.sectionhead {
  font-weight : bold;
  font-size : 12px;
  font-family : 'Verdana', 'Arial';
  line-height : 20px;
  color : #666666;
  letter-spacing: 3px;
  clear: left;
}
/*
 * Misc settings
 */
.div_scroll {
/* border: 1px solid; */
 height: 300px; 
 overflow:auto;
}
.div_scroll_border {
 border: 1px solid; 
 max-height: 250px; 
 overflow:auto;
}

/*
 * Table settings
 */
table.dbs_table {
  font-size: 12px;
  font-weight: normal;
  font-family: verdana, sans-serif;
  text-decoration: none;
  border-width: 1px 1px 1px 1px;
  border-spacing: 3px;
  border-style: solid solid solid solid;
  border-color: gray gray gray gray;
  border-collapse: collapse;
  background-color: rgb(255, 250, 250);
/*  vertical-align: text-bottom;*/
/*  vertical-align: middle;*/
}

table.dbs_table th {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: bold;
  padding: 5px;
  margin: 0px;
  background-color: #F0F0F0;
  vertical-align: top;
  text-align: right;
}

table.dbs_table th.th_left {
  text-align: left;
}
table.dbs_table th.middle {
  text-align: middle;
}

table.dbs_table tr.tr_th {
  background-color: #F0F0F0;
  border-width: 1px 1px 1px 1px;
  border-style: solid solid solid solid;
  border-color: gray gray gray gray;
  padding: 5px;
  margin: 0px;
}
table.dbs_table tr {
  background-color: #FFFADC;
  border-width: 1px 1px 1px 1px;
  border-style: solid solid solid solid;
  border-color: gray gray gray gray;
  padding: 5px;
  margin: 0px;
}

table.dbs_table tr.zebra{
  background-color: #fff5e8;
  border-width: 1px 1px 1px 1px;
  border-style: solid solid solid solid;
  border-color: gray gray gray gray;
  padding: 5px;
  margin: 0px;
}

table.dbs_table td {
  text-align: right;
  padding: 5px;
  margin: 0px;
}

table.dbs_table td.td_left {
  text-align: left;
  padding: 5px;
  margin: 0px;
}

table.dbs_table_plain {
  font-size: 12px;
  font-weight: normal;
  font-family: verdana, sans-serif;
  text-decoration: none;
  border-width: 1px 1px 1px 1px;
  border-spacing: 3px;
  /* border-style: top right bottom left */
  border-style: solid solid solid solid;
  border-color: gray gray gray gray;
  border-collapse: collapse;
  background-color: rgb(255, 250, 250);
  vertical-align: top;
}
table.dbs_table_plain th {
  border-width: 1px 1px 1px 1px;
  padding: 2px 2px 2px 2px;
  border-style: solid solid solid solid;
  border-color: gray gray gray gray;
  background-color: #F0F0F0;
  vertical-align: top;
}
table.dbs_table_plain td {
  border-width: 1px 1px 1px 1px;
  padding: 2px 2px 2px 2px;
  border-style: solid solid solid solid;
  border-color: gray gray gray gray;
  background-color: #FFFADC;
  vertical-align: top;
}

table.valign tr td {
vertical-align:middle;
}

table.valign form {
display:inline;
} 

table.valign_top tr td {
vertical-align:top;
}


table.intro {
  border-width: 1px 1px 1px 1px;
  border-spacing: 4px;
  /* border-style: top right bottom left */
  border-style: solid solid solid solid;
  border-color: gray gray gray gray;
  border-collapse: separate;
  background-color: rgb(255, 250, 250);
}
table.intro th {
  border-width: 1px 1px 1px 1px;
  padding: 2px 2px 2px 2px;
  border-style: hidden hidden hidden hidden;
  border-color: gray gray gray gray;
  background-color: rgb(255, 250, 250);
}
table.intro td {
  font-size: 14px;
  font-weight: normal;
  font-family: verdana, sans-serif;
  text-decoration: none;
  border-width: 1px 1px 1px 1px;
  padding: 2px 2px 2px 2px;
  border-style: hidden hidden hidden hidden;
  border-color: gray gray gray gray;
  background-color: rgb(255, 250, 250);
  vertical-align: top;
  text-align: right;
}
table.plain {
  padding: 0px 0px 0px 0px;
  border-width: 0px 0px 0px 0px;
  border-style: hidden hidden hidden hidden;
}
table.kw {
  padding: 0px 0px 0px 0px;
  border-width: 1px 1px 1px 1px;
  border-style: solid solid solid solid;
  border-color: gray gray gray gray;
  border-collapse: separate;
}
table.kw th.gray {
  background-color: #F0F0F0;
}
table.kw td.border {
  padding: 0px 2px 0px 2px;
  border-width: 1px 1px 1px 1px;
  border-style: hidden solid hidden hidden;
  border-color: gray gray gray gray;
}
table.kw td.normal {
  font-size: 12px;
  font-weight: normal;
  font-family: verdana, sans-serif;
  text-decoration: none;
  border-style: hidden hidden hidden hidden;
/*  background-color: rgb(255, 250, 250);*/
  vertical-align: top;
  text-align: right;
}
table.cell {
  border-width: 1px 1px 1px 1px;
  border-spacing: 2px;
  /* border-style: top right bottom left */
  border-style: solid solid solid solid;
  border-color: gray gray gray gray;
  border-collapse: separate;
}
table.cell th {
  border-width: 1px 1px 1px 1px;
  padding: 2px 2px 2px 2px;
  border-style: hidden hidden hidden hidden;
  border-color: gray gray gray gray;
}
table.cell td {
  font-size: 12px;
  font-weight: normal;
  font-family: fixed, monospace;
  text-decoration: none;
  border-width: 1px 1px 1px 1px;
  padding: 2px 2px 2px 2px;
  border-style: hidden hidden hidden hidden;
  border-color: gray gray gray gray;
  background-color: rgb(255, 250, 250);
  vertical-align: top;
  text-align: right;
}
table.cell td.fixed {
  text-align: center;
  width: 1.8em;
}
table.cell td.over {
  text-align: center;
  width: 1.8em;
  background-color: #C0C0C0;
}
table.cell td.choosen {
  text-align: center;
  width: 1.8em;
  background-color: #CC99CC;
}
table.cell a:hover { 
  color: #996699; 
}

table.table_box {
  border-width: 1px 1px 1px 1px;
  border-spacing: 1px;
  /* border-style: top right bottom left */
  border-style: solid solid solid solid;
  border-color: gray gray gray gray;
  border-collapse: separate;
  background-color: rgb(255, 250, 250);
  font-size: 12px;
  font-family: verdana, sans-serif;
}
table.table_box th {
  border-width: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
  border-style: hidden hidden hidden hidden;
  border-color: gray gray gray gray;
  background-color: rgb(255, 250, 250);
}
table.table_box td {
  font-size: 12px;
  font-family: verdana, sans-serif;
  text-decoration: none;
  border-width: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
  border-style: hidden hidden hidden hidden;
  border-color: gray gray gray gray;
  background-color: rgb(255, 250, 250);
}
table.table_box_white {
/*  height: 330px;*/
  border-width: 0px 0px 0px 0px;
  border-spacing: 0px;
  /* border-style: top right bottom left */
  border-style: hidden hidden hidden hidden;
  border-color: gray gray gray gray;
  border-collapse: separate;
/*  background-color: rgb(255, 255, 255);*/
}
table.table_box_white th {
  border-width: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
  border-style: hidden hidden hidden hidden;
  border-color: gray gray gray gray;
/*  background-color: rgb(255, 255, 255);*/
}
table.table_box_white td {
/*  font-size: 12px;*/
/*  font-family: verdana, sans-serif;*/
/*  text-decoration: none;*/
  border-width: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
  border-style: hidden hidden hidden hidden;
  border-color: gray gray gray gray;
/*  background-color: rgb(255, 255, 255);*/
}
table.table_box_white td.box_darkblue {
/*  height: 5%;*/
  height: 1%;
  font-family: verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
/* dbs masthead */
/*  background:rgb(229, 236, 249);*/
/*  color:rgb(129, 136, 149);*/
  color:black;

/*  color: #000000;*/
  background-color: #F0F0F0;

/*  color: white;*/
/*  background: #666699;*/
/*  background-color: #666699;*/

  text-decoration: none;
  border-width: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
  border-style: hidden hidden hidden hidden;
  border-color: gray gray gray gray;
}
table.table_round_box {
  border-width: 0px 0px 0px 0px;
  border-spacing: 1px;
  /* border-style: top right bottom left */
  border-style: solid solid solid solid;
  border-color: gray gray gray gray;
  border-collapse: separate;
  background-color: rgb(255, 255, 255);
}
table.table_box_darkblue {
  font-family: verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  color: white;
  background: #666699;
  background-color: #666699;

  text-decoration: none;
  border-width: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
  border-style: hidden hidden hidden hidden;
  border-color: gray gray gray gray;
}
.dbs_bottom {
/* dbs masthead */
  width: 120%;
  background:rgb(229, 236, 249);
  color:rgb(129, 136, 149);
}
 table, tr, td, th, p  {
  font-size: 13px;
  font-weight: normal;
  font-family: helvetica, arial, verdana, sans-serif;
  text-decoration : none;
}
table.image  {
  width:100%;
  border-width: 0px 0px 0px 0px;
  border-style: none none none none;
/*  border-width: 1px 1px 1px 1px;*/
/*  border-style: solid solid solid solid;*/
/*  border-color: gray gray gray gray;*/
  text-align: center;
  text-decoration : none;
}
table.image td {
  width:16px;
  height: 20px;
}
table.image td.size {
  width:16px;
  height: 20px;
  text-align: left;
}

.h400 {
  height: 400px;
}

.td35 {
  width: 35%;
}

.td34 {
  width: 34%;
}
.td33 {
  width: 33%;
}

.td3 {
  width: 3%;
}
.td5 {
  width: 5%;
}
.td6 {
  width: 6%;
}
.td7 {
  width: 7%;
}
.td5_gray {
  width: 5%;
  color: #000000;
  background-color: #F0F0F0;
}
.table_fixed_width {
  width: 12%;
}
.menu_td_gray_fixed {
  width: 12%;
  height: 330px;
  color: #000000;
  background-color: #F0F0F0;

  border-width: 1px 0px 1px 0px;
/*  border-width: 1px 1px 1px 1px;*/
  border-spacing: 1px;
  /* border-style: top right bottom left */
  border-style: solid solid solid solid;
  border-color: gray gray gray gray;
}
.menu_td_gray {
  width: 12%;
  color: #000000;
  background-color: #F0F0F0;

  border-width: 1px 1px 1px 1px;
  border-spacing: 1px;
  /* border-style: top right bottom left */
  border-style: solid solid solid solid;
  border-color: gray gray gray gray;
}
.td_right {
/*  width: 100px;*/
  display: table-cell;
  color: #000000;
  background-color: #E0E0E0;
  border-style: solid;
  border-width: 0px 4px 0px 0px;
  padding: 1px 1px 1px 1px;
  border-style: solid solid solid solid;
  border-color: gray gray gray gray;
}
.td_menu_white_box {
  width: 10%;
  height: 30px;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
/*  padding: 3px 1px 3px 1px;*/
  border-color: gray gray gray gray; 
}
.td_menu_lavender_box {
  width: 10%;
  height: 30px;
  color: #000000;
  background-color: #CCCCFF;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
/*  padding: 3px 1px 3px 1px;*/
  border-color: gray gray gray gray; 
}
.td_menu_gray_box {
  width: 10%;
  height: 30px;
  color: #000000;
  background-color: #E0E0E0;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
/*  padding: 3px 1px 3px 1px;*/
  border-color: gray gray gray gray; 
}
.td_white_box {
  color: #000000;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
  border-style: solid solid solid solid;
  border-color: gray gray gray gray; 
}
.gray_box {
  color: #000000;
  background-color: #E0E0E0;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
  border-style: solid solid solid solid;
  border-color: gray gray gray gray; 
  cursor: pointer;
}
.yellow_box {
  color: #000000;
  background-color: #FFFFCC;
/*  background-color: #FFCC99;*/
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
  border-style: solid solid solid solid;
  border-color: gray gray gray gray; 
  cursor: pointer;
}
.td_plain {
/*  padding: 1px 5px 1px 5px;*/
  color: #000000;
  background-color: #FFFFFF;
}
.td_underline {
/*  padding: 1px 5px 1px 5px;*/
  color: #000000;
  background-color: #E0E0E0;
}
.td_underline_pad {
  padding: 1px 5px 1px 5px;
  color: #000000;
  background-color: #E0E0E0;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
  border-style: solid solid solid solid;
  border-color: gray gray gray gray; 
  cursor: pointer;
}
.td1 {
  width: 1%;
}
.td5 {
  width: 5%;
}
.td10 {
  width: 10%;
}
.td12 {
  width: 12%;
}
.td15 {
  width: 15%;
}

.td_top_bottom {
  padding: 1px 1px 1px 1px;
/*  border-width: 1px 0px 1px 0px;*/
/*  border-style: solid hidden solid hidden;*/
  border-width: 1px 0px 1px 0px;
  border-style: solid solid solid solid;
  border-color: gray gray gray gray;
  background-color: rgb(255, 255, 255);
}

 table, tr, td.normal  {
  font-size: 13px;
  font-weight: normal;
  font-family: helvetica, arial, verdana, sans-serif;
  text-decoration: none;
}

table,tr,td.small  {
  font-size: 11px;
  font-weight: normal;
  font-family: helvetica, arial, verdana, sans-serif;
  text-decoration: none;
}

table.lfn  {
  border-color: #C0C1D5;
  border-width: 1px;
  border-spacing: 0 0;
  background-color: #FFFFFF;
  font-weight: normal;
  padding: 2px 5px 2px 5px;
  font-family: 'Verdana', 'Arial', sans-serif;
  text-decoration: none; 
}

table.diff {
  font-size: 11px;
  font-weight: normal;
  font-family: verdana, sans-serif;
  text-decoration: none;
/*  border-width: 1px 1px 1px 1px;*/
/*  border-spacing: 2px;*/
/*  border-style: solid solid solid solid;*/
/*  border-color: gray gray gray gray;*/
/*  border-collapse: separate;*/
/*  background-color: rgb(255, 250, 250);*/
}
table.diff th {
  background-color: #F8F8F8;
}
table.diff td {
  background-color: rgb(255, 250, 250);
  border-width: 1px 1px 1px 1px;
  border-spacing: 0px;
  border-style: solid solid solid solid;
  border-color: gray gray gray gray;
  border-collapse: separate;
  background-color: rgb(255, 250, 250);
  padding: 2px 2px 2px 2px;
  vertical-align: top;
  text-align: right;
}
table.diff td.diff_header {
  text-align: right;
  padding: 2px 7px 2px 7px;
  background-color: #F0F0F0;
}
table.diff td.diff_next {
  /* top right bottom left */
  padding: 2px 7px 2px 7px;
  background-color: #C0C0C0;
}
table.diff td.diff_add {
  background-color: #CCFFFF;
}
table.diff td.diff_chg {
  background-color: #FFFFCC;
}
table.diff td.diff_sub {
  background-color: #FFCCFF;
}
.diff_header {
  text-align: right:
  padding: 2px 7px 2px 7px;
  background-color: #F0F0F0;
}
.diff_next {
  background-color: #C0C0C0;
}
.diff_add {
  background-color: #CCFFFF;
}
.diff_chg {
  background-color: #FFFFCC;
}
.diff_sub {
  background-color: #FFCCFF;
}

table.table_diff {
  font-size: 11px;
  font-weight: normal;
  font-family: verdana, sans-serif;
  text-decoration: none;
  border-width: 1px 1px 1px 1px;
  border-spacing: 2px;
  border-style: solid solid solid solid;
  border-color: gray gray gray gray;
  border-collapse: separate;
  background-color: rgb(255, 250, 250);
}
table.table_diff th {
  background-color: #F8F8F8;
}
table.table_diff td {
  background-color: rgb(255, 250, 250);
  vertical-align: top;
  text-align: right;
}
table.table_diff td.from {
  background-color: #F0F0F0;
}
table.table_diff td.to {
  background-color: #E0E0E0;
}
table.table_diff td.insert {
  background-color: #CCFFFF;
}
table.table_diff td.delete {
  background-color: #FFCCFF;
}



/* Sortable tables */
table.sortable a.sortheader {
  border-width: 1px 1px 1px 1px;
  border-spacing: 4px;
  background-color:#eee;
  background:#eee;
  color: #005599;
  font-weight: bold;
  text-decoration: none;
  display: block;
/*  border-width: 1px;*/
  border-color: #eee;
}
table.sortable a.sortheader:hover { color: #996699; }
table.sortable td.td20 {
  width:20%;
}

.sortable_yellow {
  font-weight: normal;
  font-family: verdana, sans-serif;
  text-decoration: none;
  border-width: 1px 1px 1px 1px;
  padding: 2px 2px 2px 2px;
  border-style: hidden hidden hidden hidden;
  border-color: gray gray gray gray;
  background-color: #FFFADC;
}
.sortable_gray {
  font-weight: normal;
  font-family: verdana, sans-serif;
  text-decoration: none;
  border-width: 1px 1px 1px 1px;
  padding: 2px 2px 2px 2px;
  border-style: hidden hidden hidden hidden;
  border-color: gray gray gray gray;
  background-color: #F0F0F0;
}

.nonsortable {
  background-color:#eee;
  background:#eee;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  display: block;
  border-width: 1px;
  border-color: #eee;
}
table.sortable span.sortarrow {
  color: black;
  text-decoration: none;
}
.sortable_gray {
  background-color:#eee;
}
.dbs_cell {
  padding-left: 0.5ex; 
  padding-right: 0.5ex;
}
.dbs_cell_r {
  padding-left: 0.5ex; 
  padding-right: 0.5ex;
/*  background-color: #DEB0AF;*/
  background-color: AntiqueWhite; /* FAEBD7 */
}
.dbs_cell_red {
  padding-left: 0.5ex; 
  padding-right: 0.5ex;
  background-color: red;
}

.dbs_cell_warmred {
  padding-left: 0.5ex; 
  padding-right: 0.5ex;
  background-color: #FFB9B9;
}

.dbs_cell_u {
  border: solid 0 #060; 
  border-bottom-width: 2px; 
  padding-left: 0.5ex; 
  padding-right: 0.5ex;
}

/*
 * Colorized output
 */
.box {
  color: #0000FF;
}
.box_red {
  color: #FF0000;
}
.box_blue {
  color: #0000FF;
}
.box_green {
  color: #00FF00;
}
.box_lavender {
  color: #CCCCFF;
}
.box_darkgreen {
  color: #666699;
  background: #666699;
  background-color: #666699;
}
.box_white {
  padding: 10px 1px;
  color: #0000FF;
  background: #ffffff;
}
.box_gray {
  color: #000000;
  background-color: #F0F0F0;
}
.box_light {
  color: #000000;
  background-color: #FFFADC;
}
.box_gray {
  color: white;
  background-color: gray;
}

/*
 * Visibility settings
 */ 
.hide {
  display: none;
}
.show {
  display: block;
  margin-top:6px; 
  border-top-width:1px; 
/*  border-top-style:solid;*/
}
.show_inline {
  display: inline;
  color: black;
  background-color: white;
}
.show_inline_off {
  display: inline;
  text-indent: 2cm;
  margin-left: 2cm;
  font-family: helvetica, arial, verdana, sans-serif;
  font-size: 11px;
/*  font-weight: bold;*/
/*  font-style: normal;*/
}
.hide_white {
  color: white;
  background-color: white;
}
.show_white {
  color: black;
  background-color: white;
}
.indent {
  margin-left: 1%;
}
.show_red_bold {
  color: red;
  background-color: white;
  font-family: helvetica, arial, verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
}
.show_red_bold {
  color: #0000FF;
  background-color: white;
  font-family: helvetica, arial, verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
}
.show_block {
  display: block;
}
.show_table {
/*  display: block;*/
  display: table;
}
.show_cell {
  display: table-cell;
}
.show_row {
  display: table-row;
}
.off {
  text-indent: 2cm;
  font-family: helvetica, arial, verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
}
.offset_left {
  margin-left: 50px;
}
.align_center {
/*  position: absolute;*/
/*  left: 50%;*/
/*  width: 700px;*/
/*  margin-left: -350px;*/
/*  align: center;*/
}

/*
 * Rico settings
 */
.accordionTabTitleBar {
  font-size           : 12px;
  padding             : 4px 6px 4px 6px;
  border-style        : solid none solid none;
  border-top-color    : #BDC7E7;
  border-bottom-color : #182052;
  border-width        : 1px 0px 1px 0px;
}

.accordionTabTitleBarHover {
  font-size        : 11px;
  background-color : #1f669b;
  color            : #000000;
}

.accordionTabContentBox {
  font-size        : 11px;
  border           : 1px solid #1f669b;
  border-top-width : 0px;
  padding          : 0px 8px 0px 8px;
}

/*
 * Positioning
 */
.float_box {
  position: absolute; 
/*  left: 410px; */
  left: 50%;
  top: 80px; 
  height: 400px; 
/*  width: 400pt; |+ on Safari better use pt, then px which doesn't work +|*/
  width: 50%;
  padding: 1em;
  overflow:auto;

  border-width: 1px 1px 1px 1px;
  border-spacing: 4px;
  /* border-style: top right bottom left */
  border-style: solid solid solid solid;
  border-color: gray gray gray gray;
  border-collapse: separate;
  background-color: rgb(255, 250, 250);
  color: #000000;

/*  filter:alpha(opacity=80);   |+ Internet Explorer       +|*/
/*  -moz-opacity:0.8;           |+ Mozilla 1.6 and below   +|*/
/*  opacity: 0.8;               |+ newer Mozilla and CSS-3 +|*/
}
.float_aSearch_help {
  position: absolute; 
  left: 15%;
  top: 80px; 
  height: 400px; 
/*  width: 400pt; |+ on Safari better use pt, then px which doesn't work +|*/
  width: 75%;
  padding: 1em;
  overflow:auto;

  border-width: 1px 1px 1px 1px;
  border-spacing: 4px;
  /* border-style: top right bottom left */
  border-style: solid solid solid solid;
  border-color: gray gray gray gray;
  border-collapse: separate;
  color: #000000;
  background-color: #FFFFCC;

/*  filter:alpha(opacity=80);   |+ Internet Explorer       +|*/
/*  -moz-opacity:0.8;           |+ Mozilla 1.6 and below   +|*/
/*  opacity: 0.8;               |+ newer Mozilla and CSS-3 +|*/
}
.float_yellow_box {
  position: absolute; 
  padding: 5px 5px 5px 5px;
  margin-top: 20px;
  width: 400px;
  overflow:auto;

  color: #000000;
  background-color: #FFFFCC;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-style: solid solid solid solid;
  border-color: gray gray gray gray; 

  z-index: 3; /* to make visible a new window above all others CSS, for more details see http://www.devx.com/projectcool/Article/19918/1954?pf=true */

/*  filter:alpha(opacity=90);   |+ Internet Explorer       +|*/
/*  -moz-opacity:0.9;           |+ Mozilla 1.6 and below   +|*/
/*  opacity: 0.9;               |+ newer Mozilla and CSS-3 +|*/
}

.float_moreInfo {
  position: absolute; 

  padding: 1px 1px 1px 1px;
/*  margin-top: 10px;*/
/*  width: 25%;*/
/*  height: 250px; */
  margin-top: 10px;
  width: 240px;
  height: 210px; 
  overflow:auto;

  color: #000000;
  background-color: #FFFFCC;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-style: solid solid solid solid;
  border-color: gray gray gray gray; 

  z-index: 3; /* to make visible a new window above all others CSS, for more details see http://www.devx.com/projectcool/Article/19918/1954?pf=true */
  font-size: 12px;
  font-weight: normal;
  font-family: helvetica, arial, verdana, sans-serif;
  vertical-align: top;
  text-align: left;

/*  filter:alpha(opacity=90);   |+ Internet Explorer       +|*/
/*  -moz-opacity:0.9;           |+ Mozilla 1.6 and below   +|*/
/*  opacity: 0.9;               |+ newer Mozilla and CSS-3 +|*/
}
.float_snippet {
  position: absolute; 

  padding: 1px 1px 1px 1px;
  margin-top: 10px;
/*  width: 240px;*/
/*  height: 190px; */
  overflow:auto;

  color: #000000;
  background-color: #FFFFCC;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-style: solid solid solid solid;
  border-color: gray gray gray gray; 

  z-index: 3; /* to make visible a new window above all others CSS, for more details see http://www.devx.com/projectcool/Article/19918/1954?pf=true */
  font-size: 12px;
  font-weight: normal;
  font-family: helvetica, arial, verdana, sans-serif;
  vertical-align: top;
  text-align: left;
}
.float_ProdRequest {
  position: absolute; 

  padding: 1px 1px 1px 1px;
  margin-top: 10px;
  overflow:auto;

  color: #000000;
  background-color: #E0E0E0;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-style: solid solid solid solid;
  border-color: gray gray gray gray; 

  z-index: 5; /* z-index of MoreInfo is 3, this one should go above more info menu*/
  font-size: 12px;
  font-weight: normal;
  font-family: helvetica, arial, verdana, sans-serif;
  vertical-align: top;
  text-align: left;
}


.float_help_box {
  position: absolute; 
  left: 30%;
  top: 80px; 
  height: 400px; 
  width: 68%;
  padding: 1em;
  overflow:auto;

  border-width: 1px 1px 1px 1px;
  border-spacing: 4px;
  /* border-style: top right bottom left */
  border-style: solid solid solid solid;
  border-color: gray gray gray gray;
  border-collapse: separate;
  background-color: rgb(248, 248, 248);
  color: #000000;

  z-index: 3;

/*  filter:alpha(opacity=80);   |+ Internet Explorer       +|*/
/*  -moz-opacity:0.8;           |+ Mozilla 1.6 and below   +|*/
/*  opacity: 0.8;               |+ newer Mozilla and CSS-3 +|*/
}

table.menu {
    font-weight: bold;
    border-spacing: 5px;
}
table.menu a {
    text-decoration: none;
    font-weight: bold;
    color: #005599;
}
.td_gray_box_100 {
    width: 100px;
    color: #000000;
    background-color: #E0E0E0;
    padding: 1px 1px 1px 1px;
}
.td_gray_box {
    width: 50px;
    color: #000000;
    background-color: #E0E0E0;
    padding: 1px 15px 1px 15px;
    margin-left: 5px;
}
.td_gray_box:hover {
    text-decoration: none;
    font-weight: bold;
    background-color: white;
}
.td_select_box {
    width: 50px;
    color: #000000;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    padding: 1px 15px 1px 15px;
    border-style: solid solid solid solid;
    margin-left: 5px;
}
.td_select_box:hover {
    text-decoration: none;
    font-weight: bold;
    background-color: white;
}
#navlist
{
    padding: 1px;
/*    margin-top:0px;*/
    margin-top:-10px;
    margin-bottom:-10px;
    margin-left: 0px;
    /*width: 12em;*/
    color: gray; 
}
#navlist li
{
    list-style: none;
/*    margin-left:15px;*/
    text-align: left;
/*    border-bottom: 1px dotted #F0F0F0; |+ use the same color as in menu_td_gray_fixed, for IE+|*/
}
#navlist li.moreInfo
{
    list-style: none;
    text-align: left;
    margin-left:-25px;
}
#navlist li a
{
/*    display: block;*/
    padding: 1px 1px 1px 1px;
    text-decoration: none;
}
#navlist li a:link { color: #005599; }
#navlist li a:visited { color: #005599; }
#navlist li a:hover
{
    color: #996699;
    background: #b1d5ed;
}
#navlist li.plain0
{
    color: #000000;
    margin-left:0px;
    font-weight: bold;
    list-style: none;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 2px;
}
#navlist li.plain
{
    color: #000000;
    background-color: #E0E0E0;
    margin-left:0px;
    font-weight: bold;
    list-style: none;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 2px;
}
#navlist li.selected
{
    list-style: none;
/*    margin-left:15px;*/
    text-align: left;
    color: #000000;
    background-color: #FFFFFF;
    border-width: 2px 2px 2px 2px;
    border-style: inset inset inset inset;
    border-color: #F0F0F0 #F0F0F0 #F0F0F0 #F0F0F0;
   -moz-border-radius: 6px 6px 6px 6px;
}
table.selMenu  {
    font-size: 13px;
    font-family: helvetica, arial, verdana, sans-serif;
    text-decoration: none;
/*    color: #000000;*/
/*    background-color: #E0E0E0;*/
/*    padding: 1px 1px 1px 1px;*/
    width: 100%;
    background-color: #FFFFFF;
    border-width: 2px 2px 2px 2px;
    border-style: solid solid solid solid;
    border-color: #F0F0F0 #F0F0F0 #F0F0F0 #F0F0F0;
   -moz-border-radius: 6px 6px 6px 6px;
}
table.selMenu th {
    font-weight: bold;
}


/*YUI panel*/
.panel .hd {
        padding:4px 20px 4px 4px;
}
.panel{
        width:200px;
}

.submenu {
    margin-top:-5px;
    background-color:rgb(100, 105, 115);
    font-size: 11px;
/*    font-size: 0.625em;*/
/*    color:rgb(129, 136, 149);*/
    color: #ffffff;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
}
a.submenu
{
    padding: 1px 1px 1px 1px;
    text-decoration: none;
    color: #ffffff;
}
a.submenu:hover
{
    text-decoration: underline;
}
