<!-- templateWhere.tmpl -->
<table class="table_box_white" border="0" width="100%" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="box_darkblue">
$where
</td>
#if $userMode=='user'
<td align="right" class="box_darkblue">Physicist</td>
#else
<td align="right" class="box_darkblue">Production</td>
#end if
</tr>
</table>
<p />


<!-- end of templateWhere.tmpl -->
