<style type="text/css" media="screen,print">
#navlist
{
padding: 0 1px 1px;
margin-left: 0;
font: 12px Verdana, sans-serif;
background: #FFFFFF;
width: 80%; /*13em;*/
}

#navlist li
{
display:block;
list-style: none;
/*margin: 0;*/
/*border-top: 1px solid gray;*/
text-align: left;
}

#navlist li a
{
font: bold 12px Verdana, sans-serif;
display: block;
padding: 0.25em 0.5em 0.25em 0.75em;
border-left: 1em solid #AAB;
background: #FFF; /*#CCD;*/
text-decoration: none;
width: 20%;
}

#navlist li a:link { color: #448; }
#navlist li a:visited { color: #667; }

#navlist li a:hover
{
border-color: #FE3;
color: #FFF;
background: #332;
}
.hide {
  display: none;
}
.explain {
margin-left: 20px;
width: 80%;
background: #FFFFFF;
}
.example {
display: block;
margin-left: 50px;
/*width: 50%;*/
background: #FFFFCC;
border: 1px dashed gray;
}
.sectionhead {
  font-weight : bold;
  font-size : 12px;
  font-family : 'Verdana', 'Arial';
  line-height : 20px;
  color : #666666;
  clear: left;
}
.hhead {
  font-weight : bold;
  font-size : 16px;
  font-family : 'Verdana', 'Arial';
  line-height : 30px;
  color : #666666;
  clear: left;
}
</style>


<div align="center">
<div class="hhead">
DBS TOOLS
</div>

<div id="navcontainer">
<ul id="navlist">

<!-- new item -->

<li>
<a href="tool_cli">DBS CLI</a>
<div class="explain">
comprehensive command line toolkit to retrieve and manipulate data in DBS. 
<br/>
<span class="box_red">NOTE:</span>
This toolkit depends on
DBS API and installed as a part of CMS dbs-client RPM.
<div id="_dbscli"><a href="javascript:ShowTag('dbscli')">more</a></div>
</div>
<div class="hide" id="dbscli">
#set usage=os.popen('dbs --help').read()
<pre>
$usage
</pre>
</div>
<br/>
<br/>
</li>

<!-- new item -->

<li>
<a href="tool_cli">dbssql</a> 
<div class="explain">
simple querying tool.
<br/>
<span class="box_red">NOTE:</span>
This toolkit depends on
DBS API and installed as a part of CMS dbs-client RPM.
<div id="_dbssql"><a href="javascript:ShowTag('dbssql')">more</a></div>
</div>
<div class="hide" id="dbssql">
Usage: dbssql <query>, where query in a form of DBS-QL.
<div class="sectionhead">EXAMPLE:</div>
<pre>
dbssql find site where dataset like *CRUZET4*

Using DBS instance at: http://cmsdbsprod.cern.ch/cms_dbs_prod_global/servlet/DBSServlet
STORAGEELEMENT_SENAME   
_________________________________________________________________________________
ccsrm.in2p3.fr  
srm-disk.pic.es 
castorsrm.cr.cnaf.infn.it       
storm.ifca.es   
gridka-dCache.fzk.de    
cmssrm.fnal.gov 
srm.unl.edu     
srm.cern.ch     
srm-cms.gridpp.rl.ac.uk 
srm.grid.sinica.edu.tw
</pre>
</div>
<br/>
<br/>
</li>

<!-- new item -->

<li>
<a href="aSearchCLI">DDSearchCLI.py</a>
<div class="explain">
a CLI counterpart for Data Discovery.
<br/>
<span class="box_red">NOTE:</span>
No installation is required, just download the script and change its permission to be executable.
<div id="_aSearchCLI"><a href="javascript:ShowTag('aSearchCLI')">more</a></div>
</div>
<div class="hide" id="aSearchCLI">
#set usage=os.popen('./tools/DDSearchCLI.py --help').read()
<pre>
$usage
</pre>
<div class="sectionhead">EXAMPLE:</div>
<pre>
./DDSearchCLI.py --input="find dataset where dataset like *"
</pre>
</div>
<br/>
<br/>
</li>

<!-- new item -->

<li>
<a href="tool_du">cms-dbs-du</a>
<div class="explain">
DBS "disk utility", counts a disk usage in DBS instance(s). Please note it is based only on information from DBS and not from actual disk usage at given tier site, therefore it prove a "roof" estimate of disk usage. It does not distinguished data across different DBS instances.
<br/>
<span class="box_red">NOTE:</span>
No installation is required, just download the script and change its permission to be executable.
<div id="_cms-dbs-du"><a href="javascript:ShowTag('cms-dbs-du')">more</a></div>
</div>
<div class="hide" id="cms-dbs-du">
#set usage=os.popen('./tools/cms-dbs-du --help').read()
<pre>
$usage
</pre>
<div class="sectionhead">EXAMPLE:</div>
Count disk space usage at T2_IT_Legnaro site for all files found in DBS global instance
<pre>
cms-dbs-du --site=T2_IT_Legnaro --file=* --dbsInst=cms_dbs_prod_global

### CMS_DBS_PROD_GLOBAL ###
 12.3TB vocms39.cern.ch
 12.1TB Guillelmo Gomez Ceballos
  6.6TB cmsprod@vocms19.cern.ch
  4.1TB lxgate39.cern.ch
  2.5TB Wen Guan
  1.6TB cmsdataops@cmssrv44.fnal.gov
560.6GB cmsprod@vocms18.cern.ch
448.5GB Maarten Thomas
391.4GB NO_DN
327.3GB Nicola.defilippis@ba.infn.it
260.4GB antonio pierro
 68.6GB cmsdataops@cmspa.fnal.gov
 40.7GB Vijay Sekhri
 14.5GB Markus Klute
  3.4GB Marcelo Baquero Ruiz
</pre>
</div>
<br/>
<br/>
</li>

<!-- new item -->

<li>
<a href="tool_ls">cms-dbs-ls</a>
<div class="explain">
DBS "list utility" which list files and their attributes for given dataset|site|file.
By default it prints a list of files, while long view provides information about
total size of the file, total number of events in a file, file status, release associate with a file
its creation timestamp, file creator, modification time stamp, file modicifator and file name.
<br/>
<span class="box_red">NOTE:</span>
No installation is required, just download the script and change its permission to be executable.
<div id="_cms-dbs-ls"><a href="javascript:ShowTag('cms-dbs-ls')">more</a></div>
</div>
<div class="hide" id="cms-dbs-ls">
#set usage=os.popen('./tools/cms-dbs-ls --help').read()
<pre>
$usage
</pre>
<div class="sectionhead">EXAMPLE:</div>
List all files for dataset /qqH120_WW/CMSSW_1_2_0-1166726234/GEN-SIM-DIGI-RECO at castersc.grid.sinica.edu.tw storage element
<pre>
cms-dbs-ls --s castorsc.grid.sinica.edu.tw --dataset=/qqH120_WW/CMSSW_1_2_0-1166726234/GEN-SIM-DIGI-RECO -l
  1.8GB 1278   VALID   CMSSW_1_2_0 2007-04-19 20:00:27 CEST VijaySekhri 2007-04-22 20:56:06 CEST VijaySekhri 
  /store/mc/2006/12/21/mc-onsel-120_qqH120_WW/0000/D80313D8-7CA7-DB11-B584-00145E1D6234.root
  2.0GB 1436   VALID   CMSSW_1_2_0 2007-04-19 20:00:27 CEST VijaySekhri 2007-04-22 20:56:06 CEST VijaySekhri 
  /store/mc/2006/12/21/mc-onsel-120_qqH120_WW/0000/E232AE98-47A7-DB11-AE4C-00C09FD94A2E.root
....
</pre>
</div>
<br/>
<br/>
</li>

<!-- new item -->

<li>
<a href="tool_stat">cms-dbs-stat</a>
<div class="explain">
tool which provides DBS "statistics" at given site|dataset. It present the following information:
dataset name, storage element, total number of files in a dataset, total size of all files in
a dataset, total number of events in a dataset.
<br/>
<span class="box_red">NOTE:</span>
No installation is required, just download the script and change its permission to be executable.
<div id="_cms-dbs-stat"><a href="javascript:ShowTag('cms-dbs-stat')">more</a></div>
</div>
<div class="hide" id="cms-dbs-stat">
#set usage=os.popen('./tools/cms-dbs-stat --help').read()
<pre>
$usage
</pre>
<div class="sectionhead">EXAMPLE:</div>
<pre>
cms-dbs-stat -l -d /RelVal131QCD_pt20_30/CMSSW_1_3_1-1176201507/GEN-SIM-DIGI-RECO,
                   /RelVal123Higgs-ZZ-4Mu/CMSSW_1_3_0-1175249756/GEN-SIM-DIGI-RECO
/RelVal131QCD_pt20_30/CMSSW_1_3_1-1176201507/GEN-SIM-DIGI-RECO  srm.cern.ch     2         1.6GB  1025  
/RelVal131QCD_pt20_30/CMSSW_1_3_1-1176201507/GEN-SIM-DIGI-RECO  cmssrm.fnal.gov 2         1.6GB  1025  
/RelVal123Higgs-ZZ-4Mu/CMSSW_1_3_0-1175249756/GEN-SIM-DIGI-RECO srm.cern.ch     1       610.9MB  1500
</pre>
</div>
<br/>
<br/>
</li>
</ul>
</div>

</div>

<script type="text/javascript">
function HideTag(tag) {
  var id=document.getElementById(tag);
  if (id) {
      id.className="hide";
  }
  id=document.getElementById("_"+tag);
  if (id) {
      id.innerHTML='<a href="javascript:ShowTag(\''+tag+'\')">more</a>';
  }
}
function ShowTag(tag) {
  var id=document.getElementById(tag);
  if (id) {
      id.className="example";
  }
  id=document.getElementById("_"+tag);
  if (id) {
      id.innerHTML='<a href="javascript:HideTag(\''+tag+'\')">hide</a>';
  }
}
</script>
