<!-- templateAdvancedSearchForm.tmpl -->

<span id="defaultPage"></span>
<div align="center">
<form action="aSearch" method="get">
<input type="hidden" name="caseSensitive" value="on" id="caseSensitive" />
<input type="hidden" name="userMode" id="userMode" value="$userMode" />
<input type="hidden" name="sortOrder" id="sortOrder" value="desc" />
<input type="hidden" name="sortName" id="sortName" value="" />
<input type="hidden" name="grid" id="grid" value="0" />

## add table with case sensitivity and choice of dbs instance (in expert mode)
<table cellpadding="2" cellspacing="2">
<tr>
#if $userMode=='user'
<td>
##<input type="hidden" name="dbsInst" value="$dbsInst" id="kw_dbsInstSelector" />
<input type="hidden" name="dbsInst" value="$dbsInst" id="dbsInst" />
</td>
<td>
</td>
#else
<td align="right">
<div id="dbsInstDef">
<b>DBS instances</b>
</div>
</td>
<td>
<select name="dbsInst" id="dbsInst" onchange="javascript:ReloadMethod('$host','_advanced','$userMode')" style="$style">
#for dbs in $dbsList
<option value="$dbs">$dbs</option>
#end for
</select>
</td>
#end if
<td>
Case-sensitivity:
<a href="javascript:CaseSensitiveOn();"><span id="caseOn" class="td_underline_pad">on</span></a> 
| 
<a href="javascript:CaseSensitiveOff();"><span id="caseOff" class="">off</span></a>
</td>
<td align="right">
&nbsp;&nbsp;&nbsp;
<u><b class="yellow_box" onclick="javascript:aSearchHelp()">HELP</b></u>
</td>
</tr>
</table>

#*
#if len($userInput)
<input type="text" size="80" name="userInput" id="userInput" />
#else
<input type="text" size="80" name="userInput" id="userInput" />
#end if
*#
<input type="text" size="80" name="userInput" id="userInput" />
<input type="submit" value="Search" onclick="javascript:SetTagCookie('DBSDD_ainput','userInput')" />
<input type="reset" />
###<input type="reset" value="Reset" />

</form>

<div id="aSearchHELP" class="hide">
<table>
<tr>
<td align="left">
<span class="sectionhead_tight">
Query Language (QL) Help
</span>
</td>
<td align="right">
<a href="javascript:HideTag('aSearchHELP')">close &#8855;</a>
</td>
</tr>

<tr><td colspan="2"><hr class="dbs" /></td></tr>

<tr valign="top">

<td colspan="2">
<div class="sectionhead">INTRODUCTION</div>
The QL was designed to help you find out CMS data quickly. It supports a set of keywords which
specify what you're looking for. For example, run keyword instruct QL that you're looking for
run number. Every keyword followed by constrain operator, such as equal "=". You can combine
any number of constrains by using AND|OR keywords.
<br/>
A full description of the language can be found 
<a href="https://twiki.cern.ch/twiki/bin/view/CMS/CMS-DBS-eXaqt">here</a>. Please note that
it is still under development.
<br/><br/>
<div class="sectionhead">SYNTAX</div>
<b>
FIND &lt;keyword&gt; WHERE &lt;keyword&gt; &lt;op&gt; &lt;value&gt; AND | OR  ...
</b>
<br/>
Constrain operators: 
<b>
&lt;=, &lt;, &gt;=, &gt;, =, not like, like, in, between
</b>
<br/>
words FIND,WHERE,AND,OR can be upper or lower case. 
<br/>
<span class="box_blue">
<b>FIND dataset WHERE </b> expression is default and can be skipped.
</span>
<br/>
Expressions can be
groupped together using brackets, e.g. ((a and b) or c)
<br/><br/>
<div class="sectionhead">KEYWORDS</div>
<b>dataset, primds , procds , tier , block , file , release , run , lumi , site. </b>
<br/><br/>
<div class="sectionhead">EXAMPLES</div>
<em class="box_blue">
*QCD*
</em>
<br/>
look-up all datasets whose name matched QCD pattern.
<br/><br/>
<em class="box_blue">
dataset like *
</em>
<br/>
look-up all datasets in DBS
<br/><br/>
<em class="box_blue">
find release where release like *
</em>
<br/>
look-up all releases in DBS,
<span class="box_red">NOTE:</span>
replace 
<span class="box_blue">release</span> with any other keyword, like
<span class="box_blue">primds, run</span>, etc. 
in order to get all primary dataset, runs, respectively
<br/><br/>
<em class="box_blue">
dataset like *Online* and site=srm.cern.ch
</em>
<br/>
look-up datasets with dataset path matched pattern *Online* and located at srm.cern.ch.
<br/><br/>
<em class="box_blue">
dataset like *Online* and site=T2_UK*
</em>
<br/>
look-up datasets with dataset path matched pattern *Online* and located at all T2_UK sites
<br/><br/>
<em class="box_blue">
find dataset where run between 34850-36000 or run in 34850,34890
</em>
<br/>
look-up dataset with runs within a given run ranges. The
<span class="box_blue"><em>find dataset where</em></span> is optional here (default).
<br/><br/>
<em class="box_blue">
find run where dataset like *Online*
</em>
<br/>
look-up runs whose dataset name match the pattern *Online* 
<br/><br/>
<em class="box_blue">
find primds where (dataset like *Online* or dataset not like *RelVal* ) and release>CMSSW_1_7
</em>
<br/>
look-up primary datasets whose dataset name match either Online or not RelVal and who<br/>
are processed with release greater them CMSSW_1_7
<br/><br/>
<em class="box_blue">
find file,run where dataset=/Commissioning2008Ecal-A/Online/RAW
</em>
<br/>
look-up files and runs for given dataset name
<br/><br/>
<em class="box_blue">
find total(file),run where dataset=/Commissioning2008Ecal-A/Online/RAW
</em>
<br/>
look-up total number of files and list runs for given dataset name
<br/>
</td>
</tr>
</table>
</div>

#if $userHelp
<p></p>
<p></p>
##<p>The advanced search engine look-up dataset based on your keyword input.</p>

<table width="65%">
<tr valign="top">
<td align="right">
<b>Syntax:</b>
</td>
<td>
<b>
FIND &lt;keyword&gt; WHERE &lt;keyword&gt; &lt;op&gt; &lt;value&gt; AND | OR 
&lt;keyword&gt; &lt;op&gt; &lt;value&gt;
</b>
<br/>
Constrain operators: 
<b>
&lt;=, &lt;, &gt;=, &gt;, =, not like, like, in, between
</b>
<br/>
words FIND,WHERE,AND,OR can be upper or lower case. 
<br/>
<span class="box_blue">
<b>FIND dataset WHERE </b> expression is default and can be skipped.
</span>
<br/>
Expressions can be
groupped together using brackets, e.g. ((a and b) or c)
<br/>
<br/>
</td>
</tr>

<tr valign="top">
<td align="right">
<b>Keywords:</b>
</td>
<td>
<b>
<span id="dsetDef">
dataset
</span>
<!--
,
<span id="pathDef">
path
</span>
,
-->
<span id="primDef">
primds
</span>
,
<span id="procDef">
procds
</span>
,
<span id="tierDef">
tier
</span>
,
<span id="blkDef">
block
</span>
,
<span id="fileDef">
file
</span>
,
<span id="relDef">
release
</span>
,
<span id="runDef">
run
</span>
,
<span id="lumiDef">
lumi
</span>
,
<span id="seDef">
site.
</span>
</b>
<br/>
Hover over keywords for <span class="box_red">info</span>.
<br/>
<br/>
##You can also use comparison operators, i.e. '==', '&gt;', '&gt;=', '&lt;', '&lt;=' and '!'.
</td>
</tr>

<tr valign="top">
<td align="right">
<b>Examples:</b>
</td>
<td>
<em class="box_blue">
*QCD*
</em>
<br/>
look-up all datasets whose name matched QCD pattern.
<br/><br/>

<em class="box_blue">
find release where release like *
</em>
<br/>
look-up all releases in DBS,
<span class="box_red">NOTE:</span>
replace 
<span class="box_blue">release</span> with any other keyword, like
<span class="box_blue">primds, run</span>, etc. 
in order to get all primary dataset, runs, respectively
<br/><br/>

<em class="box_blue">
dataset like *Online* and site=srm.cern.ch
</em>
<br/>
look-up datasets with dataset path matched pattern *Online* and located at srm.cern.ch.
<br/><br/>
<em class="box_blue">
find dataset where run between 34850-36000 or run in 34850,34890
</em>
<br/>
look-up dataset with runs within a given run ranges. The
<span class="box_blue"><em>find dataset where</em></span> is optional here (default).
<br/><br/>

<em class="box_blue">
find run where dataset like *Online*
</em>
<br/>
look-up runs whose dataset name match the pattern *Online* 
<br/><br/>

<em class="box_blue">
find primds where (dataset like *Online* or dataset not like *RelVal* ) and release>CMSSW_1_7
</em>
<br/>
look-up primary datasets whose dataset name match either Online or not RelVal and who<br/>
are processed with release greater them CMSSW_1_7
<br/><br/>

<em class="box_blue">
find file,run where dataset=/Commissioning2008Ecal-A/Online/RAW
</em>
<br/>
look-up files and runs for given dataset name
<br/><br/>

</td>
</tr>

</table>

<p>
Command line tool for this interface is available <a href="aSearchCLI">here</a>.
</p>
#end if

</div> <!-- end of center -->

<script type="text/javascript" src="YUI/utilities/utilities.js"></script>
<script type="text/javascript" src="YUI/container/container.js"></script>
<script type="text/javascript" src="YUI/resize/resize-beta.js"></script>
<script type="text/javascript">
#if $userHelp
var tooltip;
tooltip="<p>Full qualified dataset name or pattern, e.g. /DaqTest-A/Online/RAW.</p>";
MakeTooltip("t_dset","dsetDef",tooltip);
tooltip="<p>Full qualified dataset name or pattern, synonym to dataset</p>";
MakeTooltip("t_path","pathDef",tooltip);
tooltip="<p>Full qualified processed dataset name or pattern, e.g. Online.</p>";
MakeTooltip("t_proc","procDef",tooltip);
tooltip="<p>Full qualified primary dataset name or pattern, e.g. DaqTest-A.</p>";
MakeTooltip("t_prim","primDef",tooltip);
tooltip="<p>Full qualified data tier name or pattern, e.g. RAW.</p>";
MakeTooltip("t_tier","tierDef",tooltip);
tooltip="<p>Block name, including block UID.</p>";
MakeTooltip("t_blk","blkDef",tooltip);
tooltip="<p>LFN name or pattern </p>";
MakeTooltip("t_file","fileDef",tooltip);
tooltip="<p>Release version/name, e.g. CMSSW_1_7*.</p>";
MakeTooltip("t_rel","relDef",tooltip);
tooltip="<p>Run number or run range, e.g. 34850-34860.</p>";
MakeTooltip("t_run","runDef",tooltip);
tooltip="<p>Lumi section number or range of lumi section numbers</p>";
MakeTooltip("t_lumi","lumiDef",tooltip);
tooltip="<p>SE's name or pattern, e.g. srm.cern.ch.</p>";
MakeTooltip("t_se","seDef",tooltip);
#end if
#if $len($userInput)
SetCookie('DBSDD_ainput','$userInput')
#else
SetTagValue('DBSDD_ainput','userInput');
#end if
function UpdateCaseSens() {
  if(GetCookie('DBSDD_caseSensitive')=='off') {
     CaseSensitiveOff();
  } else {
     CaseSensitiveOn();
  }
}
UpdateCaseSens();
function UpdateUserView() {
   var grid=document.getElementById('grid');
   var url=window.location.href;
   if(url.search("grid=1")>0) {
      SetCookie('DBSDD_view','grid');
      grid.value=1;
   } else if(url.search("grid=0")>0) {
      SetCookie('DBSDD_view','list');
      grid.value=0;
   } else {
       var view=GetCookie('DBSDD_view');
       if (view) {
          if (view=='grid') {
              grid.value=1;
          } else {
              grid.value=0;
          }
       }  else {
          SetCookie('DBSDD_view','list');
          grid.value=0;
       }
   }
}
UpdateUserView();
function UpdateUserInput() {
   var input=GetCookie('DBSDD_ainput');
   if (input) {
      var id=document.getElementById('userInput');
      if (id) {
         id.value=input;
      }
   }
}
UpdateUserInput();
function aSearchHelp() {
   ShowTag('aSearchHELP');
   var id=document.getElementById('aSearchHELP');
   id.className="float_aSearch_help";
}
//SetDefaultPageMessage('aSearch');
</script>
<p></p>

<!-- end of templateAdvancedSearchForm.tmpl -->
