
<!-- templateGenericTable.tmpl -->
<table class="dbs_table">
#if $headers
<tr>
#for item in $headers
<th>$str($item).upper()</th>
#end for
</tr>
#end if
#set style='class="zebra"'
#for row in $rows
<tr $style>
#for col in $row
<td>
$col
</td>
#end for
</tr>
#if $style
#set style=''
#else
#set style='class="zebra"'
#end if
#end for
</table>
<!-- end of templateGenericTable.tmpl -->

