<!-- templatePrimaryDatasetDesc.tmpl -->
<p><b>Primary dataset</b></p>\
<p>\
Data at all levels of processing pertaining to a given trigger or common MC \
production criteria. For data from the experiment, the primary dataset is \
determined by the HLT event classification (trigger line). \
For Monte Carlo data, primary \
datasets comprise data generated with the same parameters (MC generator).\
</p>\
<p><b>Examples:</b> mc-onsel-120_PU_Zee</p>\
<!-- end of templatePrimaryDatasetDesc.tmpl -->
