<script type="text/javascript">
var DBSDD='$DBSDD';
var DBSDD_EXPERT='$DBSDD/expert';
var GLOBAL_STEP=$step
</script>
<table width="100%" cellspacing="0" cellpadding="0">
<tr>
<!-- menu -->
<td id="menu_td_fixed" class="menu_td_gray_fixed" valign="top">
<div id="navcontainer">
<ul id="navlist">
  <li class="plain">
    <span class="yellow_box"
    onMouseOver="KeywordHelp('NavDesc_tag','Discovery page provides a three ways to find your data.\
    <p>Navigator menu based search is designed to guide you through available data in CMS.</p>\
    <p>Finder search is arbitrary search of data based on given data tag selection, e.g. Software release, data types, etc.</p>\
    <p>Site search is used to find out data which are located at specified site. Data search does not based on any data classification and it is plain lookup of what is available on a site through DLS service.</p>\
    ')" onMouseOut="ClearTag('NavDesc_tag')">?</span><span id="NavDesc_tag"></span>
    <b>Find data:</b>
  </li>

#if $userMode!="dbsExpert"
  <li id="Navigator_Menu">
    <a href="javascript:showMenu('Navigator')">Navigator</a>
  </li>

  <li id="Search_Menu">
    ###<a href="javascript:showMenu('Search')">Finder</a>
    #set hList=['builder','queries']
    #set hDict={'builder':'my builder','queries':'my queries'}
    <a href="javascript:showMenu('Search');showFinderMenu('$hList[0]',$hList);">Finder</a>
      <table id="finder_table" class="hide">
    #for name in $hList
          <tr><td>&\#187;</td><td id="_${name}Finder"><a href="javascript:showFinderMenu('$name',$hList);">$hDict[$name]</a></td></tr>
    #end for
      </table>       
  </li>
#end if

  <li id="Lucene_Menu">
    <a href="javascript:showMenu('Lucene');ajaxGetLuceneParams()">configs</a>
  </li>

#if not $userMode
  <li id="Site_Menu">
    <a href="javascript:showMenu('Site')">Site search</a>
  </li>

  <li class="plain">
    <span class="yellow_box" onMouseOver="KeywordHelp('DBSInfoDesc_tag','<p>Here you will find a full list of available applications, primary and processed datasets from DBS.</p>')" onMouseOut="ClearTag('DBSInfoDesc_tag')">?</span><span id="DBSInfoDesc_tag"></span>
    <b>List data:</b>
  </li>

  <li id="DBSinfo_Menu">
    <a href="javascript:showMenu('DBSinfo');getDbsInfo('$dbsGlobal',$dbsNames);">DBS info</a>
      <table id="dbsInst_table" class="hide">
    #for iName in $dbsNames
    #set name=iName.replace("/","___")
          <tr><td>&\#187;</td><td id="dbsInst_$name"><a href="javascript:getDbsInfo('$iName',$dbsNames);">$iName</a></td></tr>
    #end for
      </table>       
  </li>
#end if 

#if $userMode!="dbsExpert"
  <li class="plain">
    <span class="yellow_box" onMouseOver="KeywordHelp('RssDesc_tag','<p>You may subscribe to specific chunk of data and being notified every time when your data is updated. RSS is a family of web feed formats used to publish frequently updated digital content. In case of discovery data it has collection of links which you can subscribe to and monitor Live of your data appearence.</p>')" onMouseOut="ClearTag('RssDesc_tag')">?</span><span id="RssDesc_tag"></span>
    <b>Subscribe to:</b>
  </li>

  <li id="Rss_Menu">
    <a href="javascript:showMenu('Rss');ajaxGetRss();">RSS list</a>
  </li>
#end if

#if $userMode=="dbsExpert"
  <li class="plain">
    <span class="yellow_box" onMouseOver="KeywordHelp('DBSTablesDesc_tag','<p>Here you can explore DBS tables and perform pure SQL operations over the table. Only for experts.</p>')" onMouseOut="ClearTag('DBSTablesDesc_tag')">?</span><span id="DBSTablesDesc_tag"></span>
    <b>Examine DBS:</b>
  </li>

  <li id="SQL_Menu">
    <a href="javascript:showMenu('SQL')">SQL</a>
  </li>
#end if

  <li class="plain"><br /></li>

  <li id="History_Menu">
    #set hList=['user','search']
    #set hDict={'user':'Last 20','search':'Search'}
    <a href="javascript:showMenu('History');showHistoryMenu('$hList[0]',$hList);ajaxGetHistory();">History</a>
      <table id="history_table" class="hide">
    #for name in $hList
          <tr><td>&\#187;</td><td id="_${name}History"><a href="javascript:showHistoryMenu('$name',$hList);AdjustToDate()">$hDict[$name]</a></td></tr>
    #end for
      </table>       
  </li>

  <li id="Help_Menu">
    <a href="javascript:showMenu('Help');showHelpContent();">Help</a>
  </li>

  <li class="plain"><br /></li>

  <li id="Hide_Menu">
    <a href="javascript:HidePanel('$host')">Hide panel</a>
  </li>

  <li class="plain"><br /></li>

  <li class="plain0">
    <em class="tiny_purple_on_gray">Tip: $tip</em>
  </li>
</ul>
</div>


</td>
<!-- menu content, accordion -->
<td valign="top" class="td_top_bottom">

<!-- NavigatorDiv -->
<div id="NavigatorDiv" class="hide">
<table class="table_box_white" border="0" width="100%">
<tr valign="top">
<td class="box_darkblue">
Navigator menu
</td>
</tr>
<tr valign="top">
<td>
$userNavigator
#*
#if $userMode
$userNavigator
#else
$navigatorForm
#end if
*#
</td>
</tr>
</table>
</div>
<!-- END NavigatorDiv -->

<!-- SearchDiv -->
<div id="SearchDiv" class="hide">
<table class="table_box_white" border="0" width="100%">
<tr valign="top">
<td class="box_darkblue">
    <span class="yellow_box"
    onMouseOver="KeywordHelp('FinderDesc_tag','\
    <p>Finder is arbitrary search of data based on user selection of data objects.\
    <ul><li>Group task: a list of common search tasks\
        <li>DBS tables: a list of availabel DBS tables to look at\
        <li>Show: indicate that this Table.Column will be shown in output\
        <li>Column: select table column you want to see or apply some condition\
        <li>Operator: boolean condition operator\
    </ul></p>\
    <p>You may add/remove additional selection criteria by pressing plus/minus signs on your right.</p>\
    ')" onMouseOut="ClearTag('FinderDesc_tag')">?</span><span id="FinderDesc_tag"></span>
Finder (<a href="javascript:popUp('$host/finderExample',880,680)">Demo</a>)
</td>
</tr>
<tr valign="top">
<td>
$searchForm
</td>
</tr>
</table>
</div>
<!-- END SearchDiv -->

#*
<!-- SearchDiv -->
#set menuArr=['kw_mc','kw_data']
<div id="SearchDiv" class="hide"> 
<!-- outermost table in searchdiv -->
<table class="table_box_white" border="0" width="100%">
<tr valign="top">
<td class="box_darkblue">
Selection search menu
</td>
</tr>
<tr valign="top">
<td>

<form action="" method="get">

<table width="100%">
<tr>
<td align="left">
#if $userMode
<input type="hidden" name="dbsInst" value="$dbsList[0]" id="kw_dbsSelector" />
#else
DBS instance: <select name="keywordsSearch_dbsInst" id="kw_dbsSelector">
###<option value="All">All</option>
#for dbs in $dbsList
<option value="$dbs">$dbs</option>
#end for
</select>
#end if
</td>
<td align="right">
<input type="submit" name="Submit" id="kw-submit-button" />
</td>
</tr>
</table>

<div id="kw_mc" class="show_inline">
<table class="kw" width="100%" cellspacing="0" cellpadding="0">
<tr>
<th class="gray">Releases</th>
<th class="gray">Generators/<br />Trigger Lines</th>
<th class="gray">Data types</th>
<th class="gray">ROOT branches</th>
</tr>
<tr>
<td class="border"><div id="kw_release"></div></td>
<td class="border"><div id="kw_prim"></div></td>
<td class="border"><div id="kw_tier"></div></td>
<td class="normal"><div id="kw_branch"></div></td>
</tr>
</table>
</div>

</form>

</td>
</tr>
</table> <!-- end of outermost table -->
</div>
<!-- END SearchDiv -->
*#

<!-- LuceneDiv -->
<div id="LuceneDiv" class="hide">
<table class="table_box_white" border="0" width="100%">
<tr valign="top">
<td class="box_darkblue">
Config parameter search
</td>
</tr>
<tr valign="top">
<td>
$luceneForm
</td>
</tr>
</table>
</div>
<!-- END LuceneDiv -->

<!-- SiteDiv -->
<div id="SiteDiv" class="hide">
<table class="table_box_white" border="0" width="100%">
<tr valign="top">
<td class="box_darkblue">
Site search menu
</td>
</tr>
<tr valign="top">
<td>
$siteForm
</td>
</tr>
</table>
</div>
<!--END SiteDiv -->

<!-- DBSinfoDiv -->
###### Replacement for accordion datasets
#set menuArr=['dbs_prim','dbs_proc','dbs_apps']
<div id="DBSinfoDiv" class="hide"> 

<table id="dbs_info" class="hide" cellspacing="0" cellpadding="0" width="100%">
<tr>

<td class="td_menu_gray_box" id="_dbs_prim">
<table width="100%"><tr><td>
<div id="__dbs_prim"><table class="image"><tr><td></td></tr></table></div>
</td><td align="center">
<a href="javascript:showResMenu('dbs_prim',$menuArr)">Primary datasets</a>
</td><td><table class="image"><tr><td></td></tr></table>
</td></tr></table>
</td>

<td class="td_menu_gray_box" id="_dbs_proc">
<table width="100%"><tr><td>
<div id="__dbs_proc"><table class="image"><tr><td></td></tr></table></div>
</td><td align="center">
<a href="javascript:showResMenu('dbs_proc',$menuArr)">Processed datasets</a>
</td><td><table class="image"><tr><td></td></tr></table>
</td></tr></table>
</td>

<td class="td_menu_gray_box" id="_dbs_apps">
<table width="100%"><tr><td>
<div id="__dbs_apps"><table class="image"><tr><td></td></tr></table></div>
</td><td align="center">
<a href="javascript:showResMenu('dbs_apps',$menuArr)">Applications</a>
</td><td><table class="image"><tr><td></td></tr></table>
</td></tr></table>
</td>


</tr>
</table>

<span id="dbs_prim" class="hide"></span>
<span id="dbs_proc" class="hide"></span>
<span id="dbs_apps" class="hide"></span>

</div>
<!-- END DBSinfoDiv -->

<!-- HistoryDiv -->
###### Replacement for accordion history
<div id="HistoryDiv" class="hide"> 

<!-- userHistory -->
<div id="userHistory" class="hide">

<div class="div_scroll">
<span id="allHistory" class="show_inline"></span>
</div>

</div>
<!-- END userHistory -->

<!-- authHistory -->
<div id="authHistory" class="hide">
      <table class="table_box_white" border="0" width="100%">
      <tr valign="top">
      <td class="box_darkblue">
      DBS/DLS data discovery authentication
      </td>
      </tr>
      <tr valign="top">
      <td>
      <div class="text">To be able keep your session history you need to authenticate yourself.<br/>
      This information is NOT associated with either your login name to any CMS nodes<br />
      or grid certificates and used solely for your authentication with DBS/DLS discovery page.<br />
      This authentication is completely optional and used to provide persistent history searches.
      <p>Please use provided form below:</p>
      </div>

      <form action="javascript:ajaxCheckUser()" method="get">
      <div id="formInputName"></div>
      <script type="text/javascript">formRequest()</script>
      <p>
      <input type="submit" value="Authenticate" onclick="set_name(this.form)" />
      </p>
      <p></p>
      <div id="formAuthResults"></div>
      </form>

      </td></tr></table>
      ##</div>
</div>
<!-- END authHistory -->

<!-- searchHistory -->
<div id="searchHistory"  class="hide">
      <table class="table_box_white" border="0" width="100%">
      <tr valign="top">
      <td class="box_darkblue">
      DBS/DLS data discovery history search
      </td>
      </tr>
      <tr>
      <td>
      <div class="div_scroll">
      <p></p>
      <form action="javascript:ajaxHistorySearch();" method="get">
      <table>
      <tr>
      <td>
      From:
      </td>
      <td>
      <select name="in_hSearch_year" id="in_hSearch_year" onchange="AdjustToDate();CheckToDate()">
#for year in xrange(2006,2016)
      <option value="$year">$year</option>
#end for
      </select>
#set mArr=['Jan','Feb','Mar','May','Apr','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
      <select name="in_hSearch_month" id="in_hSearch_month" onchange="AdjustToDate();CheckToDate()">
#for month in $mArr
      <option value="$month">$month</option>
#end for
      </select>
      </td>
      <td>
      to:
      </td>
      <td>
      <select name="out_hSearch_year" id="out_hSearch_year" onchange="CheckToDate()">
#for year in xrange(2006,2016)
      <option value="$year">$year</option>
#end for
      </select>
#set mArr=['Jan','Feb','Mar','May','Apr','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
      <select name="out_hSearch_month" id="out_hSearch_month" onchange="CheckToDate()">
#for month in $mArr
      <option value="$month">$month</option>
#end for
      </select>
      </td>
      <td>
      <input type="submit" value="Find" onclick="javascript:showLoadingMessage('historySearchResults');" />
      </td>
      </tr>
      </table>
      </form>
      <hr class="dbs" />
      <span id="historySearchResults">Here we will provide a basic search of user commands</span>

      </div>
      </td>
      </tr>
      </table>
</div>
<!-- END searchHistory -->

</div>
<!-- END HistoryDiv -->


<!-- HelpDiv -->
###### Replacement for accordion help
#set menuArr=['help_intro','help_glossary','help_resources','help_feedback','help_refs']
<div id="HelpDiv" class="hide"> 


<table class="table_round_box" border="0" width="100%">
<tr valign="top">
<td class="box_darkblue">


<table id="help_info" cellspacing="1" width="70%">
<tr>
<td class="td_menu_white_box" align="center" id="_help_intro"><a href="javascript:showResMenu('help_intro',$menuArr)">Introduction</a></td>
<td class="td_menu_gray_box" align="center" id="_help_glossary"><a href="javascript:showResMenu('help_glossary',$menuArr)">DBS glossary</a></td>
<td class="td_menu_gray_box" align="center" id="_help_resources"><a href="javascript:showResMenu('help_resources',$menuArr)">DBS resources</a></td>
<td class="td_menu_gray_box" align="center" id="_help_feedback"><a href="javascript:showResMenu('help_feedback',$menuArr)">Feedback</a></td>
<td class="td_menu_gray_box" align="center" id="_help_refs"><a href="javascript:showResMenu('help_refs',$menuArr)">References</a></td>
</tr>
</table>

</td>
</tr>
</table>

<div id="help_intro" class="hide">
<div class="div_scroll">
<div class="sectionhead">DATA DISCOVERY PAGE</div>
<p>
The purpose of this page to help you navigate through CMS data in
Data Bookeeping System (DBS).
</p>
<p>
At the moment, we provide
#if $userMode
two
#else
three
#end if
orthogonal search methods to discovery your favorite data.
</p>
<ul>
<li>Navigator is a menu driven method, where navigator menu guide you in available data hierarchy.
To use this method please choose 
<a href="javascript:showMenu('Navigator')">Navigator</a> menu on a left.
</li>
<li>Search is a keyword search method, e.g. you provide a set of keywords, for instance
CMSSW Higgs, and we look up your data. To use this method, please choose
<a href="javascript:showMenu('Search')">Keyword search</a> menu
on a left.
</li>
#if not $userMode
<li>Site is a site driven method, where you look for data by choosing specific site.
To use this method please choose <a href="javascript:showMenu('Site')">Site</a> menu on a left.
</li>
#end if
</ul>
<p>
The search results are usually presented in a form of sortable tables, where you can
move your mouse over the column name and click on it to sort entries.
</p>
<p>
All terms used on discovery page are defined in DBS glossary.
</p>
</div>
</div>

<div id="help_glossary" class="hide"><div class="div_scroll">$glossary</div></div>

<div id="help_resources" class="hide">
<div class="div_scroll">
          <table>
              <tr><td>&\#187;</td>
              <td><a href="https://twiki.cern.ch/twiki/bin/view/CMS/WebHome">CMS Home</a>
              your resource wizard in CMS land.
              </td>
              </tr>
              <tr><td>&\#187;</td>
              <td><a href="https://twiki.cern.ch/twiki/bin/view/CMS/DBS-TDR">DBS Home</a>
              provides full description of Data Bookeeping System (DBS) system.
              </td>
              </tr>
              <tr><td>&\#187;</td>
              <td>DBS specific discovery
              <a href="http://cmsdoc.cern.ch/~sekhri/Html/mc.htm">page</a>
              The purpose of this page to provide a complete detailed information about
              data stored in DBS. Please keep in mind that format is mostly for real experts.
              </td>
              </tr>
              <tr><td>&\#187;</td>
              <td><a href="https://twiki.cern.ch/twiki/bin/view/CMS/DLS">DLS Home</a>
              provides full description of Data Location Service (DLS) system.
              </td>
              </tr>
              <tr><td>&\#187;</td>
              <td><a href="$host/Documentation/index.html">API doc</a>
              describes current API of DBS discovery page
              </td>
              </tr>
              <tr><td>&\#187;</td>
              <td><a href="$host/TODO.html">TODO</a>
              is my current list of task.
              </td>
              </tr>
          </table>
</div>
</div>

<div id="help_feedback" class="hide">
<div class="div_scroll">
         <p></p>
         <form action="sendFeedback" method="post">
         <p>
         Your Email:
         <input type="text" name="userEmail" />
         <br />
         Feedback form:
         <br />
         <textarea rows="5" cols="100" name="feedbackText">Put your text here</textarea>
         <br />
         <input type="submit" value="Submit" id="submit-button-form"/>
         </p>
         </form>
</div>
</div>

<div id="help_refs" class="hide">
<div class="div_scroll">
       <table>
         <tr><td>&\#187;</td>
         <td>The sort capabilities in tables provided by <a href="http://www.kryogenix.org/code/browser/sorttable/">sortable</a> package. I extended this package and include some additions (highlihting, new sort functions, etc.)</td>
         </tr>
         <tr><td>&\#187;</td>
         <td>Ajax functionality provided by <a href="http://www.openrico.org">Rico</a> framework</td>
         </tr>
         <tr><td>&\#187;</td>
         <td>The Rico core itself based on <a href="http://prototype.conio.net/">prototype</a> framework.</td>
         </tr>
         <tr><td>&\#187;</td>
         <td>The entire service is running under <a href="http://www.cherrypy.org/">CherryPy</a> framework</td>
         </tr>
         <tr><td>&\#187;</td>
         <td>It would be impossible to accomplish this task without using 
         <a href="http://www.cheetahtemplate.org">Cheetah</a> template framework</td>
         </tr>
         <tr><td>&\#187;</td>
         <td>Some of my work inspired by <a href="http://www.ajaxprojects.com/">Ajax</a> projects</td>
         </tr>
       </table>
</div>
</div>

</div>
<!-- END HelpDiv -->

<!-- RssDiv -->
<div id="RssDiv" class="hide">
<table class="table_box_white" border="0" width="100%">
<tr valign="top">
<td class="box_darkblue">
RSS feeds
</td>
</tr>

<tr>
<td>

<div class="div_scroll">
<div id="rss_list"></div>
</div>

</td>
</tr>
</table>
</div>
<!--END RssDiv -->

<!-- SQLDiv -->
<div id="SQLDiv" class="hide">
<table class="table_box_white" border="0" width="100%">
<tr valign="top">
<td class="box_darkblue">
SQL query
</td>
</tr>
<tr valign="top">
<td>
         <p></p>
         ###<input type="hidden" value="$dbsInst" id="kw_dbsSelector" />
         <form action="javascript:ResetAllResults();ajaxExecuteQuery()" method="get">
         <table>
         <tr>
         <td align="right">
         DBS instance:
         </td>
         <td>
         <select id="dbsExpert_dbsSelector">
         #for dbs in $dbsList
         <option value="$dbs">$dbs</option>
         #end for
         </select>
         </td>
         </tr>
         
         <tr>
         <td align="right">
         DBS table(s):
         </td>
         <td>
         <select id="kw_dbsTables" name="dbsTables">
         <option>All</option>
         #for table in $dbsTables
         <option value="$table">$table</option>
         #end for
         </select>
         </td>
         <td>
         retrieve a <a href="javascript:ResetAllResults();ajaxGetDbsSchema()">schema</a>
         </td>
         </table>
         <br />
         Place your SQL query below in a text area. 
         <p>
         <textarea rows="5" cols="50" id="queryText"></textarea>
         </p>
         <input type="reset"  value="Reset" id="reset-query-button"  />
         <input type="submit" value="Submit" id="submit-query-form"/>
         </form>
        
</td>
</tr>
</table>
</div>
<!--END SQLDiv -->

</td>
</tr>
</table>

<script type="text/javascript">
#*
ajaxEngine.registerAjaxObject('tableCols_999999', new GetDataUpdater('tableCols_999999','replace','noResultsMenu'));
ChangeCols(999999,'dbsTables');

#if $frontPage
showMenu('Navigator');
#end if
#if $userMode
registerAjaxUserMenuCalls();
resetPhysGroups();
ajaxGetKWFields();
#end if
*#
</script>
