<!-- templateAdminMigration.tmpl -->
<h3>$kwargs['title']</h3>
<p>We captured your request, transformed it to 
<a href="javascript:ShowTag('xml')">XML</a> 
and it's ready to go, please verify and confirm it
</p>
#*
<table class="dbs_table">
#for key in $kwargs.keys()
#if key.lower().find("submit")==-1:
<tr><td>$key</td><td>$kwargs[$key]</td></tr>
#end if
#end for
</table>
*#
#for key in $kwargs.keys()
#if $skipList.count($key.lower())
  #continue
#end if
<b>$key:</b>
<br/>
<span class="offset_left">$kwargs[$key]</span>
<br/>
#end for

<p>
<div id="xml" class="hide">
XML snippet of your request <a href="javascript:HideTag('xml')">hide</a>:
<div class="yellow_box">
$xmlOutput
</div>
</div>
</p>
<p>
#*
<form action="sendAdminRequest" method="post">
<input type="hidden" name="userMode" value="$userMode">
#for key in $kwargs.keys()
<input type="hidden" name="$key" value="$kwargs[$key]" />
#end for
<input type="submit" value="Submit request"/>
</form>
*#

<form action="$adminUrl" method="get">
#for key in $kwargs.keys()
#if $skipList.count($key.lower())
#continue
#else
<input type="hidden" name="$key" value="$kwargs[$key]" />
#end if
#end for
<input type="submit" value="Submit request"/>
</form>
</p>


<!-- end of templateAdminMigration.tmpl -->

