<script type="text/javascript">ajaxEngine.registerRequest('ajaxGetTableColumns','getTableColumns');</script>
<table>
#for table in $tableList
<tr>
<td>
<input type="checkbox" />
</td>
<td style="width:150px">
$table
</td>
<td style="width:150px">
<div id="cols_$table">Parameters</div>
</td>
<td>
<select onchange="javascript:ChangeField('field_$table');" id="sel_field_$table">
<option>Select</option>
<option>=</option>
<option>&lt;</option>
<option>&gt;</option>
</select>
</td>
<td>
<div id="field_$table" class="hide">
<input type="text" size="40" id="kw_field_$table" />
</div>
</td>
</tr>
#end for
</table>

#for table in $tableList
<script type="text/javascript">ajaxEngine.registerAjaxElement('cols_$table');ajaxGetTableColumns('$dbsInst','$table')</script>
#end for
