<dataset>
  <path>$path</path>
  <creationdate>$date</creationdate>
  <numberofevts>$nEvts</numberofevts>
  <numberoffiles>$nFiles</numberoffiles>
  <numberofblocks>$nBlks</numberofblocks>
  <blocksize>$blkSize</blocksize>
#for site in $sites
  <site>$site</site>
#end for
</dataset>
