<table>
#if $userMode!="user"
<tr>
<td><span class="sectionhead_tight">$dbs</span></td>
</tr>
#end if
#for item in $rssList
<tr>
#set l=$item.split("/")
#set app=$l[2].replace("___","/")
#set prim=$l[3]
<td><a href="$host/$item"><img src="images/rss_blue.gif" /></a> <b>Application:</b>$app, <b>Primary dataset:</b>$prim</td>
</tr>
#end for
</table>
<hr class="dbs" />
