<!-- templateRemoteDD.tmpl -->

#import time
At $time.strftime("%d %b %Y %H:%M:%S GMT",$time.gmtime()) the following
data discovery services are available:
<ul>
#for dd in $ddList
<li>
<a href="$dd">$dd</a> contains
</li>
#end for
</ul>

<!-- end of templateRemoteDD.tmpl -->
