<!-- templateSortBar -->
<div align="center">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tr>
<td align="left">
Found $num $oname.
Show <a href="$link">all</a>
#if $num>1000
<span class="box_red">(can be time consuming)</span>
#end if
</td>
<td align="center">
View results: 
<span id="gridView" class="">
<a href="javascript:GridView()">grid</a> 
</span>
 |
<span id="listView" class="td_underline_pad">
<a href="javascript:ListView()">list</a>
</span>
 mode
</td>
<td align="right">
<table>
<tr>
<td>
#if len($titleList)
#set sortName=$titleList[0]
<select id="sel_sortName" onchange="javascript:ReloadASearch();">
#for item in $titleList
#if not $excludeList.count($item)
<option value="$item">Sort by $item</option>
#end if
#end for
</select>
#else
#set sortName="N/A"
#end if
</td>
<td>
#if len($titleList)
<a href="javascript:SortDesc();ReloadASearch();">
<span id="sortDesc" class="td_underline_pad">desc</span></a>
|
<a href="javascript:SortAsc();ReloadASearch();">
<span id="sortAsc" class="">asc</span></a>
#end if
</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<script type="text/javascript">
function Update_aSearchForm() {
   var sortName=GetCookie('DBSDD_sortName');
   var sortOrder=GetCookie('DBSDD_sortOrder');
   var id=document.getElementById('sortOrder');
   id.value=sortOrder;
   id=document.getElementById('sortName');
   id.value=sortName;
}
function UpdateSortOrder() {
   var view=GetCookie('DBSDD_view');
   if (view) {
      var l_view=document.getElementById('listView');
      var g_view=document.getElementById('gridView');
      if (view=='grid') {
          g_view.className='td_underline_pad';
          l_view.className='';
      } else {
          l_view.className='td_underline_pad';
          g_view.className='';
      }
   }
   var sort=GetCookie('DBSDD_sortOrder');
   if (sort=='asc') {
       SortAsc();
   } else if (sort=='desc') {
       SortDesc();
   } else {
       SortDesc();
   }
   var sortName=GetCookie('DBSDD_sortName');
   var sel=document.getElementById('sel_sortName');
   var found=null;
   if (sortName) {
       for(i=0;i<sel.length;i++) {
           if(sel[i].value==sortName) {
              sel[i].selected="selected";
              found=1;
           //} else {
           //   sel[i].selected="";
           }
       }
       if(!found) {
          SetCookie('DBSDD_sortName','$sortName');
       }
   } else {
       SetCookie('DBSDD_sortName','$sortName');
   }
   //Update_aSearchForm();
}
UpdateSortOrder();
function ReloadASearch() {
   var dbsInst=\$('dbsInst').value;
   var caseSens=\$('caseSensitive').value;
   var userMode=\$('userMode').value;
   var userInput=\$('userInput').value;
   var sortName=\$('sel_sortName').value;
   var sortOrder=\$('sortOrder').value;
   var view=GetCookie('DBSDD_view');
   var grid=0;
   if(view=='grid') {
     grid=1;
   }
   SetCookie('DBSDD_sortName',sortName);
   SetCookie('DBSDD_sortOrder',sortOrder);
   var url='aSearch?dbsInst='+dbsInst+'&caseSensitive='+caseSens+'&userMode='+userMode+'&userInput='+userInput+'&sortName='+sortName+'&sortOrder='+sortOrder+'&grid='+grid;
   load(url);
}
function GridView() {
   var url=window.location.href;
   var newurl;
   if(url.search("grid=0")>0) {
      newurl=url.replace(/grid=0/g,'grid=1');
   } else if(url.search("grid=1")>0) {
      newurl=url;
   } else {
      newurl=url+"&grid=1";
   } 
   SetCookie('DBSDD_view','grid');
   load(newurl);
}
function ListView() {
   var url=window.location.href;
   var newurl;
   if(url.search("grid=1")>0) {
      newurl=url.replace(/grid=1/g,'grid=0');
   } else if(url.search("grid=0")>0) {
      newurl=url;
   } else {
      newurl=url+"&grid=0";
   } 
   SetCookie('DBSDD_view','list');
   load(newurl);
}
</script>

<!-- end of templateSortBar -->
