<!-- templateQLHelp.tmpl -->
<div>
$msg
</div>
<hr class="dbs" />
<table class="dbs_table">
<tr>
<th>
KEYS
</th>
<th>
ATTRIBUTES
</th>
#if $showExample
<th class="th_left">
EXAMPLES
</th>
#end if
</tr>
#try
#set counter=0
#if not len($helpList) ####### check if helpList is provided
<td colspan="3">
Fail to look-up DBS-QL help from DBS server
</td>
</tr>
#else
#for dict in $helpList
#if $counter%2
<tr class="zebra" valign="top">
#else
<tr valign="top">
#end if
#set key=$dict['name']
#set attr=$dict['attrs']
#set exam=$dict['examples']
<td>
$key
</td>
<td class="td_left">
#for x in $attr
$x<br/>
#end for
</td>
#if $showExample
<td class="td_left">
#for item in $exam
<em>$item['desc']?</em>
<br/>
<b>$item['query']</b>
<br/>
#end for
</td>
#end if
</tr>
#set counter=$counter+1
#end for
#end if ###### end of if
#except
<tr>
<td colspan="3">
Fail to look-up DBS-QL help from DBS server
</td>
</tr>
#pass
#end try
</table>

<!-- end of templateQLHelp.tmpl -->

