<!-- templateRunsInfo.tmpl -->
<script type="text/javascript">
registerAjaxPhedexCalls();
registerAjaxRunSummaryCalls();
</script>
#import urllib
#from utils.DDUtil import sizeFormat, colorSizeHTMLFormat
####set nRun=len($runList)
###if $proc
#if $proc
<p><b>$proc</b></p>
#end if
<table width="100%">
<tr>
<td align="left">
#if $nRun and $minRun and $maxRun
found $nRun results. Run range: $minRun-$maxRun. 
#end if
<span id="phedexInfo">
Show PhEDEx <a href="javascript:getPhedexStatus()">info</a>.
</span>
</td>
<td align="right">
#if $showRange
<script type="text/javascript">
function CheckRunRange() {
  var minRun=document.getElementById('minRun');
  var maxRun=document.getElementById('maxRun');
  maxRun.value=minRun.value;
}
</script>
<form action="getRuns" method="get">
<input type="hidden" name="dbsInst" value="$dbsInst" />
<input type="hidden" name="dataset" value="$proc" />
<input type="hidden" name="userMode" value="$userMode" />
Jump to run range: 
<input type="text" name="minRun" id="minRun" size="6" onchange="javascript:CheckRunRange()" />
-
<input type="text" name="maxRun" id="maxRun" size="6" />
<input type="submit" value="Go" />
</form>
#end if
</td>
</tr>
</table>
###end if
#*
<p />
<div align="right">
#if not $admin
<span class="box_blue">In order to manage DQ flags authentication is required</span>.
Manage <a href="javascript:reload(1)">DQ flags</a>
#else 
Return to non-admin <a href="javascript:reload(0)">page</a>.
#end if
</div>
*#

###<table id="$tableId" class="sortable" cellspacing="0" cellpadding="0" border="1">
#set tstyle="border-width: 1px 1px 1px 1px; border-style:solid; border-color:gray;"
<table id="$tableId" cellspacing="0" cellpadding="0" border="0" width="100%" style="$tstyle">
<tr valign="top" align="center" id="tr$tableId" name="tr$tableId" class="sortable_gray">
#set tstyle="padding:2px"
<td style="$tstyle">Run</td>
<td style="$tstyle">Type</td>
<td style="$tstyle">Events</td>
###<td style="$tstyle">Lumi sec.</td>
###<td style="$tstyle">Total L</td>
<td style="$tstyle">Store</td>
<td style="$tstyle">Start of run</td>
<td style="$tstyle">End of run</td>
#if not $admin
<td style="$tstyle">dataset</td>
<td style="$tstyle"># Files</td>
<td style="$tstyle">Size</td>
#end if
#if $userMode=="runManager"
### here we took first item from runList and 11th element which is dsType 
#set first=$runList[0]
#set firstType=$first[11]
#if $len($runList) and $firstType.lower()!='mc'
<td style="$tstyle">Mode</td>
<td style="$tstyle">System</td>
#end if
#end if
#if $userMode=="expert"
<td style="$tstyle">Created by</td>
<td style="$tstyle">Creation time</td>
<td style="$tstyle">Modified by</td>
<td style="$tstyle">Modification time</td>
#end if
#if not $admin
<td style="$tstyle">LFNs</td>
#end if
<td style="$tstyle">Transfer</td>
<td style="$tstyle">Data Quality</td>
<td style="$tstyle">Run Summary</td>
</tr>
###for dbsDict in $runList
#* (run,nEvts,nLumis,totLumi,store,sRun,eRun,cBy,cDate,mBy,mDate,dsType,path) *#
#set datasetDict={}
#set siteDict={}
#set _run_=0
#set rowColor="#FFFADC"

### use counter to make new tags on a page, to place DQ info for run/dataset pairs
#set counter=0
#for item in $runList
#set counter=$counter+1
#set run    = item[0]
#set nEvts  = item[1]
#set nLumis = item[2]
#set totLumi= item[3]
#set store  = item[4]
#set sRun   = item[5]
#set eRun   = item[6]
#set cBy    = item[7]
#set cDate  = item[8]
#set mBy    = item[9]
#set mDate  = item[10]
#set dsType = item[11]
#set procDS = item[12]
#set sites  = item[13]
#set fSize  = item[14]
#set nFiles = item[15]
#if run!=$_run_
#set tstyle="border-width: 1px 1px 0px 0px; border-style:solid dotted; border-color:gray;padding:2px;"
#if $rowColor=="#FFFADC"
###if $rowColor=="#FFFFFF"
#set rowColor="#FFF5E8"
###set rowColor="#edf4f9"
#else
#set rowColor="#FFFADC"
###set rowColor="#FFFFFF"
#end if
#else
#set tstyle="border-width: 0px 1px 0px 0px; border-style:solid dotted; border-color:gray;padding:2px;"
#end if
<tr valign="top" bgcolor="$rowColor" name="dbs_row_sumInfo" id="dbs_row_sumInfo">
### I need to get run type and decide do I need or not provide a link to run quality DB.
<td align="center" style="$tstyle">
#if _run_==$run
<hr class="dbs"/>
#end if
###if _run_!=$run
#if $dsType.lower()!='mc'
<a href="http://cmsmon.cern.ch/cmsdb/servlet/RunSummary?RUN=$run">
$run
</a>
<a href="http://cmsmon.cern.ch/cmsdb/servlet/DQMBrowser?RUN=$run">
DQM
</a>
#else
$run
#end if
###end if
</td>
<td align="right" style="$tstyle">
#if _run_==$run
<hr class="dbs"/>
#end if
###if _run_!=$run
$dsType 
###end if
</td>
<td align="right" style="$tstyle">
#if _run_==$run
<hr class="dbs"/>
#end if
###if _run_!=$run
$nEvts
###end if
</td>
###<td align="right">$nLumis </td>
###<td align="right">$totLumi </td>
<td align="right" style="$tstyle">
#if _run_==$run
<hr class="dbs"/>
#end if
###if _run_!=$run
$store
###end if
</td>
<td align="right" style="$tstyle">
#if _run_==$run
<hr class="dbs"/>
#end if
###if _run_!=$run
$sRun
###end if
</td>
<td align="right" style="$tstyle">
#if _run_==$run
<hr class="dbs"/>
#end if
###if _run_!=$run
$eRun
###end if
</td>
#if not $admin
<td style="$tstyle">
#if _run_==$run
<hr class="dbs"/>
#end if
<a href="/getData?dbsInst=$dbsInst&amp;proc=$urllib.quote($procDS)&amp;userMode=$userMode&amp;ajax=0&amp;phedex=off&amp;group=Any&amp;site=Any&amp;tier=Any&amp;app=Any&amp;primType=Any&amp;primD=Any">
#set pathName="/"+$procDS[1:].replace("/","<br />/")
$pathName
</a>
</td>
<td align="right" style="$tstyle">
#if _run_==$run
<hr class="dbs"/>
#end if
$nFiles
</td>
<td align="right" style="$tstyle">
#if _run_==$run
<hr class="dbs"/>
#end if
$colorSizeHTMLFormat($fSize)
</td>
#end if

#if $userMode=="runManager"
#if $dsType.lower()!='mc'
#if $runDBInfo.has_key($run)
#set runmode,system=$runDBInfo[$run]
#else
#set runmode='N/A'
#set system='N/A'
#end if
<td align="right" style="$tstyle">
#if _run_==$run
<hr class="dbs"/>
#end if
$runmode
</td>
<td align="right" style="$tstyle">
#if _run_==$run
<hr class="dbs"/>
#end if
$system
</td>
#end if
#end if
#if $userMode=="expert"
<td align="right" style="$tstyle">
#if _run_==$run
<hr class="dbs"/>
#end if
$cBy 
</td>
<td align="right" style="$tstyle">
#if _run_==$run
<hr class="dbs"/>
#end if
$cDate 
</td>
<td align="right" style="$tstyle">
#if _run_==$run
<hr class="dbs"/>
#end if
$mBy 
</td>
<td align="right" style="$tstyle">
#if _run_==$run
<hr class="dbs"/>
#end if
$mDate 
</td>
#end if
#if not $admin
<td align="right" style="$tstyle">
#if _run_==$run
<hr class="dbs"/>
#end if
<a href="/getLFN_txt?dbsInst=$dbsInst&amp;blockName=*&amp;dataset=$procDS&amp;userMode=$userMode&amp;run=$run&amp;what=cff">cff</a>
<br/>
<a href="/getLFN_txt?dbsInst=$dbsInst&amp;blockName=*&amp;dataset=$procDS&amp;userMode=$userMode&amp;run=$run">plain</a>
<br/>
<a href="/getLFNlist?dbsInst=$dbsInst&amp;blockName=*&amp;dataset=$procDS&amp;userMode=$userMode&amp;run=$run">details</a>
<br/>
<a href="/getLFNsWithParents?dbsInst=$dbsInst&amp;blockName=*&amp;dataset=$procDS&amp;userMode=$userMode&amp;run=$run">cff wParents</a>
<br/>
<a href="/getLFNsWithParents?dbsInst=$dbsInst&amp;blockName=*&amp;dataset=$procDS&amp;userMode=$userMode&amp;run=$run&amp;format=python">py wParents</a>
</td>
#end if ### end of admin check
#### Here is Phedex transfer status call for each site
<td align="right" style="$tstyle">
#if _run_==$run
<hr class="dbs"/>
#end if
#if len($sites)==1
#set phedexResponse=$sites[0]+":"+$procDS+":"+str($run)
#else
#set phedexResponse="multiple:"+$procDS+":"+str($run)
#end if
#if $datasetDict.has_key($run)
#set datasetDict[$run]=$datasetDict[$run]+[$procDS]
#else
#set datasetDict[$run]=[$procDS]
#end if
#set siteDict[$run]=$sites
<div id="$phedexResponse" name="phedexResponseName">
<span class="hide">Phedex</span>
#for site in $sites
$site<br />
#end for
</div>

<script type="text/javascript">
var phedexUpdater = new PhedexUpdater('$phedexResponse');
ajaxEngine.registerAjaxObject('$phedexResponse',phedexUpdater);
</script>

</td>


### Here is DQ flags
<td style="$tstyle">
<hr class="dbs"/>

### use counter as tag id, thid dqid is used later in JavaScript, see below
#set dqid="dq_run_"+str($counter)
<div id="$dqid" name="$dqid"></div>

<script type="text/javascript">
var dqUpdater = new IdUpdater('$dqid','replace');
ajaxEngine.registerAjaxObject('$dqid',dqUpdater);
</script>

</td>

#### Here is Run summary status call for each run
<td style="$tstyle">
<div id="runSummary_key_$run" name="runSummary_key_$run"></div>
<div id="runSummary_triggers_$run" name="runSummary_triggers_$run"></div>
<div id="runSummary_events_$run" name="runSummary_events_$run"></div>
<div id="runSummary_bfield_$run" name="runSummary_bfield_$run"></div>
<div id="runSummary_components_$run" name="runSummary_components_$run"></div>
<div id="runSummary_hlt_$run" name="runSummary_hlt_$run"></div>
<script type="text/javascript">
var runUpdater_k = new IdUpdater('runSummary_key_$run');
ajaxEngine.registerAjaxObject('runSummary_key_$run',runUpdater_k);
var runUpdater_t = new IdUpdater('runSummary_triggers_$run');
ajaxEngine.registerAjaxObject('runSummary_triggers_$run',runUpdater_t);
var runUpdater_e = new IdUpdater('runSummary_events_$run');
ajaxEngine.registerAjaxObject('runSummary_events_$run',runUpdater_e);
var runUpdater_b = new IdUpdater('runSummary_bfield_$run');
ajaxEngine.registerAjaxObject('runSummary_bfield_$run',runUpdater_b);
var runUpdater_c = new IdUpdater('runSummary_components_$run');
ajaxEngine.registerAjaxObject('runSummary_components_$run',runUpdater_c);
var runUpdater_h = new IdUpdater('runSummary_hlt_$run');
ajaxEngine.registerAjaxObject('runSummary_hlt_$run',runUpdater_h);
</script>
</td>

</tr>
#set _run_=$run
#end for
</table>
<hr class="dbs" />

<script type="text/javascript">
function getPhedexStatus() {
#set runs=""
#for run in $datasetDict.keys()
#set datasets=','.join($datasetDict[$run])
#set listOfSites=','.join($siteDict[$run])
ajaxPhedexStatus('$listOfSites','$datasets','$run');
#if not $runs
#set runs="%s"%$run
#else
#set runs=runs+',%s'%$run
#end if
#end for
var id=document.getElementById("phedexInfo");
id.innerHTML='Hide PhEDEx <a href="javascript:hidePhedexInfo()">info</a>';
}
function hidePhedexInfo() {
   var sel=document.getElementsByName("phedexResponseName");
   for(i=0;i<sel.length;i++) {
       sel[i].innerHTML="";
   }
   var id=document.getElementById("phedexInfo");
#if $proc
   id.innerHTML='PhEDEx <a href="javascript:getPhedexStatus()">info</a>';
#else
   id.innerHTML='Show PhEDEx <a href="javascript:getPhedexStatus()">info</a>';
#end if
}
ajaxRunSummary('$runs');
function getAllDQ() {
### use counter to make new tags on a page, to place DQ info for run/dataset pairs
#set counter=0
#for item in $runList
#set counter=$counter+1
#set run    = item[0]
#set procDS = item[12]
### the dqid should match with one shown above on a page
#set dqid="dq_run_"+str($counter)
   ajaxGetDQInfo('$dbsInst','$procDS','$run','$dqid','$admin');
   //YAHOO.util.Event.addListener(window, "load", treeInitdq_${run}); // treeInitdq_$run shipts via AJAX
#end for
}
function reload(adminFlag) {
   var myUrl=window.location.href;
   if(myUrl.search("admin")>0) {
     if (adminFlag==1) {
         url=myUrl.replace(/admin=0/g,'admin=1');
     } else {
         url=myUrl.replace(/admin=1/g,'admin=0');
     }
   } else {
     if(myUrl.search(/\?/)>0) {
       url=myUrl+"&admin="+adminFlag;
     } else {
       url=myUrl+"?admin="+adminFlag;
     }
   }
   load(url);
}
getAllDQ();
</script>
<!-- end of templateRunsInfo.tmpl -->
