<!-- templateBarNavigator.tmpl -->
<span class="td_underline" style="padding: 3px 3px 3px 3px;">
<b>Menu:Navigator</b></span> &#187; 
<b>DBS instance:</b>$dbsInst &#187; 
<b>Site:</b>$site &#187; 
<b>Application:</b>$app &#187; 
<b>Primary Dataset:</b>$prim &#187; 
<b>Data tier:</b>$tier
<hr class="dbs" />
<!-- end of templateBarNavigator.tmpl -->
