#set rel=$appPath.split("/")[1]
Release: <b>$rel</b>
<p />

<table class="dbs_table">
<tr>
<th>File name</th>
<th>Version</th>
<th>Type</th>
<th>Annotation</th>
<th>Creation Date</th>
<th>Created By</th>
<th>Modifictaion Date</th>
<th>Modified By</th>
<th>Releases</th>
<th></th>
</tr>
#for config in $configList
#set id=$config[0]
#set name=$config[1]
#set ver=$config[2]
#set type=$config[3]
#set ann=$config[4]
#set cDate=$config[5]
#set cBy=$config[6]
#set mDate=$config[7]
#set mBy=$config[8]
<tr>
<td><a href="javascript:popUp('$host/getConfigContent?dbsInst=$dbsInst&amp;id=$id&amp;name=$name',1000)">$name</a></td>
<td>$ver</td>
<td>$type</td>
<td>$ann</td>
<td>$cDate</td>
<td>$cBy</td>
<td>$mDate</td>
<td>$mBy</td>
<td>
<select id="config_$name">
#for r in $releases
<option>$r</option>
#end for
</select>
</td>
<td><input type="button" value="Compare" id="button_$name" onclick="javascript:CompareAppConfigs('$host','$dbsInst','$rel','$name')" /></td>
</tr>
#end for
</table>
