<!-- templateMenuNavigator.tmpl -->
$userNavigator

###<script type="text/javascript">ajaxEngine.registerRequest('ajaxGetTriggerLines','getTriggerLines');ajaxUpdatePrimaryDatasets()</script>
<!-- end of templateMenuNavigator.tmpl -->
