<!-- templateFormatLFN_txt -->
<pre>
#for lfn in $lfnList
$lfn
#end for

#import types
#if type($pfnList) is types.ListType
\# Parents
#for pfn in $pfnList
#if $pfn!=$pfnList[-1]
$pfn
#end if
#end for
#end if
</pre>

<!-- end of templateFormatLFN_txt -->
