<!-- templateMenuSiteSearch.tmpl -->
<table class="table_box_white" border="0" width="100%">
<tr valign="top">
<td class="box_darkblue">
DBS Discovery :: Site search menu
</td>
</tr>
<tr valign="top">
<td>
$siteForm
</td>
</tr>
</table>
<!-- end of templateMenuSiteSearch.tmpl -->
