<!-- templateMenuRuns.tmpl -->

<form action="getRunsFromRange">

<input type="hidden" name="ajax" value="0" />
<input type="hidden" name="userMode" value="$userMode" id="kw_userModeSelector" />
<input type="hidden" name="release" value="Any" id="kw_release" />
<input type="hidden" name="group" value="Any" id="kw_group" />
<input type="hidden" name="tier" value="Any" id="kw_tier" />
#if $userMode=='user'
<input type="hidden" name="dbsInst" value="$dbsInst" id="kw_dbsInstSelector" />
<!-- begin menu table -->
<table cellpadding="2" cellspacing="2">
#else
<!-- begin menu table -->
<table cellpadding="2" cellspacing="2">
<tr>
<td align="right">
<div id="dbsInstDef">
<b>DBS instances</b>
</div>
</td>
<td>
##<select name="dbsInst" id="kw_dbsInstSelector" onchange="javascript:resetRunNav()" style="$style">
<select name="dbsInst" id="kw_dbsInstSelector" style="$style">
#for dbs in $dbsList
<option value="$dbs">$dbs</option>
#end for
</select>
</td>
</tr>
#end if


<tr>
<td align="right">
<div id="datasetDef">
<b>Dataset</b>
</div>
</td>
<td>

<div id="kw_dataset_holder">
<input name="dataset" value="" size="80"/>
</div>

</td>
</tr>

<tr>
<td align="right">
<div id="runRangeDef">
<b>Run ranges</b>
</div>
</td>
<td>

<div id="kw_runRange_holder">
<input name="minRun" value="" size="20"/>
--
<input name="maxRun" value="" size="20"/>
</div>

</td>
</tr>

<tr>
<td>
</td>
<td>
<input type="submit" value="Find" id='userRunId' />
##<input type="reset" value="Reset" onclick="resetRunNav()" />
</td>
</tr>


</table>

</form>

<script type="text/javascript">
var tooltip;
tooltip="<p>List of known DBS instances.</p>";
MakeTooltip("t_dbsInst","dbsInstDef",tooltip);
tooltip="<p>Dataset path, e.g. /Mu/Run2010B-Dec4ReReco_v1/RECO</p>";
MakeTooltip("t_dataset","datasetDef",tooltip);
tooltip="<p>Here you can specify you desired run range. If you see N/A that means there is no runs available for your selection above.</p>";
MakeTooltip("t_runRange","runRangeDef",tooltip);
</script>
<!-- end oftemplateMenuRuns.tmpl -->
