Use this form to show detailed information about particular site.
<p></p>

<!--
<form action="javascript:ResetAllResults();showWaitingMessage();ajaxSiteSearch()" method="get">
-->
<form action="getFileBlocks" method="get">
<table>
<tr>
<td>Choose DBS instance</td>
<td>
###<select name="dbsInst" onchange="updateSites(this)" id="form2_dbsSelector">
<select name="dbsInst" onchange="ajaxGetSites('','form2_dbsSelector','form2_siteHolder','form2_siteSelector')" id="form2_dbsSelector">
#for dbs in $dbsList
#if $dbs==$firstDBS
<option value="$dbs" selected="selected">$dbs</option>
#else
<option value="$dbs">$dbs</option>
#end if
#end for
</select>
</td>
<td>
</td>
</tr>
<tr valign="top">
<td align="right">Please select a site:
</td>
<td>

<div id="form2_siteHolder">
<select id="form2_siteSelector" name="site">
#for site in $siteList
<option value="$site">$site</option>
#end for
</select>
</div>

</td>
<td>
###<input type="submit" value="Search" id="form2_submit-button" onclick="javascript:showWaitingMessage()"/>
<input type="hidden" value="0" name="ajax" />
<input type="hidden" value="$userMode" name="userMode" />
<input type="submit" value="Search" id="form2_submit-button" />
</td>
</tr>
</table>
</form>


