<!-- templateBlockList.tmpl -->
<hr class="dbs" />
#if len($blockList)
Datasets:
<table class="offset_left">
#for item in $blockList
#set path=item[0]
#set idPath=$path.replace("/","___")
#set evts=item[1]
<tr>
<td align="left">
<b>$path</b>
</td>
<td>
<div id="$idPath"></div>
</td>
<td align="center">
<a href="javascript:ajaxEngine.registerAjaxElement('$idPath');ajaxMoreInfo('$dbsInst','$path','$appPath','$idPath')">&#171; more &#187;</a>
###<a href="javascript:ajaxEngine.registerAjaxElement('$idPath');ajaxMoreInfo('$dbsInst','$path','$appPath','$idPath')"><img src="images/mag_glass2_small.png" alt="more info" style="border:none" /></a>
#*
(<a href="javascript:popUp('$host/getDataDescription?dbsInst=$dbsInst&amp;processedDataset=$path',1000)">Description</a>,
</td>
<td>
<a href="javascript:popUp('https://cmsdoc.cern.ch:8443/cms/aprom/phedex/tbedi/Request::Create?dbschoice=known&amp;dbs=http%3A//cmsdbs.cern.ch/cms/prod/comp/DBS/CGIServer/prodquery%3Finstance%3D$dbsInst&amp;data=$path&amp;priority=0',1000)">PhEDEx subscription</a>,
</td>
<td align="center">
<a href="javascript:popUp('$host/crabCfg?dataset=$path&amp;totEvt=$evts',1000)">crab.cfg</a>)
*#
</td>
</tr>
#end for
</table>
#end if
<!-- end of templateBlockList.tmpl -->
