<!-- templateProcessedDatasetsLite.tmpl -->
#set cmsName="No SiteDB name"
#set siteList=$mDict['sites']
#set empty,prim,proc,tier=$path.split("/")
#set idPath=$path.replace("/","___")
#set tid="table_"+$idPath
<hr class="dbs" />
<table width="100%">
<tr>
<td align="left" width="78%">
<b>$path</b>
</td>
<td>
<div id="$idPath"></div>
</td>

<td align="right">
#if $userMode=='expert'
<a href="adminDataset?dbsInst=$dbsInst&amp;dataset=$path&amp;siteList=$str($siteList)&amp;userMode=$userMode">Administrate</a>
#end if
</td>

</tr>
</table>

#from utils.DDUtil import sizeFormat, colorSizeHTMLFormat
#set prdDate=$mDict['created']
#set cBy=$mDict['creator']
#set nblks=$mDict['blocks']
#set size=$colorSizeHTMLFormat($mDict['size'])
#set nFiles=$mDict['files']
#set nEvts=$mDict['evts']
#set nSites=$len($mDict['sites'])
#set se="all"

#if $nSites==1
#set _site="site"
#else
#set _site="sites"
#end if
Created $prdDate,
contains $nEvts events, $nFiles files, $nblks block(s), $size, located at 
#if $nSites
$nSites
#if $userMode=='user'
$_site
(<a href="javascript:ShowTag('$tid')">show</a>, 
<a href="javascript:HideTag('$tid')">hide</a>), 
#else
${_site},
#end if
#else
<span class="box_red"><b>no sites</b></span>
#end if
LFNs:
<a href="${host}/getLFNsForSite?dbsInst=$dbsInst&amp;site=$se&amp;datasetPath=$path&amp;what=cff&amp;userMode=$userMode&amp;run=$run">cff</a>,
<a href="${host}/getLFNsForSite?dbsInst=$dbsInst&amp;site=$se&amp;datasetPath=$path&amp;what=py&amp;userMode=$userMode&amp;run=$run">py</a>,
<a href="${host}/getLFNsForSite?dbsInst=$dbsInst&amp;site=$se&amp;datasetPath=$path&amp;what=txt&amp;userMode=$userMode&amp;run=$run">plain</a>
#if $run and not ($run=="*" or $str($run).lower()=="all" or $str($run).lower()=="any")
<br />
All data provided for full dataset, while LFNs links given wrt run=$run
#end if
, &#8747;<em>L</em>=<span id="intLumi$idPath"></span>
<br/>
<a href="${host}/aSearch?dbsInst=$dbsInst&amp;userInput=find+release+where+dataset=$path&amp;userMode=$userMode&amp;caseSensitive=on">
Release info
</a>
,
<a href="${host}/getBlocksInfo?dbsInst=$dbsInst&amp;dataset=$path&amp;userMode=$userMode">
Block info
</a>
,
<a href="${host}/getRuns?dbsInst=$dbsInst&amp;dataset=$path&amp;_idx=0&amp;ajax=0&amp;userMode=$userMode">
Run info
</a>
,
<a href="${host}/getAppConfigs?dbsInst=$dbsInst&amp;appPath=$appPath&amp;procPath=$path&amp;ajax=0&amp;userMode=$userMode">
Conf. files
</a>
,
<a href="${host}/getDatasetProvenance?dbsInst=$dbsInst&amp;dataset=$path&amp;ajax=0&amp;userMode=$userMode">
Parents
</a>
,
<a href="${host}/getDatasetChildren?dbsInst=$dbsInst&amp;dataset=$path&amp;ajax=0&amp;userMode=$userMode">
Children
</a>
,
<a href="${host}/getDataDescription?dbsInst=$dbsInst&amp;processedDataset=$path&amp;userMode=$userMode">
Description
</a>
,
<a href="$PhedexURL?type=xfer&amp;dbschoice=known&amp;dbs=$dbsInstURL&amp;data=$path&amp;priority=1">
PhEDEx
</a>
,
<a href="${host}/createAnalysisDS?dbsInst=$dbsInst&amp;dataset=$path">
Create ADS
</a>
,
<a href="${host}/getAnalysisDS?dbsInst=$dbsInst&amp;dataset=$path&amp;ajax=0&amp;userMode=$userMode">
ADS
</a>
,
<a href="${host}/crabCfg?dbsInst=$dbsInst&amp;dataset=$path&amp;totEvt=-1&amp;userMode=$userMode">
crab.cfg
</a>
<p>
</p>

### Phedex status
#if $userMode!='user'
<div name="phedexStatusField" class="hide">
PhEDEx status:<br>
<div class="offset_left">
#if $phedex
#set phedexResponse=$phedex+":"+$path
#else
#set phedexResponse="multiple:"+$path
#end if
<div id="$phedexResponse"><img src="images/loading.gif" alt="Loading data" />&nbsp;Please wait, while we retrieve PhEDEx data</div>
</div>
</div>
<script type="text/javascript">
var phedexUpdater = new PhedexUpdater('$phedexResponse');
ajaxEngine.registerAjaxObject('$phedexResponse',phedexUpdater);
</script>
#end if
##

#if $userMode=='user'
#set className="hide"
#else
#set className="show_inline"
#end if
<!-- Summary -->
<div id="$tid" name="summaryTables" class="$className">
<table cellspacing="0" cellpadding="0" border="1">
  <tr valign="top" align="center">
     <th>Location</th>
     <th>Events</th>
     <th>Files</th>
     <th>size</th>
     <th>LFNs</th>
  </tr>
#for site in $siteDict.keys()

#set cmsName='<a href="https://savannah.cern.ch/support/?func=additem&group=cmscompinfrasup&assigned_to=4435&category_id=108">No SiteDB name</a>'
#if $site
#if $cmsNames.has_key($site)
#set cmsName=$cmsNames[$site]
#end if
#end if

#set val=$siteDict[$site]
#set siteTotEvt=$val[0]
#set siteTotFiles=$val[1]
#set siteTotSize=$val[2]
  <tr valign="top" class="sortable_yellow">
#if $long($nEvts)!=$long($siteTotEvt) or $long($nFiles)!=$long($siteTotFiles)
     <td><div class="dbs_cell_warmred">$cmsName : $site</div></td>
#else
#if $site
     <td><div class="dbs_cell">$cmsName : $site</div></td>
#else
     <td class="dbs_cell_r"><div>$cmsName : $site</div></td>
#end if
#end if
     <td align="right"><div class="dbs_cell">$siteTotEvt</div></td>
     <td align="right"><div class="dbs_cell">$siteTotFiles</div></td>
     <td align="right"><div class="dbs_cell">$colorSizeHTMLFormat($siteTotSize)</div></td>
     <td align="center">
     <a href="${host}/getLFNsForSite?dbsInst=$dbsInst&amp;site=$site&amp;datasetPath=$path&amp;what=cff&amp;userMode=$userMode&amp;run=$run">cff</a>
     <a href="${host}/getLFNsForSite?dbsInst=$dbsInst&amp;site=$site&amp;datasetPath=$path&amp;what=txt&amp;userMode=$userMode&amp;run=$run">plain</a>
     </td>
  </tr>
#end for
</table>
</div>
<!-- End of Summary table -->

##
#if $phedex
<script type="text/javascript">
ShowPhedexStatusOutput();
</script>
#end if

<script type="text/javascript">
ajaxEngine.registerRequest('ajaxGetIntegratedLumi','getIntegratedLumi');
ajaxEngine.registerAjaxElement('intLumi$idPath');
ajaxGetIntegratedLumi('$dbsInst','$path');
</script>
<!-- end of templateProcessedDatasetsLite.tmpl -->
