<!-- templateTop.tmpl -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>DBS data discovery page</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="Content-Language" content="en-us" />
<meta name="author" content="Valentin Kuznetsov (vkuznet at gmail dot com)" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta name="ROBOTS" content="ALL" />
<meta name="Copyright" content="(CC) 2007, CMS collaboration." />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="Rating" content="General" />
<link rel="stylesheet" type="text/css" href="css/dbs.css" />
<link rel="stylesheet" type="text/css" href="css/masthead_dbs.css" />

<!-- YUI CSS -->
<link rel="stylesheet" type="text/css" href="../YUI/container/assets/container.css">

<!-- set non-visible display content by default -->
<style type="text/css">div.normalcontent { display:none }</style>
<!-- if JavaScripts enables, turn visiable content on -->

<!-- YUI and WEBTOOLS -->
<script type="text/javascript" src="../YUI/yahoo/yahoo.js"></script>
<script type="text/javascript" src="../YUI/dom/dom.js"></script>
<script type="text/javascript" src="../YUI/event/event.js"></script> 
<script type="text/javascript" src="../YUI/container/container_core.js"></script>
<script type="text/javascript" src="../YUI/yahoo-dom-event/yahoo-dom-event.js"></script>

<script type="text/javascript" src="../YUI/dom/dom-min.js"></script>
<script type="text/javascript" src="../YUI/yahoo/yahoo-min.js"></script>
<script type="text/javascript" src="../YUI/event/event-min.js"></script>
<script type="text/javascript" src="../YUI/container/container-min.js"></script>
<script type="text/javascript" src="../YUI/connection/connection-min.js"></script>
<script type="text/javascript" src="../YUI/autocomplete/autocomplete-min.js"></script>

<script type="text/javascript" src="http://cmslcgco01.cern.ch:8050/Common/js/masthead.js"></script>
<script type="text/javascript" src="http://cmslcgco01.cern.ch:8050/Common/js/footer.js"></script>

<!-- DBS and RICO -->
<script type="text/javascript" src="js/userName.js"></script>
<script type="text/javascript" src="js/utils.js"></script>
<script type="text/javascript" src="js/yui_utils.js"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/rico.js"></script>
<script type="text/javascript" src="js/ajax_init.js"></script>
<script type="text/javascript" src="js/dhtml_history/dhtmlHistory.js"></script>

#if $userMode=='user'
<script type="text/javascript" src="js/userFooter.js"></script>
#else
<script type="text/javascript" src="js/expertFooter.js"></script>
#end if

</head>
<body onload="setGreeting();ajaxInit('$dbsGlobal');insertMastHead('dbs','');initialize_dhtmlHistory();$onload" id="content">

<noscript>
<h1 class="box_red">Warning:</h1>
<table width="50%" class="main">
<tr>
<td>
<div class="sectionhead_tight">DBS/DLS discovery page
is AJAX enabled and require that your browser have scripting 
enabled and JavaScript support. Your browser either does not support JavaScript, 
or it has JavaScript support disabled. Please enable JavaScript support or 
use a different browser with JavaScript support to use this page.
</div>
</td>
</tr>
</table>
</noscript>

<div id="main" class="hide">
<script type="text/javascript">SetMain()</script>

<!-- end of templateTop.tmpl -->
