<!-- templateDbsInfoTableEntry.tmpl -->
###Site='$site' contains the following blocks:<p/>
<table class="dbs_table_plain">
<tr>
<th align="left" >Dataset</th>
<th align="left" >Block name</th>
<th align="right">Events</th>
<th align="right">Files</th>
<th align="right">Size</th>
<th align="right">LFNs</th>
<th align="right">Status</th>
#if $userMode!='user'
<th align="right">Created by</th>
<th align="right">Creation time</th>
<th align="right">Modified by</th>
<th align="right">Modifiction time</th>
#end if
</tr>

#from utils.DDUtil import sizeFormat, colorSizeHTMLFormat
#for dbsDict in $dbsList
#set prdName=$dbsDict['ProcDSName']
#set pName="/"+$prdName[1:].replace("/","<br>/")
#set blockName=$dbsDict['Name']
#set bName=$blockName.replace('#','%23')
#set sName=$blockName.replace('#','<br />#')
<tr>
<td align="left" >$pName</td>
<td align="left" >$sName</td>
<td align="right">$dbsDict['NumberOfEvents']</td>
<td align="right">$dbsDict['NumberOfFiles']</td>
<td align="right">$colorSizeHTMLFormat($dbsDict['BlockSize'])</td>
<td align="right">
<a href="$host/getLFN_cfg?dbsInst=$dbsInst&amp;blockName=$bName&amp;userMode=$userMode">cff</a>, 
<a href="$host/getLFN_txt?dbsInst=$dbsInst&amp;blockName=$bName&amp;userMode=$userMode">txt</a>,
<a href="$host/getLFNlist?dbsInst=$dbsInst&amp;blockName=$bName&amp;userMode=$userMode">details</a>
</td>
#if int($dbsDict['OpenForWriting'])==1
<td align="center" style="background-color:AliceBlue;">OPEN</td>
#else
<td align="center" style="background-color:AntiqueWhite;">CLOSED</td>
#end if
#if $userMode!='user'
<td align="right">$dbsDict['CreatedBy']</td>
<td align="right">$dbsDict['CreationDate']</td>
<td align="right">$dbsDict['LastModifiedBy']</td>
<td align="right">$dbsDict['LastModificationDate']</td>
#end if 
</tr>
#end for

</table>
<!-- end of templateDbsInfoTableEntry.tmpl -->
