Processed dataset:<br /> 
<span class="offset_left">
<b>$proc</b>
</span>
###<table id="$tableId" class="sortable" cellspacing="0" cellpadding="0" border="1">
<table id="$tableId" cellspacing="0" cellpadding="0" border="1">
<tr valign="top" align="center" id="tr$tableId" name="tr$tableId" class="sortable_gray">
<td>Block name</td>
<td>Events</td>
<td>Files</td>
<td>Size</td>
<td>LFNs</td>
<td>Status</td>
<td>Created by</td>
<td>Creation time</td>
<td>Modified by</td>
<td>Modification time</td>
</tr>
#from DDUtil import sizeFormat, colorSizeHTMLFormat
#from DDUtil import splitString 
#for dbsDict in $dbsList
#set bName=$dbsDict['Name']
#set sName=$splitString($dbsDict['Name'],30,"<br />")
<tr valign="top" bgcolor="#FFFADC" name="dbs_row_sumInfo" id="dbs_row_sumInfo">
<td align="left" class="td20">$sName</td>
<td align="right">$dbsDict['NumberOfEvents']</td>
<td align="right">$dbsDict['NumberOfFiles']</td>
<td align="right">$colorSizeHTMLFormat($dbsDict['BlockSize'])</td>
<td align="center">
<a href="javascript:popUp('$host/getLFN_cfg?dbsInst=$dbsInst&amp;blockName=$bName&amp;dataset=$proc',1000)">cff</a>, 
<a href="javascript:popUp('$host/getLFN_txt?dbsInst=$dbsInst&amp;blockName=$bName&amp;dataset=$proc',900)">txt</a>,
<a href="javascript:popUp('$host/getLFNlist?dbsInst=$dbsInst&amp;blockName=$bName&amp;dataset=$proc',1000)">details</a>
</td>
#if int($dbsDict['OpenForWriting'])==1
<td align="center" style="background-color:AliceBlue;">OPEN</td>
#else
<td align="center" style="background-color:AntiqueWhite;">CLOSED</td>
#end if
<td align="right">$dbsDict['CreatedBy']</td>
<td align="center">$dbsDict['CreationDate']</td>
<td align="right">$dbsDict['LastModifiedBy']</td>
<td align="center">$dbsDict['LastModificationDate']</td>
</tr>
#end for
</table>
###<script type="text/javascript">SplitBlockName()</script>
<hr class="dbs" />
