<!-- templateAdvancedSearchForm.tmpl -->

<div align="center">
<form action="aSearch" method="get">

<input type="text" size="80" name="userInput" />
<input type="hidden" name="dbsInst" value="cms_dbs_prod_global" />
<input type="submit" value="Search" />
###<input type="reset" value="Reset" />

</form>

<p></p>
<p></p>
##<p>The advanced search engine look-up dataset based on your keyword input.</p>

<table>
<tr>
<td align="right">
<b>Syntax:</b>
</td>
<td>
&lt;keyword&gt;:&lt;value&gt;, you may use asterisk symbol to define patterns.
</td>
</tr>

<tr valign="top">
<td align="right">
<b>Keywords:</b>
</td>
<td>dataset, block, file, release, run, lumi, pset, se
</td>
</tr>

<tr valign="top">
<td align="right">
<b>Example:</b>
</td>
<td>
run:34850 dataset:*Online* se:srm.cern.ch
<br/>
lookup run 34850 from dataset with pattern name Online, located at srm.cern.ch.
</td>
</tr>

</table>

</div> <!-- end of center -->

<!-- end of templateAdvancedSearchForm.tmpl -->
