<!-- templateAutoComplete.tmpl -->
#set ysearchmod=$tag+"mod"
#set ysearchautocomplete=$tag+"autocomplete"
#set ysearchinput=$tag+"input"
#set ysearchcontainer=$tag+"container"
#*
<style type="text/css">
#$ysearchmod {position:relative;}
#$ysearchautocomplete {position:relative;margin-bottom:0.5em;width:80%;}/* set width of widget here*/
#$ysearchautocomplete {z-index:$zIndex;} /* for IE z-index of absolute divs inside relative divs issue */
#$ysearchinput {_position:absolute;width:100%;height:1.4em;z-index:0} /* abs for ie quirks */
#$inputId {_position:absolute;height:1.4em;z-index:0} /* abs for ie quirks */
#$ysearchcontainer {position:absolute;top:2.5em;width:100%;z-index:9050;}
#$ysearchcontainer .yui-ac-content {position:absolute;width:100%;border:1px solid #404040;background:#fff;overflow:hidden;z-index:9050;}
#$ysearchcontainer .ysearchquery {position:absolute;right:10px;color:#808080;z-index:10;}
#$ysearchcontainer .yui-ac-shadow {position:absolute;margin:.3em;width:100%;background:#a0a0a0;z-index:9049;}
#$ysearchcontainer ul {padding:5px 0;width:100%; list-style-type: none;}
#$ysearchcontainer li {padding:3px 0px 3px 3px;margin: 1px 0;}
#$ysearchcontainer li.yui-ac-highlight {background:#E0E0E0;padding:3px 0px 3px 3px}
</style>
*#
<style type="text/css">
#$ysearchmod {position:relative;}
#$ysearchautocomplete {position:relative;margin-bottom:0.5em;width:80%;}/* set width of widget here*/
#$ysearchautocomplete {z-index:$zIndex;} /* for IE z-index of absolute divs inside relative divs issue */
#$ysearchinput {width:100%;height:1.4em;z-index:0} /* abs for ie quirks */
#$inputId {height:1.4em;z-index:0} /* abs for ie quirks */
#$ysearchcontainer {width:100%;z-index:9050;}
#$ysearchcontainer .yui-ac-content {position:absolute;width:100%;border:1px solid #404040;background:#fff;overflow:hidden;z-index:9050;}
#$ysearchcontainer .ysearchquery {position:absolute;right:10px;color:#808080;z-index:10;}
#$ysearchcontainer .yui-ac-shadow {position:absolute;margin:.3em;width:100%;background:#a0a0a0;z-index:9049;}
#$ysearchcontainer ul {padding:5px 0;width:100%; list-style-type: none;}
#$ysearchcontainer li {padding:3px 0px 3px 3px;margin: 1px 0;}
#$ysearchcontainer li.yui-ac-highlight {background:#E0E0E0;padding:3px 0px 3px 3px}
</style>

<b>$label</b> 
<div id="$ysearchautocomplete">
<input type="text" name="$inputName" id="$inputId" size="$size" />
<div id="$ysearchcontainer"></div>
</div>
<input type="hidden" id="autocomplete" name="autocomplete" value="on" />

<script type="text/javascript">
var schema=['\n','\t'];
myXHRDataSource = new YAHOO.widget.DS_XHR('./$method', schema);
//myXHRDataSource = new YAHOO.widget.DS_XHR('./getTableColumn', schema);
//myXHRDataSource.scriptQueryParam = "name"; // name replace default 'query' 
myXHRDataSource.scriptQueryAppend = "dbsInst=$dbsInst&key=$key&wherekey=$wherekey&autocomplete=on";
//myXHRDataSource.connTimeout = 3000; 
myXHRDataSource.responseType = YAHOO.widget.DS_XHR.TYPE_FLAT;
myXHRDataSource.maxCacheEntries = 60;
// This flag below does not allow to invoke query again once typed additional letters
//myXHRDataSource.queryMatchSubset = true;

// Instantiate first AutoComplete
var myAutoComp = new YAHOO.widget.AutoComplete('$inputId','$ysearchcontainer', myXHRDataSource);
//myAutoComp.typeAhead=true;
myAutoComp.queryDelay = 1; 
myAutoComp.prehighlightClassName = "yui-ac-prehighlight"; 
myAutoComp.useShadow = true;
</script>

<!-- end of templateAutoComplete.tmpl -->
