<!-- templateAdminConfirmation.tmpl -->
<p>
Your request has been sent. Here is request status
</p>
<p>
$status
</p>
You may look at your requests
<a href="$adminUrl?api=getRequestByUser&dn=$dn">
here
</a>
<!-- end of templateAdminConfirmation.tmpl -->
