<!-- templateCreateMart.tmpl -->
#*
 * we pass the following format
 * {'block':[blockList],'blockName':[lfnList]}
*#
<pre>
[HOSTDBS]
$dbsInst

[PATH]
$dataset

[USER]
$user

[STATUS]
$status

[DEFINITION]
$definition

[DESCRIPTION]
$description

[TIMESTAMP]
$timeStamp

[BLOCKS]
#for item in $blkList
$item[0] $item[1]
#end for

[FILES]
#for item in $lfnList
$item[0] $item[1] $item[2]
#end for

[RUNS]
#for item in $runList
$item[0] $item[1] $item[2]
#end for

[EXCLUDED LUMISECTIONS]

</pre>
<!-- end of templateCreateMart.tmpl -->
