<span id="snapshot_dbsInst" class="hide">$dbsInst</span>
<span id="snapshot_site"    class="hide">$site</span>
<span id="snapshot_app"     class="hide">$app </span>
<span id="snapshot_prim"    class="hide">$prim</span>
<span id="snapshot_tier"    class="hide">$tier</span>
<span id="snapshot_proc"    class="hide">$proc</span>
