<!-- templateProvenance.tmpl -->
#import urllib
<div>
#if len($oList)

Dataset:
<table class="offset_left">
<tr>
<td align="left">
<b>
<a href="$host/getData?dbsInst=$dbsInst&amp;proc=$urllib.quote($dataset)&amp;userMode=$userMode&amp;ajax=0&amp;phedex=off">
$dataset
</a>
</b>
</td>
<tr>
</table>
has the following list of $who:
<table class="offset_left">
#for dataset in $oList
#set path=$urllib.quote($dataset)
<tr>
<td align="left">
<b>
<a href="$host/getData?dbsInst=$dbsInst&amp;proc=$path&amp;userMode=$userMode&amp;ajax=0&amp;phedex=off">
$dataset
</a>
</b>
</td>
</tr>
#end for
</table>

#else

No $who found for dataset:
<table class="offset_left">
<tr>
<td align="left">
<b>$dataset</b>
</td>
<tr>
</table>

#end if
</div>
<!-- end of templateProvenance.tmpl -->
