<!-- templateUserNav.tmpl -->
<!-- begin outer most table -->
<table class="lfn" width="90%">
<tr valign="top">
<td valign="top" align="left">

<form action="getData" method="get">
###<form action="javascript:ResetAllResults();MakeUserNavBar();showResMenu('results');ajaxGetUserData()" method="get">

<input type="hidden" name="ajax" value="0" />
<input type="hidden" name="userMode" value="$userMode" id="kw_userModeSelector" />
#if $userMode=='user'
<input type="hidden" name="dbsInst" value="$dbsInst" id="kw_dbsInstSelector" />
<!-- begin menu table -->
<table cellpadding="2" cellspacing="2">
#else
<!-- begin menu table -->
<table cellpadding="2" cellspacing="2">
<tr>
<td align="right">
<div id="dbsInstDef">
<b>DBS instances</b>
</div>
</td>
<td>
<select name="dbsInst" id="kw_dbsInstSelector" onchange="javascript:ajaxGetKWFields()" style="$style">
#for dbs in $dbsList
<option value="$dbs">$dbs</option>
#end for
</select>
</td>
</tr>
#end if


<tr>
<td align="right">
<div id="groupDef">
<b>Physics groups</b>
</div>
</td>
<td>

<div id="kw_group_holder">
<select name="group" id="kw_group" style="$style">
<option value="Any">Any</option>
#for group in $groupList
<option value="$group">$group</option>
#end for
</select>
</div>

</td>
</tr>


<tr>
<td valign="top" align="right">
<div id="tierDef">
<b>Data tier</b>
</div>
</td>
<td>

<div id="kw_tier_holder">
<select name="tier" id="kw_tier" style="$style">
<option value="Any">Any</option>
#for tier in $dataTypes
<option value="$tier">$tier</option>
#end for
</select>
</div>
<div>
<input name="composedTierSelector" id="tierSelector" type="checkbox" onChange="javascript:Disable2Enable('kw_tier','kw_cTier');ajax_dhtmlHistory('tierSelector',D2E_tiers())" />
<b>composed tier, e.g. GEN-SIM:</b>
<input name="tier" id="kw_cTier" type="text" size="20" style="disabled" disabled="disabled" />
</div>


</td>
</tr>

<tr>
<td valign="top" align="right">
<div id="softRelDef">
<b>Software releases</b>
</div>
</td>
<td>

<div id="kw_release_holder">
<select name="app" id="kw_release" onchange="javascript:ajaxUpdatePrimaryDatasets();" style="$style">
<option value="Any" selected="selected">Any</option>
#for rel in $softReleases
<option value="$rel">$rel</option>
#end for
</select>
</div>

</td>
</tr>

<tr>
<td valign="top" align="right">
<div id="primDef">
<b>Primary dataset/<br />MC generators</b>
</div>
</td>
<td>

<div id="kw_prim_holder">
<select name="primD" id="kw_prim" style="$style">
<option value="Any" selected="selected">Any</option>
#*
#for prim in $primDatasets
<option value="$prim">$prim</option>
#end for
*#
</select>
</div>

</td>
</tr>

#if $userMode=='user'
<input type="hidden" name="site" value="Any" id="kw_site" />
#else
<tr>
<td valign="top" align="right">
<div id="siteDef">
<b>Sites</b>
</div>
</td>
<td>

<div id="kw_site_holder">
<select name="site" id="kw_site" style="$style">
<option selected="selected" value="All">Any</option>
#for site in $siteList
<option>$site</option>
#end for
</select>
</div>

</td>
</tr>
#end if

<tr>
<td>
</td>
###<td></td>
<td>
###<input type="submit" value="Find" onclick="javascript:checkNavSelection()" />
<input type="reset" value="Reset" onclick="resetUserNav()" />
<input type="submit" value="Find" id='userNavId' />
</td>
</tr>
</table>

<!-- end of menu table -->
</form>
</td>
</tr>
###</table>
<!-- end of outer most table -->

<tr>
<td align="left">
<hr class="dbs" />
</td>
</tr>

<!-- auto-completion form for processed datasets -->
#*
<table class="lfn" width="100%">
*#
<tr valign="top">
<td valign="top" align="left">

<div style="margin-left:-35px" id="userNavForm2">

<form action="getData" method="get">
<input type="hidden" name="ajax" value="0" />
<input type="hidden" name="userMode" value="$userMode" id="kw_userModeSelector" />
<input type="hidden" name="group" value="*" />
<input type="hidden" name="tier" value="*" />
<input type="hidden" name="app" value="*" />
<input type="hidden" name="primD" value="*" />
<input type="hidden" name="site" value="*" />
<br />
<!-- begin menu table -->

#if $userMode=='user'
<input type="hidden" name="dbsInst" value="$dbsInst" id="kw_dbsInstSelector" />
<table cellpadding="2" cellspacing="2" width="100%">
#else
<table cellpadding="2" cellspacing="2" width="100%">
<tr>
<td align="right">
<div id="dbsInstDef">
<b>DBS instances</b>
</div>
</td>
<td>
<select name="dbsInst" id="dbsInst" onchange="javascript:ReloadMethod('$host','_navigator','$userMode')" style="$style">
#for dbs in $dbsList
<option value="$dbs">$dbs</option>
#end for
</select>
</td>
</tr>
#end if

<tr>
<td align="right">
<div id="procDef">
<b>
Processed dataset:
</b>
</div>
</td>
<td align="left">
$prdForm
</td>
</tr>

<tr>
<td>
</td>
<td>
<input type="reset" value="Reset" />
<input type="submit" value="Find" id='userNavId2' />
</td>
</tr>
</table>

</form>
</div>

</td>
</tr>
</table>


<script type="text/javascript">
var tooltip;
tooltip="<p>List of known DBS instances.</p>";
MakeTooltip("t_dbsInst","dbsInstDef",tooltip);
tooltip="<p>Here you select the physics group.</p> <p><b>Example:</b> Higgs, top group.</p>";
MakeTooltip("t_group","groupDef",tooltip);
tooltip="<p>This menu shows all known in DBS data types.</p> <p><b>Example:</b> DIGI, RECO.</p>";
MakeTooltip("t_tier","tierDef",tooltip);
tooltip="<p>All known software releases.</p> <p><b>Example:</b> CMSSW_1_1_1</p>";
MakeTooltip("t_softRel","softRelDef",tooltip);
tooltip="<p>This is a list of primary datasets known in DBS. In a case of real data it is trigger lines, in a case of MC it is MC generators.</p> <p><b>Example:</b> mc-onsel-120_PU_Zee </p>";
MakeTooltip("t_primDef","primDef",tooltip);
tooltip="<p>List of know CMS sites</p> <p><b>Example: cmssrm.fnal.gov</b></p>";
MakeTooltip("t_site","siteDef",tooltip);
tooltip="<p>Use this form to search for processed dataset, the input field support auto-completion, e.g. if you type /MTCC it will try to find a match on a fly for you. You may continue typing your dataset during auto-completion.</p>";
MakeTooltip("t_proc","procDef",tooltip);
</script>

<!-- end of templateUserNav.tmpl -->
