<div align="right" style="$style">
<table width="100%">
<tr><td align="left">
Number of datasets per page
<select id="pagerStep" name="pagerStep" onchange="javascript:LoadGetData('$dbsInst','$site','$group','$app','$primD','$tier','$proc','$idx','$ajax','$userMode')">
<option>10</option>
#if int($pagerStep)==25
<option selected="selected">25</option>
#else
<option>25</option>
#end if
<option>50</option>
<option>100</option>
</select>
</td><td align="right">
$rPage
</td></tr></table>
</div>

#*
<script type="text/javascript">
 var sel=document.getElementsByName('pagerStep');
</script>
*#
