<!-- templateMenuHelp.tmpl -->

#set menuArr=['help_intro','help_glossary','help_resources','help_feedback','help_refs','help_browser']
<table class="table_box_white" border="0" width="100%">
<tr valign="top">
<td class="box_darkblue">
DBS Discovery :: Help
- <a href="javascript:showResMenu('help_intro',$menuArr)">Introduction</a>
| <a href="javascript:showResMenu('help_glossary',$menuArr)">Glossary</a>
| <a href="javascript:showResMenu('help_resources',$menuArr)">Resources</a>
##| <a href="javascript:showResMenu('help_feedback',$menuArr)">Feedback</a>
| <a href="javascript:showResMenu('help_refs',$menuArr)">References</a>
| <a href="javascript:showResMenu('help_browser',$menuArr)">Browsers support</a>
</td>
#if $userMode=='user'
<td align="right" class="box_darkblue">Physicist</td>
#else
<td align="right" class="box_darkblue">Production</td>
#end if
</tr>
</table>


#*
#set menuArr=['help_intro','help_glossary','help_resources','help_feedback','help_refs']

<table class="table_round_box" border="0" width="100%">
<tr valign="top">
<td class="box_darkblue">


<table id="help_info" cellspacing="1" width="70%">
<tr>
<td class="td_menu_white_box" align="center" id="_help_intro"><a href="javascript:showResMenu('help_intro',$menuArr)">Introduction</a></td>
<td class="td_menu_gray_box" align="center" id="_help_glossary"><a href="javascript:showResMenu('help_glossary',$menuArr)">DBS glossary</a></td>
<td class="td_menu_gray_box" align="center" id="_help_resources"><a href="javascript:showResMenu('help_resources',$menuArr)">DBS resources</a></td>
<td class="td_menu_gray_box" align="center" id="_help_feedback"><a href="javascript:showResMenu('help_feedback',$menuArr)">Feedback</a></td>
<td class="td_menu_gray_box" align="center" id="_help_refs"><a href="javascript:showResMenu('help_refs',$menuArr)">References</a></td>
</tr>
</table>

</td>
</tr>
</table>
*#

<div id="help_intro" class="show_inline">
<div class="sectionhead">DATA DISCOVERY PAGE</div>
<p>
The purpose of this page to help you navigate through CMS data in
Data Bookeeping System (DBS).
</p>
<p>
At the moment, we provide
#if $userMode=='user'
two
#else
three
#end if
orthogonal search methods to discovery your favorite data.
</p>
<ul>
<li>Navigator is a menu driven method, where navigator menu guide you in available data hierarchy.
To use this method please choose 
<a href="_navigator?userMode=user">Navigator</a> menu on a left.
</li>
<li>Finder is a flexible way to construct your own queires against DBS.
To use this method, please choose
<a href="_finder?userMode=user">Finder</a> menu
on a left.
</li>
#if $userMode!='user'
<li>Site is a site driven method, where you look for data by choosing specific site.
To use this method please choose <a href="_siteSearch?userMode=user">Site</a> menu.
</li>
#end if
</ul>
<p>
The search results are usually presented in a form of sortable tables, where you can
move your mouse over the column name and click on it to sort entries.
</p>
<p>
All terms used on discovery page are defined in DBS glossary.
</p>
</div>

<div id="help_glossary" class="hide">$glossary</div>

<div id="help_resources" class="hide">
          <table>
              <tr><td>&\#187;</td>
              <td><a href="https://twiki.cern.ch/twiki/bin/view/CMS/WebHome">CMS Home</a>
              your resource wizard in CMS land.
              </td>
              </tr>
              <tr><td>&\#187;</td>
              <td><a href="https://twiki.cern.ch/twiki/bin/view/CMS/DBS-TDR">DBS Home</a>
              provides full description of Data Bookeeping System (DBS) system.
              </td>
              </tr>
              <tr><td>&\#187;</td>
              <td>DBS specific discovery
              <a href="http://cmsdoc.cern.ch/~sekhri/Html/mc.htm">page</a>
              The purpose of this page to provide a complete detailed information about
              data stored in DBS. Please keep in mind that format is mostly for real experts.
              </td>
              </tr>
              <tr><td>&\#187;</td>
              <td><a href="https://twiki.cern.ch/twiki/bin/view/CMS/DLS">DLS Home</a>
              provides full description of Data Location Service (DLS) system.
              </td>
              </tr>
              <tr><td>&\#187;</td>
              <td><a href="$host/Documentation/index.html">API doc</a>
              describes current API of DBS discovery page
              </td>
              </tr>
              <tr><td>&\#187;</td>
              <td><a href="$host/TODO.html">TODO</a>
              is my current list of task.
              </td>
              </tr>
          </table>
</div>

<div id="help_feedback" class="hide">
         <p></p>
         <form action="sendFeedback" method="post">
         <p>
         Your Email:
         <input type="hidden" name="userMode" value="$userMode" />
         <input type="text" name="userEmail" />
         <br />
         Feedback form:
         <br />
         <textarea rows="5" cols="100" name="feedbackText">Put your text here</textarea>
         <br />
         <input type="submit" value="Submit" id="submit-button-form"/>
         </p>
         </form>
</div>

<div id="help_refs" class="hide">
       <table>
         <tr><td>&\#187;</td>
         <td>The sort capabilities in tables provided by <a href="http://www.kryogenix.org/code/browser/sorttable/">sortable</a> package. I extended this package and include some additions (highlihting, new sort functions, etc.)</td>
         </tr>
         <tr><td>&\#187;</td>
         <td>Ajax functionality provided by <a href="http://www.openrico.org">Rico</a> framework</td>
         </tr>
         <tr><td>&\#187;</td>
         <td>The Rico core itself based on <a href="http://prototype.conio.net/">prototype</a> framework.</td>
         </tr>
         <tr><td>&\#187;</td>
         <td>The entire service is running under <a href="http://www.cherrypy.org/">CherryPy</a> framework</td>
         </tr>
         <tr><td>&\#187;</td>
         <td>It would be impossible to accomplish this task without using 
         <a href="http://www.cheetahtemplate.org">Cheetah</a> template framework</td>
         </tr>

         </tr>
         <tr><td>&\#187;</td>
         <td>AJAX history provided through Really Simple History
         <a href="http://www.onjava.com/pub/a/onjava/2005/10/26/ajax-handling-bookmarks-and-back-button.html">(RSH)</a> framework</td>
         </tr>

         <tr><td>&\#187;</td>
         <td>Some of my work inspired by <a href="http://www.ajaxprojects.com/">Ajax</a> projects</td>
         </tr>
       </table>
</div>

<div id="help_browser" class="hide">
<p />
<p />
The DBS data discovery page was designed and well tested using 
<a href="http://www.mozilla.com/en-US/">Firefox</a> browsers. 

<p />
All other browser may be luck of some functionality or misbehave.
We are trying to come up with features that are compatible among the browsers, but
we due to different implementation of browsers it is not always possible.
<p />
Below we list of some known issues with different browsers:
<ul>
<li> Safari
     <ul>
     <li> the "Back" button doesn't restore last session state. Example, when you click on
          &#171; more &#187;, and move forward with one of the link, on your way back,
          the &#171; more &#187; menu will not pop-up
     </ul>
<li> Internet Explorer
     <ul>
     <li>
     </ul>
<li> Mozilla
     <ul>
     <li>
     </ul>
<li> Konqueror
     <ul>
     <li>
     </ul>
<li> Opera
     <ul>
     <li>
     </ul>
</ul>

</div>

<!-- end of templateMenuHelp.tmpl -->
