<!-- templateMenuFinder2.tmpl -->
<table class="table_box_white" border="0" width="100%">
<tr valign="top">
<td class="box_darkblue">
<span id="finderDef">
DBS Discovery :: Finder
</span>
- <a href="javascript:ShowTag('builderFinder');HideTag('queriesFinder');ClearTag('results_finder')">Builder</a>
| <a href="javascript:HideTag('builderFinder');ShowTag('queriesFinder');ClearTag('results_finder')">My queries</a>
| <a href="$host/finderExample?userMode=$userMode">Demo</a>
###| <a href="https://twiki.cern.ch/twiki/bin/view/CMS/DDExplorer">Command Line Interface</a>
</td>
#if $userMode=='user'
<td align="right" class="box_darkblue">Physicist</td>
#else
<td align="right" class="box_darkblue">Production</td>
#end if
</tr>
</table>

<p/>

<div id="builderFinder" class="show_inline">

<!-- finder form -->
<form action="finderSearch" type="get">

#if $userMode!='user'
<table>
<tr>
<td>
DBS instances:
</td>
<td>
<select name="dbsInst" id="finder_dbsSelector">
#for dbs in $dbsList
<option>$dbs</option>
#end for
</select>
</td>
</tr>
</table>
#else
<input type="hidden" name="dbsInst" value="$dbsInst" id="kw_dbsInstSelector" />
#end if
<input type="hidden" name="userMode" value="$userMode" id="kw_userModeSelector" />

<table>

<tr>
<td valign="top">

DBS treeview (<span id="_view"><a href="javascript:ExpandView()">expand</a></span>)
<div id="treeDiv1"></div>


</td>
<td valign="top">

<table>

<tr>
<td>

<table width="100%">
<tr>
<td align="left">
<b>Apply conditions:</b>
</td>
<td align="right">
<div id="condDef">
<u><b>HELP</b></u>
</div>
</td>
</tr>
</table>

</td>
</tr>

<tr>
<td>
<textarea rows="5" cols="60" id="kw_where" name="where" ></textarea>
</td>
</tr>

<tr>
<td>
<p>
Query limit:
<input type="text" value="20" size="3" maxlength="3" name="limit" id="kw_limit" />
&nbsp;
<input type="reset" value="Reset" id="resetQuery" />
&nbsp;
<input type="submit" value="Search" id="submitQuery" />
</p>
</td>
</tr>

<tr>
<td>
<p>
save query as: <input type="text" name="finderAlias" size="30" id="kw_alias" disabled="disabled" /> 
<input type="button" value="Save" id="saveQuery" onclick="javascript:ajaxFinderStoreQuery();" disabled="disabled" />
</p>
</td>
</tr>


</table>

</td>
</tr>
</table>



<script type="text/javascript">
var tree;
// all lists are defined here, they are in form
// aList={'tableNames':['Table1','Table2'],'columnNames':[['id','col1'],['id','col2']]};
$sectionDicts
var tableList  ={'Algorithm':algoList,'Datasets':datasetList,'Description':descList,'Files':filesList,'RunLumi':runLumiList,'Storage':storageList,'Tier':tierList};

function treeInit() {
    BuildNodeTree();
}
function BuildNode(name) {
    var node = new YAHOO.widget.TextNode(name, tree.getRoot(), false);
    var tList = tableList[name].tableNames;
    var cList = tableList[name].columnNames;
    for(var i=0;i<tList.length;i++) {
        var subnode = new YAHOO.widget.TextNode(tList[i], node, false);
        for(var j=0;j<cList[i].length;j++) {
            var tcName=tList[i]+'.'+cList[i][j];
            //var text  = '<input id="'+tcName+'" type="checkbox" />'+cList[i][j];
            var text  = cList[i][j];
            // var url   = 'javascript:AddToWhere(\''+tcName+'\')';
            // var myObj = { label: text, href: url };
            var nodeName = '<input id="'+tcName+'" type="checkbox" name="tableColumnList" value="'+tcName+'" />'+'<a href="javascript:AddToWhere(\''+tcName+'\')">'+text+'</a>';
            //var colnode = new YAHOO.widget.TextNode(myObj, subnode, false);
            var colnode = new YAHOO.widget.TextNode(nodeName, subnode, false);
        }
    } 
}
function BuildNodeTree() {
    tree = new YAHOO.widget.TreeView("treeDiv1");
    BuildNode("Algorithm");
    BuildNode("Datasets");
    BuildNode("Description");
    BuildNode("Files");
    BuildNode("RunLumi");
    BuildNode("Storage");
    BuildNode("Tier");
    tree.draw();
}
YAHOO.util.Event.addListener(window, "load", treeInit);

function ExpandView() {
   \$('_view').innerHTML='<a href="javascript:CollapseView()">collapse</a>'
   tree.expandAll();
}
function CollapseView() {
   \$('_view').innerHTML='<a href="javascript:ExpandView()">exapnd</a>'
   tree.collapseAll();
}
function AddToWhere(node) {
   var val=\$('kw_where').value;
   var newValue='( '+node+' <operator> \'<value>\' )';
   if(val) {
   \$('kw_where').value+='\nAND\n '+newValue;
   } else {
   \$('kw_where').value+=' '+newValue;
   }
}

</script>

</form>

<!-- end of finder form -->


</div> <!-- end of div id="_builderFinder" -->

<div id="queriesFinder" class="hide">
$myAlias
###<input type="submit" value="Search" id="sButton-searchQueries" onclick="javascript:ajaxFinderSearchQuery()"  />
<input type="submit" value="Search" id="sButton-searchQueries" onclick="javascript:ajaxFinderSearchQuery()" disabled="disabled" />
<p>
<div id="myQueries"></div>
</p>
</div>

<div id="results_finder"></div>
<script type="text/javascript">
var tooltip="<p>Finder is arbitrary search of data based on user selection of data objects.\
    <ul><li>Group task: a list of common search tasks\
        <li>DBS tables: a list of availabel DBS tables to look at\
        <li>Show: indicate that this Table.Column will be shown in output\
        <li>Column: select table column you want to see or apply some condition\
        <li>Operator: boolean condition operator\
    </ul></p>\
    <p>You may add/remove additional selection criteria by pressing plus/minus signs on your right.</p>";
MakeTooltip("t_finder","finderDef",tooltip)
tooltip='\
<p>To use Finder follow those three steps</p>\
<ul>\
<li>Use DBS tables treeview on your left to choose a columns you wish to look at\
<li>Click on column name to add it to <b>Apply condition</b> input area\
<li>Fill your condition by placing appropriate operator and value\
</ul>\
<p>Condition has a form:</p> <p><em>Table.Column &lt;operator&gt; \'&lt;value&gt;\'</em></p>\
<p><b><u>Leave spaces between Table.Column operator value</u></b></p>\
<p>Supported operators: <em>&gt;, &lt;, &gt;=, &lt;=, like</em></p>\
<p>To match a pattern use <em>&#37;</em>, <br/>e.g. <em>TEST&#37;</em> will match TEST with everything else</p>\
<p>Several conditions can be grouped together using <em>AND, OR and brackets</em><br /> \
e.g., condition1 AND (condition2 OR condition3)\
</p>';
MakeTooltip("t_cond","condDef",tooltip,10000); // 10000 is autodismissdelay for tooltip
</script>
<!-- end of templateMenuFinder2.tmpl -->
