<!-- templateAdminDatasets.tmpl -->
#if len($blkList)>10
#set selectSize=10
#else
#set selectSize=len($blkList)+1
#end if
<table>
<tr>
<td>
Dataset:
</td>
<td>
<b>$dataset</b>
</td>
</tr>
<tr>
<td>
at sites:
</td>
</tr>
</table>

### Migration form
<hr class="dbs" />
<h5>Migrate dataset</h5>
#*
<form action="adminTask" method="post">
<input type="hidden" name="api" value="migrate" />
<input type="hidden" name="title" value="Migrate dataset" />
<input type="hidden" name="dbsInst" value="$dbsInst" />
<input type="hidden" name="userMode" value="$userMode" />
<input type="hidden" name="dataset" value="$dataset" />
<input type="hidden" name="path" value="$dataset" />
*#
<form action="$adminUrl" method="post">
<input type="hidden" name="api" value="addRequest" />
<input type="hidden" name="path" value="$dataset" />
<input type="hidden" name="dn" />

<table>
<tr>
<td>

<table>
<tr>
<td>
From
</td>
<td>
##<select name="dbsInst_from" id="dbsInst_from" style="$style" onchange="javascript:ChangeDbsInst()">
<select name="src_url" id="dbsInst_from" style="$style" onchange="javascript:ChangeDbsInst()">
#for dbs in $dbsList
<option value="$dbs">$dbs</option>
#end for
</select>
</td>
<td>
to
</td>
<td>
##<select name="dbsInst_to" id="dbsInst_to" style="$style">
<select name="dst_url" id="dbsInst_to" style="$style">
#for dbs in $dbsListOrig
<option value="$dbs">$dbs</option>
#end for
</select>
</td>
</tr>
</table>

</td>
</tr>

<tr>
<td>
##<input type="checkbox" name="all_blocks" id="all_blocks" />with all parents
<input type="checkbox" name="with_parents" id="all_blocks" />with all parents
</td>
</tr>

<tr>
<td>
Notify me at: <input type="text" name="notify" value="$email" />
</td>
</tr>

<tr>
<td>
##uncheck to choose block id(s), otherwise all blocks will be migrated
<input type="radio" name="choice" checked="checked" onchange="javascript:HideTag('selectBlocks');changeAttribute('block','disabled')" />all blocks in dataset
</td>
</tr>

<tr>
<td>
<input type="radio" name="choice"  onchange="javascript:ShowTag('selectBlocks');changeAttribute('block','enabled')" />individual blocks
<br/>
<div id="selectBlocks" class="hide">
<select multiple="multiple" name="block_name" id="block" size="$selectSize" disabled="disabled">
#for blk in $blkList
#set path,blkId=$blk.split('#')
<option value="$blk">$blkId</option>
#end for
</select>
</div>
</td>
</tr>

</table>

<input type="reset" name="reset" />
<input type="submit" name="submit" onclick="javascript:CatchDN()" />
</form>
### end of Migration form

<hr class="dbs" />
### Administration form
<h5>Change status of dataset/block(s)</h5>
<form action="adminTask" method="get">
<input type="hidden" name="title" value="Dataset/Block(s) admin task" />
<input type="hidden" name="dbsInst" value="$dbsInst" />
<input type="hidden" name="userMode" value=$userMode />
<input type="hidden" name="dataset" value="$dataset" />
<input type="hidden" name="dn" />

<table>

<!-- new row -->
<tr>
<td>

<input type="radio" name="choice" checked="checked" onchange="javascript:changeAttribute('status','enabled');changeAttribute('block_Status','disabled');changeAttribute('block_name','disabled');HideTag('blockStatus_SelectBlocks');changeAttribute('datasetStatusApi','enabled');changeAttribute('datasetStatusPath','enabled')"/>

</td>
<td>
Change dataset status
</td>

<td>
<span id="datasetInputs" class="hide">
<select name="api" id="datasetStatusApi">
<option>updateProcDSStatus</option>
</select>
<select name="path" id="datasetStatusPath">
<option>$dataset</option>
</select>
##<input type="checkbox" name="api" id="datasetStatusApi" value="updateProcDSStatus" checked="checked" />
##<input type="checkbox" name="path" id="datasetStatusPath" value="$dataset" checked="checked" />
</span>
<select name="status" id="status" style="width:200px">
<option value="VALID">Valid</option>
<option value="INVALID">Invalid</option>
<option value="IMPORTED">Imported</option>
<option value="EXPORTED">Exported</option>
<option value="READ">Read only</option>
<option value="DELETE">Delete</option>
<option value="UNDELETE">Undelete</option>
</select>
</td>

</tr>

<!-- new row -->
<tr valign="top">
<td>
<input type="radio" name="choice" onchange="javascript:changeAttribute('status','disabled');changeAttribute('block_Status','enabled');changeAttribute('block_name','enabled');ShowTag('blockStatus_SelectBlocks');changeAttribute('datasetStatusApi','disabled');changeAttribute('datasetStatusPath','disabled')"/>
</td>

<td>
Change block(s) status
</td>

<td>
<select name="api" id="block_Status" style="width:200px" disabled="disabled">
<option value="openBlock">Open</option>
<option value="closeBlock">Closed</option>
</select>
<br/>
<div id="blockStatus_SelectBlocks" class="hide">
<select multiple="multiple" name="block_name" id="block_name" size="$selectSize" disabled="disabled">
<option value="All" selected="selected">All</option>
#for blk in $blkList
#set path,blkId=$blk.split('#')
<option value="$blk">$blkId</option>
#end for
</select>
</div>
</td>
</tr>

</table>

<input type="reset" name="reset" />
<input type="submit" name="submit" onclick="javascript:CatchDN()" />
</form>
### end of Administration form

<hr class="dbs" />
### LFN form
<h5>Change LFN(s) status</h5>
###Choose one or more block id's by selecting them:
<form action="adminTask" method="post">
<input type="hidden" name="api" value="updateFileStatus" />
<input type="hidden" name="title" value="LFN administration" />
<input type="hidden" name="dbsInst" value="$dbsInst" />
<input type="hidden" name="userMode" value=$userMode />
<input type="hidden" name="dataset" value="$dataset" />
<input type="hidden" name="dn" />
<table>
<tr>
<td>
Assign status
<select name="status" id="status" style="width:200px">
<option value="VALID">Valid</option>
<option value="INVALID">Invalid</option>
<option value="MERGED">Merged</option>
<option value="IMPORTED">Imported</option>
<option value="EXPORTED">Exported</option>
<option value="DELETE">Delete</option>
<option value="UNDELETE">Undelete</option>
</select>
</td>
</tr>

<tr>
<td>
<input type="checkbox" name="lfn" value="All" onchange="Disable2EnableTag('lfn')" checked="checked" />select all LFNs in a datasets
</td>
</tr>

<tr>
<td>
or provide a match pattern, e.g like:SomePattern
</td>
<tr>
</tr>
<td>
<input type="text" name="lfn" id='lfn' size="80" value="like:" disabled="disabled" />
</td>
</tr>
</table>

<input type="reset" name="reset" />
<input type="submit" name="submit" onclick="javascript:CatchDN()" />
</form>
### end of LFN form
<hr class="dbs" />
<script type="text/javascript">
function changeAttribute(tag,att) {
   var id=document.getElementById(tag);
   if(att=="disabled") {
      id.disabled="disabled";
      id.checked="";
   }
   if(att=="enabled") {
      id.disabled="";
      id.checked="checked";
   }
   id.setAttribute("class",att);
}
function CatchDN() {
   var id = document.getElementByName("dn");
   if (id) {
       id.value=GetCookie('dn');
   }
}
</script>

<!-- end of templateAdminDatasets.tmpl -->
