<!-- templateTop.tmpl -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head profile="http://www.w3.org/2005/11/profile">
<title>DBS data discovery page</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="en-us" />
<meta name="author" content="Valentin Kuznetsov (vkuznet at gmail dot com)" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta name="ROBOTS" content="ALL" />
<meta name="Copyright" content="(CC) 2007, CMS collaboration." />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="Rating" content="General" />
<link rel="icon" 
      type="image/png" 
      href="${host}/images/CMSLogo.png" />
<link rel="stylesheet" type="text/css" href="${host}/css/dbs.css" />
<link rel="search" type="application/opensearchdescription+xml" href="${host}/xml/opensearch_desc.xml" title="CMS DBS" /> 
<!-- YUI CSS -->
<link rel="stylesheet" type="text/css" href="${host}/YUI/container/assets/container.css" />
<link rel="stylesheet" type="text/css" href="${host}/YUI/treeview/assets/skins/sam/treeview.css " />

<!-- set non-visible display content by default -->
<style type="text/css">div.normalcontent { display:none }</style>
<!-- if JavaScripts enables, turn visiable content on -->

<!-- YUI and WEBTOOLS -->
<script type="text/javascript" src="${host}/js/yui_combined.txt.js"></script>

#if $standalone
<script type="text/javascript" src="${host}/js/masthead.js"></script>
#else
<link rel="stylesheet" type="text/css" href="/base/Common/mastheadcss?site=dbs"/>
<script type="text/javascript" src="/base/Common/masthead"></script>
#end if


<!-- DD and its dependencies -->
<script type="text/javascript" src="${host}/js/dd_combined.txt.js"></script>
<script type="text/javascript">
function footerMenuText() {
   return _footerMenuText('$host','$userMode');
}
</script>

<!-- Redirection to DAS -->
<script type="text/javascript">
var RedirCookie = "DBSDD_KeepInDbs";
var days = 3;

function GetRedirCookie() {
   return (document.cookie.indexOf(RedirCookie) > -1);
}

function SetRedirCookie() {
   var exp = '';
   var now = new Date();
   then = now.getTime() + (days * 24 * 60 * 60 * 1000);
   now.setTime(then);
   exp = '; expires=' + now.toGMTString();
   document.cookie = RedirCookie + '=' + "dbs" + exp;
   return true;
}

function CallDasRedir() {
   if (! GetRedirCookie())
      location.href = "/das/";
}
</script>

</head>
<body onload="setTimeout('CallDasRedir()', 10000);setGreeting();ajaxInit('$dbsGlobal');loadMasthead();initialize_dhtmlHistory();$onload" id="content">

<noscript>
<h1 class="box_red">Warning:</h1>
<table width="50%" class="main">
<tr>
<td>
<div class="sectionhead_tight">DBS/DLS discovery page
is AJAX enabled and require that your browser have scripting 
enabled and JavaScript support. Your browser either does not support JavaScript, 
or it has JavaScript support disabled. Please enable JavaScript support or 
use a different browser with JavaScript support to use this page.
</div>
</td>
</tr>
</table>
</noscript>

<div id="main" class="hide">
<script type="text/javascript">SetMain()</script>

<div id="view_menu" class="hide" align="right">
<table id="submenu" class="submenu">
<tr>
<td>
<a class="submenu" href="javascript:ChangeUserMode('user')">Physicist</a>
</td>
<td>
<a class="submenu" href="javascript:ChangeUserMode('expert')">Production</a>
</td>
<td>
<a class="submenu" href="javascript:ChangeUserMode('runManager')">Run Manager</a>
</td>
</tr>
</table>
</div>

<!--
<div style="background-color: white; color: #008080; font-weight:bold; font-size:12pt; width:600px; left:25%; margin: auto; border: 1px dashed #004080;" align="center">
-->
<div style="background-color: white; color: red; font-weight:bold; font-size:12pt; width:600px; left:25%; margin: auto; border: 1px dashed #004080;" align="center">
<br />
<script type="text/javascript">
if (GetRedirCookie()) {
   document.write('Data Discovery service will be deprecated in Dec. 2011.');
   document.write('<br />Please switch to <a href="/das/">DAS</a>.');
} else {
   document.write('You will be redirected to <a href="/das/">DAS</a> in 10 seconds. ');
   document.write('<br />Click <a onclick="SetRedirCookie()" href="/dbs_discovery/">here</a> ');
   document.write('to use Data Discovery instead.');
}
</script>
<br /><br />
</div>
<!-- end of templateTop.tmpl -->
