<!-- templateConfigDiff.tmpl -->
<p>Compare <b>$config</b></p>
<ul>
<li>Release on your left : <em>$iRel</em>
<li>Release on your right: <em>$oRel</em>
</ul>
#*
<table class="dbs_table">
<tr>
<th>$iRel</th>
<th>$oRel</th>
</tr>

<tr>
<td>$iConf</td>
<td>$oConf</td>
</tr>
</table> 
*#
<p />
<!-- end of templateConfigDiff.tmpl -->
