<!-- templateUserNav.tmpl -->
<span id="defaultPage"></span>

#import time
<!-- begin outer most table -->
<table class="lfn" width="90%">
<tr valign="top">
<td valign="top" align="left">

<form action="getData" method="get">
###<form action="javascript:ResetAllResults();MakeUserNavBar();showResMenu('results');ajaxGetUserData()" method="get">

<input type="hidden" name="ajax" value="0" />
<input type="hidden" name="phedex" value="off" />
<input type="hidden" name="userMode" value="$userMode" id="kw_userModeSelector" />
#if $userMode=='user'
<input type="hidden" name="dbsInst" value="$dbsInst" id="kw_dbsInstSelector" />
<!-- begin menu table -->
<table cellpadding="2" cellspacing="2">
#else
<!-- begin menu table -->
<table cellpadding="2" cellspacing="2">
<tr>
<td align="right">
<div id="dbsInstDef">
<b>DBS instances</b>
</div>
</td>
<td>
<select name="dbsInst" id="kw_dbsInstSelector" onchange="javascript:ajaxGetKWFields()" style="$style">
#for dbs in $dbsList
<option value="$dbs">$dbs</option>
#end for
</select>
</td>
</tr>
#end if


<tr>
<td align="right">
<div id="groupDef">
<b>Physics groups</b>
</div>
</td>
<td>

<div id="kw_group_holder">
<select name="group" id="kw_group" style="$style">
<option value="Any">Any</option>
#for group in $groupList
<option value="$group">$group</option>
#end for
</select>
</div>

</td>
</tr>


<tr>
<td valign="top" align="right">
<div id="tierDef">
<b>Data tier</b>
</div>
</td>
<td>

<div id="kw_tier_holder">
<select name="tier" id="kw_tier" style="$style">
<option value="Any">Any</option>
#for tier in $dataTypes
<option value="$tier">$tier</option>
#end for
</select>
</div>
<div id="composedTierDef">

####<input name="composedTierSelector" id="tierSelector" type="checkbox" onChange="javascript:Disable2Enable('kw_tier','kw_cTier');ajax_dhtmlHistory('tierSelector','D2E_tiers()')" />
<input name="composedTierSelector" id="tierSelector" type="checkbox" onChange="javascript:Disable2Enable('kw_tier','kw_cTier');ajax_dhtmlHistory('history_tierSelector','D2E_tiers()')" />
<b>composed tier, e.g. GEN-SIM:</b>
<input name="tier" id="kw_cTier" type="text" size="20" style="disabled" disabled="disabled" />

</div>


</td>
</tr>

<tr>
<td valign="top" align="right">
<div id="softRelDef">
<b>Software releases</b>
</div>
</td>
<td>

<div id="kw_release_holder">
<select name="app" id="kw_release" onchange="javascript:ajaxUpdatePrimaryDatasets();" style="$style">
<option value="Any" selected="selected">Any</option>
#for rel in $softReleases
<option value="$rel">$rel</option>
#end for
</select>
</div>

</td>
</tr>

<tr>
<td valign="top" align="right">
<div id="primDSTypeDef">
<b>Data types</b>
</div>
</td>
<td>

<div id="kw_primType_holder">
<select name="primType" id="kw_primType" onchange="javascript:ajaxUpdatePrimaryDatasets();" style="$style">
<option value="Any" selected="selected">Any</option>
#for primType in $primTypes
<option value="$primtType">$primType</option>
#end for
</select>
</div>

</td>
</tr>

<tr>
<td valign="top" align="right">
<div id="primDef">
<b>Primary dataset/<br />MC generators</b>
</div>
</td>
<td>

<div id="kw_prim_holder">
<select name="primD" id="kw_prim" style="$style">
<option value="Any" selected="selected">Any</option>
#*
#for prim in $primDatasets
<option value="$prim">$prim</option>
#end for
*#
</select>
</div>

</td>
</tr>

#if $userMode=='user'
<input type="hidden" name="site" value="Any" id="kw_site" />
#else
<tr>
<td valign="top" align="right">
<div id="siteDef">
<b>Sites</b>
</div>
</td>
<td>

<div id="kw_site_holder">
<select name="site" id="kw_site" style="$style">
#*
<option selected="selected" value="All">Any</option>
#for site in $siteList
<option>$site</option>
#end for
*#
<option value="any" selected="selected">Any</option>
#set inputList=$siteDict.keys()
#silent $inputList.sort()
#for domain in $inputList
<optgroup label="$domain domain">
#for site in $siteDict[$domain]
<option value="$site">$site</option>
#end for
</optgroup>
#end for
</select>
</div>

</td>
</tr>

### Time selection
<tr>
<td valign="top" align="right">
<div id="dateDef">
<b>Date</b>
</div>
</td>
<td>

<table>
<tr>
<td>

###set lSecs=$eval(time.strftime("%H*60*60+%M*60+%S",$time.gmtime()))
#set t=$time.gmtime()
## calculate time in seconds t=time.gmtime() is tuple where hour,minute,sec is t[3],t[4],t[5]
#set lSecs=$t[3]*60*60+$t[4]*60+$t[5]
<div id="kw_date_holder">
<select name="date" id="kw_date" style="$style">
<option value="Any" selected="selected">Any</option>
<option value="$long($time.mktime($time.gmtime())-1*60*60)">In last 1 hour</option>
<option value="$long($time.mktime($time.gmtime())-5*60*60)">In last 5 hours</option>
<option value="$long($time.mktime($time.gmtime())-12*60*60)">In last 12 hours</option>
<option value="$long($time.mktime($time.gmtime())-1*24*60*60-$lSecs)">In last day</option>
<option value="$long($time.mktime($time.gmtime())-2*24*60*60-$lSecs)">In last 2 days</option>
<option value="$long($time.mktime($time.gmtime())-1*7*24*60*60-$lSecs)">In last week</option>
<option value="$long($time.mktime($time.gmtime())-1*30*7*24*60*60-$lSecs)">In last month (30 days)</option>
</select>
</div>

</td>
<td>
<input name="composedDateSelector" id="dateSelector" type="checkbox" onChange="javascript:Disable2Enable('kw_date','kw_cDate1','kw_cDate2')" />
</td>
<td>
From:
<input id="kw_cDate1" name="cDate1" type="text" size="10" style="disabled" disabled="disabled" value="yyyy/mm/dd" />
to:
<input id="kw_cDate2" name="cDate2" type="text" size="10" style="disabled" disabled="disabled" value="yyyy/mm/dd" />
</td>
</tr>
</table>

</td>
</tr>
#end if

<tr>
<td>
</td>
###<td></td>
<td>
###<input type="submit" value="Find" onclick="javascript:checkNavSelection()" />
<input type="submit" value="Find" id='userNavId' onclick="SetNavigatorCookies()"/>
<input type="reset" value="Reset" onclick="resetUserNav()" />
</td>
</tr>
</table>

<!-- end of menu table -->
</form>
</td>
</tr>
###</table>
<!-- end of outer most table -->

<tr>
<td align="left">
<br />
<br />
<hr class="dbs" />
<br />
</td>
</tr>

<!-- auto-completion form for processed datasets -->
#*
<table class="lfn" width="100%">
*#
<tr valign="top">
<td valign="top" align="left">
The input form supports 
<a href="_help?userMode=$userMode&section=help_wild-card">
<span id="wildcardDef">
wild-card
</span>
</a>, 
<a href="_help?userMode=$userMode&section=help_regexp">
<span id="regexpDef">
regular expressions
</span>
</a>, 
<a href="_help?userMode=$userMode&section=help_like">
<span id="likeDef">
like
</span>
</a> searches.
<br />
<br />
</td>
</tr>

<tr valign="top">
<td valign="top" align="left">
Auto-completion: 
#if $autocomplete==1
#set classOn="td_underline_pad"
#set classOff=""
#else
#set classOff="td_underline_pad"
#set classOn=""
#end if
<a href="javascript:AutoTurnOn();"><span id="autoOn" class="$classOn">on</span></a> 
| 
<a href="javascript:AutoTurnOff();"><span id="autoOff" class="$classOff">off</span></a>, &nbsp;
Case-sensitivity:
<a href="javascript:CaseSensitiveOn();"><span id="caseOn" class="td_underline_pad">on</span></a> 
| 
<a href="javascript:CaseSensitiveOff();"><span id="caseOff" class="">off</span></a>
</td>
</tr>

<tr valign="top">
<td valign="top" align="left">

<div style="margin-left:-35px" id="userNavForm2">

<form action="getData" method="get">
<input type="hidden" name="ajax" value="0" />
<input type="hidden" name="phedex" value="off" />
<input type="hidden" name="userMode" value="$userMode" id="kw_userModeSelector" />
<input type="hidden" name="group" value="*" />
<input type="hidden" name="tier" value="*" />
<input type="hidden" name="app" value="*" />
<input type="hidden" name="primD" value="*" />
<input type="hidden" name="site" value="*" />
<input type="hidden" name="caseSensitive" value="on" id="caseSensitive" />
<br />
<!-- begin menu table -->

#if $userMode=='user'
<input type="hidden" name="dbsInst" value="$dbsInst" id="kw_dbsInstSelector" />
<table cellpadding="2" cellspacing="2" width="100%">
#else
<table cellpadding="2" cellspacing="2" width="100%">
<tr>
<td align="right">
<div id="dbsInstDef">
<b>DBS instances</b>
</div>
</td>
<td>
<select name="dbsInst" id="dbsInst" onchange="javascript:ReloadMethod('$host','_navigator','$userMode')" style="$style">
#for dbs in $dbsList
<option value="$dbs">$dbs</option>
#end for
</select>
</td>
</tr>
#end if

<tr>
<td align="right">
<div id="procDef">
<b>
Processed dataset:
</b>
</div>
</td>
<td align="left">
$prdForm
</td>
</tr>

<tr>
<td>
</td>
<td>
<input type="submit" value="Find" id='userNavId2' onclick="javascript:SetTagCookie('DBSDD_prdInput','proc')" />
<input type="reset" value="Reset" />
</td>
</tr>
</table>

</form>
</div>

</td>
</tr>


<!-- LFN-dataset search form -->
<tr>
<td align="left">
<br />
<br />
<hr class="dbs" />
<br />
</td>
</tr>

<tr valign="top">
<td valign="top" align="left">

<div style="margin-left:-35px" id="userNavForm2">

<form action="findDatasetsFromLFN" method="get">
<input type="hidden" name="userMode" value="$userMode" id="kw_userModeSelector" />
#if $userMode=='user'
<input type="hidden" name="dbsInst" value="$dbsInst" id="kw_dbsInstSelector" />
<table cellpadding="2" cellspacing="2" width="100%">
#else
<table cellpadding="2" cellspacing="2" width="100%">
<tr>
<td align="right">
<div id="dbsInstDef">
<b>DBS instances</b>
</div>
</td>
<td>
<select name="dbsInst" id="dbsInst" onchange="javascript:ReloadMethod('$host','_navigator','$userMode')" style="$style">
#for dbs in $dbsList
<option value="$dbs">$dbs</option>
#end for
</select>
</td>
</tr>
#end if

<tr>
<td align="right">
<div id="lfnDef">
<b>
&nbsp;Dataset from LFN :
</b>
</div>
</td>
<td align="left">
<input type="text" size="80" name="lfn" id='datasetLFNInput' />
</td>
</tr>

<tr>
<td>
</td>
<td>
<input type="submit" value="Find" id='userNavId2' onclick="javascript:SetTagCookie('DBSDD_datasetLFNInput','datasetLFNInput')" />
<input type="reset" value="Reset" />
</td>
</tr>
</table>

</form>
</div>

</td>
</tr>

<!-- end of LFN-dataset search form -->



</table>


<div class="hide" id="isIE" class="tiny">
<span class="box_red">
This page is optimized under Firefox/Mozilla/Safari browsers. It may have issues with
page rendering using IE browsers. If you are a windows user, please consider to use
Firefox as alternative.
</span>
</div>
<script type="text/javascript">
var tooltip;
tooltip="<p>List of known DBS instances.</p>";
MakeTooltip("t_dbsInst","dbsInstDef",tooltip);
tooltip="<p>Here you select the physics group.</p> <p><b>Example:</b> Higgs, top group.</p>";
MakeTooltip("t_group","groupDef",tooltip);
tooltip="<p>This menu shows all known in DBS data types.</p> <p><b>Example:</b> DIGI, RECO.</p>";
MakeTooltip("t_tier","tierDef",tooltip);
tooltip="<p>All known software releases.</p> <p><b>Example:</b> CMSSW_1_1_1</p>";
MakeTooltip("t_softRel","softRelDef",tooltip);
tooltip="<p>This is a list of primary datasets known in DBS. In a case of real data it is trigger lines, in a case of MC it is MC generators.</p> <p><b>Example:</b> mc-onsel-120_PU_Zee </p>";
MakeTooltip("t_primDef","primDef",tooltip);
tooltip="<p>List of know CMS sites</p> <p><b>Example: cmssrm.fnal.gov</b></p>";
MakeTooltip("t_site","siteDef",tooltip);
tooltip="<p>Use this form to search for processed dataset, the input field support auto-completion, e.g. if you type /MTCC it will try to find a match on a fly for you. You may continue typing your dataset during auto-completion.</p>";
MakeTooltip("t_proc","procDef",tooltip);
tooltip="<p>The processed dataset path contains a three component: primary, processed datasets and data tier. Composed tier indicates a list of tiers included in processed dataset. Example: GEN-SIM. Please note, the dashes are required separator, but tier order is arbitrary.</p>";
MakeTooltip("t_compTier","composedTierDef",tooltip);
tooltip="<p>List of know primary datasets types, e.g. mc for Monte Carlo, cosmic for cosmic data, raw for raw data, data for real processed data.</p>";
MakeTooltip("t_primType","primDSTypeDef",tooltip);
tooltip="<p>The elapsed time since datasets creation date (GMT).</p>";
MakeTooltip("t_date","dateDef",tooltip);
tooltip="<p>Wild-card search form with auto-completion. The \'%\' and \'*\' wild-cards are supported, e.g. *QCD*LowLumi* or %QCD%LowLumi% are equivalent.</p>";
///tooltip="<p>Wild-card search form with auto-completion. The \'%\' and \'*\' wild-cards are supported, e.g. *QCD*LowLumi* or %QCD%LowLumi% are equivalent. The input form is case-insensitive, e.g. qcd and QCD are equivalent.</p>";
MakeTooltip("t_wildcard","wildcardDef",tooltip);
tooltip="<p>Regular expression search can be done by using <em>regexp:</em> keyword. For example, <em>regexp:RelVal.*RECO</em> will match all samples who have RelVal and RECO somewhere in a path separated by any number of characters.</p>";
MakeTooltip("t_regexp","regexpDef",tooltip);
tooltip="<p>Like-search allows you to search datasets whose name will match provided pattern. You can construct logical expressions by using <em>like:</em> keyword. For example to search for all datasets who have RECO in their name, but not RelVal use the following <em>like:RECO and not like:RelVal</em></p>";
MakeTooltip("t_like","likeDef",tooltip);
tooltip="<p>Search dataset for given LFN, LFN name should be provided, no patterns.</p>";
MakeTooltip("t_lfn","lfnDef",tooltip);
//SetAutoCompletion();
// check if user uses IE and turn on warning message
if(isInternetExplorer()) {
ShowTag("isIE");
}
SetTagValue('DBSDD_prdInput','proc'); // it's set in DDServer in autoCompleteForm
SetTagValue('DBSDD_datasetLFNInput','datasetLFNInput');
function UpdateCaseSens() {
  if(GetCookie('DBSDD_caseSensitive')=='off') {
     CaseSensitiveOff();
  } else {
     CaseSensitiveOn();
  }
}
UpdateCaseSens();
function SetNavigatorCookies() {
    var tag=document.getElementById('kw_dbsInstSelector');
    SetCookie('DBSDD_dbsInst',tag.value);
    tag=document.getElementById('kw_group');
    SetCookie('DBSDD_group',tag.value);
    tag=document.getElementById('kw_tier');
    SetCookie('DBSDD_tier',tag.value);
    tag=document.getElementById('kw_cTier');
    SetCookie('DBSDD_cTier',tag.value);
    tag=document.getElementById('kw_release');
    //SetCookie('DBSDD_release',tag.value);
    SetCookie('DBSDD_release',tag.value);
    tag=document.getElementById('kw_primType');
    SetCookie('DBSDD_primType',tag.value);
    tag=document.getElementById('kw_prim');
    SetCookie('DBSDD_prim',tag.value);
    tag=document.getElementById('kw_site');
    SetCookie('DBSDD_site',tag.value);
    tag=document.getElementById('kw_date');
    SetCookie('DBSDD_date',tag.value);
}
//SetDefaultPageMessage('Navigator');
</script>

<!-- end of templateUserNav.tmpl -->
