
<!-- templateMultiResults.tmpl -->

#*
<span class="section_underline">
$site
</span>
<table>
#for $idx in xrange(0,len($dbsInstList))
<tr>
#set $ins=$dbsInstList[$idx]
#set $res=$resList[$idx]
<p>
<td>
<a href="$url/aSearch?dbsInst=$ins&amp;userMode=$userMode&amp;method=$method&amp;userInput=$input">
$ins.upper()
</a>
</td>
<td>
found $res results
</td>
</tr>
</div>
</p>
#end for
</table>
<hr class="dbs" />
*#

#*
<script type="text/javascript">
function clean() {
   var id = document.getElementById('kw_multiSearch');
   if (id) {
       id.innerHTML=id.innerHTML.replace(/please wait .../g,'');
   }
}
clean();
</script>
*#
#for $idx in xrange(0,len($dbsInstList))
#set $ins=$dbsInstList[$idx]
#set $res=$resList[$idx]
<div>
Found $res results in
<a href="$url/aSearch?dbsInst=$ins&amp;userMode=$userMode&amp;method=$method&amp;userInput=$input">
$ins.upper()
</a>
</div>
<hr class="dbs" />
#end for

<!-- end of templateMultiResults.tmpl -->

