<!-- templateLookupFromFinder.tmpl -->

<table class="valign">
<tr>
<td>
Lookup datasets for this results:
</td>

<td>

<table>
<tr>
<td>
<form action="findDSFromFinder">
<input type="hidden" name="dbsInst" value="$dbsInst"/>
<input type="hidden" name="params" value="$params"/>
<input type="hidden" name="userMode" value="$userMode"/>
<input type="submit" value="Processed datasets" />
</form>
</td>
<td>
<form action="findADSFromFinder">
<input type="hidden" name="dbsInst" value="$dbsInst"/>
<input type="hidden" name="params" value="$params"/>
<input type="hidden" name="userMode" value="$userMode"/>
<input type="submit" value="Analysis datasets" />
</form>
</td>
</tr>
</table>

</td>
</tr>
</table>

<!-- end of templateLookupFromFinder.tmpl -->
