<table>
<tr><td>
<div id="parameterNameList"><img src="images/loading.gif" alt="loading" /> Loading parameters</div>
</td>
<td>
<div id="parameterNameListOperators">$operators</div>
</td>
<td><input size="20" type="text" id="searchInput" ></input></td>
<td>
<input type="button" value="Search" onclick="ajaxGetLucene()" />
</td></tr>
</table>
Results: 
<table id="webSearchResultsGrid_updater" class="intro">
</table>
Statistics: 
<div id="webSearchStats">webSearchStats</div>
Number of results: 
<div id="configureWebSearchRows">configureWebSearchRows</div>
<div id="errorResponse"></div>
