<!-- templatePanelMore.tmpl -->
<div id="$id"> 

<div class="hd">More information</div>  
<div class="bd"> <!-- body div -->


###<div id="navlist">
<ul>
#*
<li>
Data location
</li>
*#
<li class="moreInfo">
<a href="/getBlocksInfo?dbsInst=$dbsInst&amp;dataset=$path&amp;userMode=$userMode">
Block information
</a>
##<a href="/getDbsData?dbsInst=$dbsInst&amp;site=All&amp;primD=*&amp;tier=*&amp;proc=$path&amp;_idx=0&amp;ajax=0&amp;userMode=$userMode">
##Block information
##</a>
</li>

<li class="moreInfo">
<a href="/getRuns?dbsInst=$dbsInst&amp;dataset=$path&amp;_idx=0&amp;ajax=0&amp;userMode=$userMode">
Run information
</a>
</li>

<li class="moreInfo">
<a href="/getAppConfigs?dbsInst=$dbsInst&amp;appPath=$appPath&amp;ajax=0&amp;userMode=$userMode">
Configuration file(s)
</a>
</li>

<li class="moreInfo">
<a href="/getProvenanceForAllDatasets?dbsInst=$dbsInst&amp;site=All&amp;primD=*&amp;tier=*&amp;proc=$path&amp;_idx=0&amp;ajax=0&amp;userMode=$userMode">
Provenance information
</a>
</li>

<li class="moreInfo">
<a href="/getDataDescription?dbsInst=$dbsInst&amp;processedDataset=$path&amp;userMode=$userMode">Data description</a>
</li>
<li class="moreInfo">
<a href="https://cmsdoc.cern.ch:8443/cms/aprom/phedex/tbedi/Request::Create?dbschoice=known&amp;dbs=http%3A//cmsdbs.cern.ch/cms/prod/comp/DBS/CGIServer/prodquery%3Finstance%3D$dbsInst&amp;data=$path&amp;priority=0">Create PhEDEx subscription</a>
</li>
#*
<li class="moreInfo">
<a href="/getParameterSet?dbsInst=$dbsInst&amp;dataset=$path&amp;userMode=$userMode">
Parameter set(s)
</a>
</li>
<li class="moreInfo">
<a href="/getAnalysisDS?dbsInst=$dbsInst&amp;dataset=$path&amp;userMode=$userMode">
Analysis dataset(s)
</a>
</li>
*#
<li class="moreInfo">
<a href="/crabCfg?dataset=$path&amp;totEvt=-1&amp;userMode=$userMode">crab.cfg</a>
</li>
</ul>
###</div>

</div> <!-- end of body div --> 
<div class="ft">Footer One</div>  

</div>
<!-- end of templatePanelMore.tmpl -->
