<!-- templateSnapshot.tmpl -->

#if $group=="*"
#set group="Any"
#end if

#if $tier=="*"
#set tier="Any"
#end if

#if $rel=="*"
#set rel="Any"
#end if

#if $primD=="*"
#set primD="Any"
#end if

#if $site=="*"
#set site="Any"
#end if

<table width="100%" cellspacing="1">
<tr valign="top">
<td>

<table class="small" bgcolor="#DDDDDD">
#if $userMode!='user'
<tr>
<td align="right">
<b>DBS instance:</b>
</td>
<td>
<div id="dbsInstDef">
<em>$dbsInst</em>
</div>
</td>
</tr>
#end if
<tr>
<td align="right"><b>Physics group:</b>
</td>
<td>$group</td>
</tr>

<tr>
<td align="right"><b>Data tier:</b>
</td>
<td>$tier</td>
</tr>

<tr>
<td align="right"><b>Sofware release:</b>
</td>
<td>$rel</td>
</tr>

<tr>
<td align="right"><b>Primary dataset:</b>
</td>
<td>$primD</td>
</tr>

<tr>
<td align="right"><b>Site:</b>
</td>
<td>$site</td>
</tr>

</table>

</td>
<td>

#if $nDatasets
<table>
<tr>
<td>
Number of found datasets:
</td>
<td>
$nDatasets
</td>
</tr>

<tr>
<td>
Full list of datasets:
</td>
<td>
<a href="$host/showProcDatasets?dbsInst=$dbsInst&amp;site=$site&amp;group=$group&amp;app=$app&amp;primD=$primD&amp;tier=$tier&amp;userMode=$userMode">
here</a>
</td>
</tr>

<tr>
<td>
Datasets table details:
</td>
<td>
<span id="showProcDatasetDetails">
<a href="javascript:ShowProcDetails();ajax_dhtmlHistory('__showProcDatasetDetails','ShowProcDetails()')">show</a>
</span> |
<span id="hideProcDatasetDetails">
<a href="javascript:HideProcDetails();ajax_dhtmlHistory('__hideProcDatasetDetails','HideProcDetails()')">hide</a>
</span>
</td>
</tr>
<tr>
<td>
ProdRequest status for all datasets:
</td>
<td>
<span id="showProdRequest">
<a href="javascript:ShowProdRequestOutput();ajax_dhtmlHistory('__showProdRequest','ShowProdRequestOutput()')">show</a>
</span> |
<span id="hideProdRequest">
<a href="javascript:HideProdRequestOutput();ajax_dhtmlHistory('__hideProdRequest','HideProdRequestOutput()')">hide</a>
</span>
</td>
</tr>
</table>

#else
Found 0 datasets.<br />
#end if

</td>
</tr>
</table>


<br />

#if $dbsInst!='Any'
<script type="text/javascript">
var tooltip;
tooltip='This DBS instnace is served by:<br/><a href="$dbsInstUrl">$dbsInstUrl</a>';
MakeTooltip("t_dbsInst","dbsInstDef",tooltip,10000,700);
</script>
#end if

<!-- end of templateSnapshot.tmpl -->
