<!-- templateSiteForm.tmpl -->
<p>
Use this form to show detailed information about particular site.
</p>
<p>
The input form supports 
<a href="_help?userMode=$userMode&section=help_wild-card">
<span id="wildcardDef">
wild-card
</span>
</a>, 
<a href="_help?userMode=$userMode&section=help_regexp">
<span id="regexpDef">
regular expressions
</span>
</a>, 
<a href="_help?userMode=$userMode&section=help_like">
<span id="likeDef">
like
</span>
</a> searches.
</p>

<!--
<form action="javascript:ResetAllResults();showWaitingMessage();ajaxSiteSearch()" method="get">
-->
<!-- <form action="getFileBlocks" method="get"> -->
<form action="getData" method="get">
<table>

<tr valign="top">
<td valign="top" align="right">
Auto-completion: 
</td>
<td>
#if $autocomplete==1
#set classOn="td_underline_pad"
#set classOff=""
#else
#set classOff="td_underline_pad"
#set classOn=""
#end if
<a href="javascript:AutoTurnOn();"><span id="autoOn" class="$classOn">on</span></a> 
| 
<a href="javascript:AutoTurnOff();"><span id="autoOff" class="$classOff">off</span></a>, &nbsp;
Case-sensitivity:
<a href="javascript:CaseSensitiveOn();"><span id="caseOn" class="td_underline_pad">on</span></a> 
| 
<a href="javascript:CaseSensitiveOff();"><span id="caseOff" class="">off</span></a>
</td>
</tr>

<!--
<tr>
<td>&nbsp;</td><td>&nbsp;</td>
</tr>
-->

<tr>
<td valign="bottom" align="right"><b>PhEDEx info:</b></td>
<td>
<input type="checkbox" name="phedex" />(turn on automatic PhEDEx information retrieval)
<br>
<td>
</tr>

#if $userMode!='user'
<tr>
<td align="right"><b>DBS instance:</b></td>
<td>
###<select name="dbsInst" onchange="updateSites(this)" id="form2_dbsSelector">
<select name="dbsInst" onchange="showLoadingMessage('form2_siteHolder');ajaxGetSites('','form2_dbsSelector','form2_siteHolder','site')" id="form2_dbsSelector">
#for dbs in $dbsList
#if $dbs==$firstDBS
<option value="$dbs" selected="selected">$dbs</option>
#else
<option value="$dbs">$dbs</option>
#end if
#end for
</select>
</td>
<td>
</td>
</tr>
#else
<input type="hidden" name="dbsInst" value="$dbsGlobal" />
#end if

<tr>
<td align="right">
<div id="siteDef">
<b>
Site selector:
</b>
</td>
<td>

<div id="form2_siteHolder">
<select id="form2_siteSelector" name="site">
#*
#for site in $siteList
<option value="$site">$site</option>
#end for
*#
<option value="any" selected="selected">Any</option>
#set iList=$siteDict.keys()
#silent $iList.sort()
#for domain in $iList
<optgroup label="$domain domain">
#for site in $siteDict[$domain]
<option value="$site">$site</option>
#end for
</optgroup>
#end for
</select>
</div>

</td>

</tr>
<tr>
<td align="right">
<div id="procDef">
<b>
Processed dataset:
</b>
</div>
</td>

<td>
$prdForm
</td>
</tr>


<tr>

<td>
###<input type="submit" value="Search" id="form2_submit-button" onclick="javascript:showWaitingMessage()"/>
<input type="hidden" name="ajax" value="0" />
<input type="hidden" name="userMode" value="$userMode" id="kw_userModeSelector" />
<input type="hidden" name="group" value="*" />
<input type="hidden" name="tier" value="*" />
<input type="hidden" name="app" value="*" />
<input type="hidden" name="primD" value="*" />
</td>
<td>
<input type="submit" value="Search" id="form2_submit-button" />
<input type="reset" value="Reset" />
</td>
</tr>
</table>
</form>

<script type="text/javascript">
tooltip="<p>Wild-card search form with auto-completion. The \'%\' and \'*\' wild-cards are supported, e.g. *QCD*LowLumi* or %QCD%LowLumi% are equivalent.</p>";
MakeTooltip("t_wildcard","wildcardDef",tooltip);
tooltip="<p>Regular expression search can be done by using <em>regexp:</em> keyword. For example, <em>regexp:RelVal.*RECO</em> will match all samples who have RelVal and RECO somewhere in a path separated by any number of characters.</p>";
MakeTooltip("t_regexp","regexpDef",tooltip);
tooltip="<p>Like-search allows you to search datasets whose name will match provided pattern. You can construct logical expressions by using <em>like:</em> keyword. For example to search for all datasets who have RECO in their name, but not RelVal use the following <em>like:RECO and not like:RelVal</em></p>";
MakeTooltip("t_like","likeDef",tooltip);
//SetAutoCompletion();
// check if user uses IE and turn on warning message
if(isInternetExplorer()) {
ShowTag("isIE");
}
</script>

<!-- end of templateSiteForm.tmpl -->
