<!-- templateDiffLegend.tmpl -->
<p />
    <table class="diff" summary="Legends">
        <tr> <th colspan="0"> Legends </th> </tr>
        <tr> <td> <table class="diff" summary="Colors">
                      <tr><th> Colors </th> </tr>
                      <tr><td class="diff_add">&nbsp;Added&nbsp;</td></tr>
                      <tr><td class="diff_chg">Changed</td> </tr>
                      <tr><td class="diff_sub">Deleted</td> </tr>
                  </table></td>
             <td> <table class="diff" border="0" summary="Links">
                      <tr><th colspan="2"> Links </th> </tr>
                      <tr><td>(f)irst change</td> </tr>
                      <tr><td>(n)ext change</td> </tr>
                      <tr><td>(t)op</td> </tr>
                  </table></td> </tr>
    </table>
<!-- end of templateDiffLegend.tmpl -->
