<!-- templateAppConfigsContent.tmpl -->

####set rel=$appPath.split("/")[1]
<table>
<tr>
<td align="right"><b>Release:</b></td><td>$rel</td>
</tr>
<tr>
<td align="right"><b>Name:</b></td><td>$name</td>
</tr>
<tr>
<td align="right"><b>Version:</b></td><td>$version</td>
</tr>
<tr>
<td align="right"><b>Type:</b></td><td>$type</td>
</tr>
#if $userMode!='user'
<tr>
<td align="right"><b>DBS instance:</b></td><td>$dbsInst</td>
</tr>
<tr>
<td align="right"><b>Annotation</b></td><td>$annotation</td>
</tr>
<tr>
<td align="right"><b>Creation by</b></td><td>$cBy</td>
</tr>
<tr>
<td align="right"><b>Creation date</b></td>$cDate<td></td>
</tr>
<tr>
<td align="right"><b>Modified by</b></td><td>$mBy</td>
</tr>
<tr>
<td align="right"><b>Modification date</b></td>$mDate<td></td>
</tr>
#end if
<tr>
<td>
<b>Content:</b>
</td><td></td>
</tr>
</table>
<p />
<pre>
$content
</pre>

<hr class="dbs" />
<!-- end of templateAppConfigsContent.tmpl -->
