<!-- templateMoreInfo.tmpl -->
<div class="float_moreInfo">

<table width="100%">
<tr>
<td align="left">
<span class="sectionhead_tight">
More information
</span>
</td>
<td align="right">
<a href="javascript:HideTag('$id');ajax_dhtmlHistory('__closeMoreInfo','HideTag(\'$id\')')">close &#8855;</a>
</td>
</tr>
</table>
<hr class="dbs" />

<div id="navlist">
<ul>
#*
<li>
Data location
</li>
*#
<li class="moreInfo">
<a href="$host/getDbsData?dbsInst=$dbsInst&amp;site=All&amp;primD=*&amp;tier=*&amp;proc=$path&amp;_idx=0&amp;ajax=0&amp;userMode=$userMode">
File block information
</a>
</li>

<li class="moreInfo">
<a href="$host/getRuns?dbsInst=$dbsInst&amp;site=All&amp;primD=*&amp;tier=*&amp;proc=$path&amp;_idx=0&amp;ajax=0&amp;userMode=$userMode">
Run information
</a>
</li>

<li class="moreInfo">
<a href="$host/getAppConfigs?dbsInst=$dbsInst&amp;appPath=$appPath&amp;procPath=$path&amp;ajax=0&amp;userMode=$userMode">
Configuration file(s)
</a>
</li>

<li class="moreInfo">
###<a href="$host/getProvenanceForAllDatasets?dbsInst=$dbsInst&amp;site=All&amp;primD=*&amp;tier=*&amp;proc=$path&amp;_idx=0&amp;ajax=0&amp;userMode=$userMode">
<a href="$host/getDatasetProvenance?dbsInst=$dbsInst&amp;dataset=$path&amp;ajax=0&amp;userMode=$userMode">
Provenance information
</a>
</li>

<li class="moreInfo">
<a href="$host/getDataDescription?dbsInst=$dbsInst&amp;processedDataset=$path&amp;userMode=$userMode">Data description</a>
</li>
<li class="moreInfo">

###<a href="https://cmsdoc.cern.ch:8443/cms/aprom/phedex/tbedi/Request::Create?dbschoice=known&amp;dbs=http%3A//cmsdbs.cern.ch/cms/prod/comp/DBS/CGIServer/prodquery%3Finstance%3D$dbsInst&amp;data=$path&amp;priority=0">Create PhEDEx subscription</a>

<a href="$PhedexURL?type=xref&amp;dbschoice=known&amp;dbs=$dbsInstURL&amp;data=$path&amp;priority=1">
Create PhEDEx subscription</a>
</li>
#*
<li class="moreInfo">
<a href="$host/getParameterSet?dbsInst=$dbsInst&amp;dataset=$path&amp;userMode=$userMode">
Parameter set(s)
</a>
</li>
*#
<li class="moreInfo">
<a href="$host/getAnalysisDS?dbsInst=$dbsInst&amp;dataset=$path&amp;ajax=0&amp;userMode=$userMode">
Analysis dataset(s)
</a>
</li>
<li class="moreInfo">
<a href="$host/crabCfg?dataset=$path&amp;totEvt=-1&amp;userMode=$userMode">crab.cfg</a>
</li>

<li class="moreInfo">
#set empty,prim,proc,tier=$path.split("/")
#set idPath=$path.replace("/","___")
###<a href="javascript:ajaxEngine.registerAjaxElement('ProdRequest_$idPath');ajaxGetProdRequest('$prim','ProdRequest_$idPath')">ProdRequest</a>
<a href="javascript:GetProdRequestOutput('ProdRequest_$idPath','$prim')">ProdRequest</a>
</li>

</ul>
</div>

</div>
<!-- end of templateMoreInfo.tmpl -->
