<div class="div_scroll">
<span id="allHistory" class="show_inline"></span>
</div>

</div>
<!-- END userHistory -->

<!-- authHistory -->
<div id="authHistory" class="hide">
      <table class="table_box_white" border="0" width="100%">
      <tr valign="top">
      <td class="box_darkblue">
      DBS/DLS data discovery authentication
      </td>
      </tr>
      <tr valign="top">
      <td>
      <div class="text">To be able keep your session history you need to authenticate yourself.<br/>
      This information is NOT associated with either your login name to any CMS nodes<br />
      or grid certificates and used solely for your authentication with DBS/DLS discovery page.<br />
      This authentication is completely optional and used to provide persistent history searches.
      <p>Please use provided form below:</p>
      </div>

      <form action="javascript:ajaxCheckUser()" method="get">
      <div id="formInputName"></div>
      <script type="text/javascript">formRequest()</script>
      <p>
      <input type="submit" value="Authenticate" onclick="set_name(this.form)" />
      </p>
      <p></p>
      <div id="formAuthResults"></div>
      </form>

      </td></tr></table>
      ##</div>
</div>
<!-- END authHistory -->

<!-- searchHistory -->
<div id="searchHistory"  class="hide">
      <table class="table_box_white" border="0" width="100%">
      <tr valign="top">
      <td class="box_darkblue">
      DBS/DLS data discovery history search
      </td>
      </tr>
      <tr>
      <td>
      <div class="div_scroll">
      <p></p>
      <form action="javascript:ajaxHistorySearch();" method="get">
      <table>
      <tr>
      <td>
      From:
      </td>
      <td>
      <select name="in_hSearch_year" id="in_hSearch_year" onchange="AdjustToDate();CheckToDate()">
#for year in xrange(2006,2016)
      <option value="$year">$year</option>
#end for
      </select>
#set mArr=['Jan','Feb','Mar','May','Apr','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
      <select name="in_hSearch_month" id="in_hSearch_month" onchange="AdjustToDate();CheckToDate()">
#for month in $mArr
      <option value="$month">$month</option>
#end for
      </select>
      </td>
      <td>
      to:
      </td>
      <td>
      <select name="out_hSearch_year" id="out_hSearch_year" onchange="CheckToDate()">
#for year in xrange(2007,2016)
      <option value="$year">$year</option>
#end for
      </select>
#set mArr=['Jan','Feb','Mar','May','Apr','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
      <select name="out_hSearch_month" id="out_hSearch_month" onchange="CheckToDate()">
#for month in $mArr
      <option value="$month">$month</option>
#end for
      </select>
      </td>
      <td>
      <input type="submit" value="Find" onclick="javascript:showLoadingMessage('historySearchResults');" />
      </td>
      </tr>
      </table>
      </form>
      <hr class="dbs" />
      <span id="historySearchResults">Here we will provide a basic search of user commands</span>

      </div>
      </td>
      </tr>
      </table>
</div>
<!-- END searchHistory -->
