
<!-- templateAdvancedSearchForm.tmpl -->

<span id="defaultPage"></span>
<div align="center">
<form action="aSearch" method="get">
<div>
<input type="hidden" name="caseSensitive" value="on" id="caseSensitive" />
<input type="hidden" name="userMode" id="userMode" value="$userMode" />
<input type="hidden" name="sortOrder" id="sortOrder" value="desc" />
<input type="hidden" name="sortName" id="sortName" value="" />
<input type="hidden" name="grid" id="grid" value="0" />
<input type="hidden" name="method" id="method" value="dbsapi" />
</div>

## add table with case sensitivity and choice of dbs instance (in expert mode)
<table cellpadding="2" cellspacing="2">
<tr>
#*
#if $userMode=='user'
<td>
##<input type="hidden" name="dbsInst" value="$dbsInst" id="kw_dbsInstSelector" />
<div>
<input type="hidden" name="dbsInst" value="$dbsInst" id="dbsInst" />
</div>
</td>
<td>
</td>
#else
*#
<td align="right">
<div id="dbsInstDef">
<b>DBS instances</b>
</div>
</td>
<td>
<select name="dbsInst" id="dbsInst" onchange="javascript:ReloadMethod('$host','_advanced','$userMode')" style="$style">
#for dbs in $dbsList
<option value="$dbs">$dbs</option>
#end for
</select>
</td>
####end if
<td>
Case-sensitivity:
<a href="javascript:CaseSensitiveOn();"><span id="caseOn" class="td_underline_pad">on</span></a> 
| 
<a href="javascript:CaseSensitiveOff();"><span id="caseOff" class="">off</span></a>
</td>
<td align="right">
&nbsp;&nbsp;&nbsp;
<b class="yellow_box" style="text-decoration:underline" onclick="javascript:aSearchHelp()">HELP</b>
</td>
</tr>
</table>

<div>
<input type="text" size="80" name="userInput" id="userInput" />
<input type="submit" value="Search" onclick="javascript:SetTagCookie('DBSDD_ainput','userInput')" />
<input type="reset" />
</div>

</form>

#*
#if $showHelp
<div id="aSearchHELP" class="float_aSearch_help">
#else
<div id="aSearchHELP" class="hide">
#end if
*#
<div id="aSearchHELP" class="hide">
<table>
<tr>
<td align="left">
<span class="sectionhead_tight">
Query Language (QL) Help
</span>
</td>
<td align="right">
<a href="javascript:HideTag('aSearchHELP')">close &#8855;</a>
</td>
</tr>

<tr><td colspan="2"><hr class="dbs" /></td></tr>
#*
<tr>
<td colspan="2">
Go to:
<a href="#SYNTAX">Syntax</a>,
<a href="#KEYWORDS">Keywords</a>,
<a href="#SHORTCUTS">Shortcuts</a>,
<a href="#EXAMPLES">Examples</a>.
</td>
</tr>
<tr><td colspan="2"><hr class="dbs" /></td></tr>
*#

<tr valign="top">

<td colspan="2">
<div class="sectionhead">INTRODUCTION</div>
The QL was designed to help you find out CMS data quickly. It supports a set of keywords which
specify what you're looking for. For example, run keyword instruct QL that you're looking for
run number. Every keyword followed by constrain operator, such as equal "=". You can combine
any number of constrains by using AND|OR keywords.
<br/>
A full description of the Query Language can be found 
<a href="https://twiki.cern.ch/twiki/bin/view/CMS/QL">here</a>. Please note that
it is still under development.
<br/>
<hr class="dbs"/>
<br/>

<table width="100%"><tr><td align="left">
<a name="SYNTAX">
<span class="sectionhead">SYNTAX</span>
</a>
</td><td align="right">
<a href="javascript:HideTag('aSearchHELP')">close &#8855;</a>
</td></tr></table>
<b>
FIND &lt;keyword&gt; WHERE &lt;keyword&gt; &lt;op&gt; &lt;value&gt; AND | OR  ...
</b>
<br/>
Constrain operators: 
<b>
&lt;=, &lt;, &gt;=, &gt;, =, not like, like, in, between
</b>
<br/>
words FIND,WHERE,AND,OR can be upper or lower case. 
<br/>
#*
Expressions can be
groupped together using brackets, e.g. ((a and b) or c)
<br/>
*#
<hr class="dbs"/>
<br/>

<table width="100%"><tr><td align="left">
<a name="KEYWORDS">
<span class="sectionhead">KEYWORDS</span>
</a>
</td><td align="right">
<a href="javascript:HideTag('aSearchHELP')">close &#8855;</a>
</td></tr></table>
$aSearchKeys
<br/>
<hr class="dbs"/>
<br/>

<!--
<table width="100%"><tr><td align="left">
<a name="SHORTCUTS">
<span class="sectionhead">SHORTCUTS</span>
</a>
</td><td align="right">
<a href="javascript:HideTag('aSearchHELP')">close &#8855;</a>
</td></tr></table>
<b>FIND dataset WHERE </b> expression is default and can be skipped.
<br/>
If you type single word, e.g. <span class="box_blue">QCD</span> your look-up will be:
<span class="box_blue">find dataset where dataset=QCD</span>.
<br/>
If you type word with asterisk, e.g. <span class="box_blue">QCD*</span> your look-up will be:
<span class="box_blue">find dataset where dataset like QCD*</span>.
<br/>
You can use <span class="box_blue">=</span> instead of <span class="box_blue">like</span>,
e.g. <span class="box_blue">find run where dataset=/Commissioning2008Ecal-A/*</span>
<br/>
<hr class="dbs"/>
<br/>
-->

#*
<table width="100%"><tr><td align="left">
<a name="EXAMPLES">
<span class="sectionhead">EXAMPLES</span>
</a>
</td><td align="right">
<a href="javascript:HideTag('aSearchHELP')">close &#8855;</a>
</td></tr></table>
*#

#*
<!--
<em class="box_blue">
*QCD*
</em>
<br/>
shortcut for look-up all datasets whose name matched QCD pattern.
<br/><br/>
-->
<em class="box_blue">
find dataset where dataset like *
</em>
<br/>
look-up all datasets in DBS
<br/><br/>
<em class="box_blue">
find release where release like *
</em>
<br/>
look-up all releases in DBS,
<span class="box_red">NOTE:</span>
replace 
<span class="box_blue">release</span> with any other keyword, like
<span class="box_blue">primds, run</span>, etc. 
in order to get all primary dataset, runs, respectively
<br/><br/>
<em class="box_blue">
dataset like *Online* and site=srm.cern.ch
</em>
<br/>
look-up datasets with dataset path matched pattern *Online* and located at srm.cern.ch.
<br/><br/>
<em class="box_blue">
dataset like *Online* and site like T2_UK*
</em>
<br/>
look-up datasets with dataset path matched pattern *Online* and located at all T2_UK sites
<br/><br/>
<em class="box_blue">
##find dataset where run between 34850-36000 or run in 34850,34890
find dataset where run between 34850 and 36000 or run in (34850,34890)
</em>
<br/>
look-up dataset with runs within a given run ranges. The
<span class="box_blue"><em>find dataset where</em></span> is optional here (default).
<br/><br/>
<em class="box_blue">
find run where dataset like *Online*
</em>
<br/>
look-up runs whose dataset name match the pattern *Online* 
<br/><br/>
<em class="box_blue">
find file where release>CMSSW_1_6_7 and site=T2_UK
</em>
<br/>
find files located on T2_UK sites which were processed with release CMSSW_1_6_7 and above.
<br/><br/>
<em class="box_blue">
find primds where (dataset like *Online* or dataset not like *RelVal* ) and release>CMSSW_1_7
</em>
<br/>
look-up primary datasets whose dataset name match either Online or not RelVal and who<br/>
are processed with release greater them CMSSW_1_7
<br/><br/>
<em class="box_blue">
find file,run where dataset=/Commissioning2008Ecal-A/Online/RAW
</em>
<br/>
look-up files and runs for given dataset name
<br/><br/>
<!--
<em class="box_blue">
find total(file),run where dataset=/Commissioning2008Ecal-A/Online/RAW
</em>
<br/>
look-up total number of files and list runs for given dataset name
<br/>
-->
<em class="box_blue">
find sum(file.size),run where dataset=/Commissioning2008Ecal-A/Online/RAW
</em>
<br/>
look-up total size of files and list runs for given dataset name
<br/>
<hr class="dbs"/>
*#

</td>
</tr>

</table>
</div>

#*
#if $userHelp
<p>
<b class="yellow_box" onclick="javascript:aSearchHelp('SYNTAX')">Syntax</b>,
<b class="yellow_box" onclick="javascript:aSearchHelp('KEYWORDS')">Keywords</b>,
<b class="yellow_box" onclick="javascript:aSearchHelp('SHORTCUTS')">Shortcuts</b>,
<b class="yellow_box" onclick="javascript:aSearchHelp('EXAMPLES')">Examples</b>.
</p>
<p>
Command line tool for this interface is available <a href="aSearchCLI">here</a>.
</p>
#end if
*#
#if $userMode=='expert'
<p>
<input type="checkbox" id="checkMethod" onChange="ChangeMethod()" checked='checked' /> check this box if you want to use DBS-QL, uncheck for DD QL implementation
</p>
#else
<input type="hidden" id="checkMethod" checked='checked' />
#end if

</div> <!-- end of center -->

<script type="text/javascript">
function ChangeMethod() {
   var id=document.getElementById('method');
   var jd=document.getElementById('checkMethod');
   if (jd && jd.checked==true) {
       id.value='dbsapi';
       SetCookie('DBSDD_method','dbsapi')
   } else {
       id.value='dd';
       SetCookie('DBSDD_method','dd')
   }
}
SetCookie('DBSDD_method','dbsapi');
#if $len($userInput)
SetCookie('DBSDD_ainput','$userInput')
#else
SetTagValue('DBSDD_ainput','userInput');
#end if
function UpdateCaseSens() {
  if(GetCookie('DBSDD_caseSensitive')=='off') {
     CaseSensitiveOff();
  } else {
     CaseSensitiveOn();
  }
}
UpdateCaseSens();
function UpdateMethodUsage() {
   var mid=document.getElementById('checkMethod');
   var url=window.location.href;
   if(url.search("method=dd")>0) {
      //SetCookie('DBSDD_method','dd');
      if(mid) mid.checked=false;
   } else if(url.search("method=dbsapi")>0) {
      //SetCookie('DBSDD_method','dbsapi');
      if(mid) mid.checked=true;
   } else {
       var method=GetCookie('DBSDD_method');
       if (method) {
          if (method=='dd') {
              if(mid) mid.checked=false;
          } else {
              if(mid) mid.checked=true;
          }
       }  else {
  //        SetCookie('DBSDD_method','dd');
          if(mid) mid.checked=false;
       }
   }
   ChangeMethod();
}
UpdateMethodUsage();
function UpdateUserView() {
   var grid=document.getElementById('grid');
   var url=window.location.href;
   if(url.search("grid=1")>0) {
      SetCookie('DBSDD_view','grid');
      grid.value=1;
   } else if(url.search("grid=0")>0) {
      SetCookie('DBSDD_view','list');
      grid.value=0;
   } else {
       var view=GetCookie('DBSDD_view');
       if (view) {
          if (view=='grid') {
              grid.value=1;
          } else {
              grid.value=0;
          }
       }  else {
          SetCookie('DBSDD_view','list');
          grid.value=0;
       }
   }
}
UpdateUserView();
function UpdateUserInput() {
   var input=GetCookie('DBSDD_ainput');
   if (input) {
      var id=document.getElementById('userInput');
      if (id) {
         id.value=input;
      }
   }
}
UpdateUserInput();
function aSearchHelp(theUrl) {
   ShowTag('aSearchHELP');
   var id=document.getElementById('aSearchHELP');
   id.className="float_aSearch_help";
   if(theUrl) {
      window.location.href='#'+theUrl;
//   } else {
//      window.location.href='#HOME';
   }
}
function aSearchKeys() {
   ShowTag('aSearchKeys');
   var id=document.getElementById('aSearchKeys');
   id.className="float_aSearch_help";
}
//SetDefaultPageMessage('aSearch');
</script>
<p></p>

<!-- end of templateAdvancedSearchForm.tmpl -->
