<span id="floatDataDescription"></span>
#*
<table id="results_menu" class="hide" cellspacing="0" cellpadding="0" width="100%">
###<table id="results_menu" cellspacing="0" cellpadding="0" width="100%">

<tr>

<td style="width:1%;background-color:#E0E0E0;" align="center">
<span class="yellow_box" onMouseOver="KeywordHelp('ResultsViewDesc_tag','Found data groupped into several tabs. Summary view collects information from DBS and DLS system. Block and run info are DBS only information. Parents tab shows data relationship and appConfigs retrieves information about configuration files associated with found data.')" onMouseOut="ClearTag('ResultsViewDesc_tag')">?</span><span id="ResultsViewDesc_tag"></span>
</td>

<td class="td_menu_gray_box" id="_results">
<table width="100%"><tr><td>
<div id="__results"><table class="image"><tr><td></td></tr></table></div>
</td><td align="center">
<a href="javascript:showResMenu('results')">
Summary
</a>
</td><td><table class="image"><tr><td></td></tr></table>
</td></tr></table>
</td>

<td class="td_menu_gray_box" id="_results_dbs">
<table width="100%"><tr><td>
<div id="__results_dbs"><table class="image"><tr><td></td></tr></table></div>
</td><td align="center">
<a href="javascript:showResMenu('results_dbs')">
Block info
</a>
</td><td><table class="image"><tr><td></td></tr></table>
</td></tr></table>
</td>

<td class="td_menu_gray_box" id="_runs">
<table width="100%"><tr><td>
<div id="__runs"><table class="image"><tr><td></td></tr></table></div>
</td><td align="center">
<a href="javascript:showResMenu('runs')">
Run info
</a>
</td><td><table class="image"><tr><td></td></tr></table>
</td></tr></table>
</td>

<td class="td_menu_gray_box" id="_parents">
<table width="100%"><tr><td>
<div id="__parents"><table class="image"><tr><td></td></tr></table></div>
</td><td align="center">
<a href="javascript:showResMenu('parents')">
Parents
</a>
</td><td><table class="image"><tr><td></td></tr></table>
</td></tr></table>
</td>

<td class="td_menu_gray_box" id="_appConfigs">
<table width="100%"><tr><td>
<div id="__appConfigs"><table class="image"><tr><td></td></tr></table></div>
</td><td align="center">
<a href="javascript:showResMenu('appConfigs')">
App configs
</a>
</td><td><table class="image"><tr><td></td></tr></table>
</td></tr></table>
</td>

</tr>
</table>

<br />
*#
<div id="navBar" class="hide"></div>
<div id="results_index"></div>
<div id="results_waiting"></div>
<div id="results_kw"></div>
<div id="results_dbs"></div>
<div id="results_site"></div>
<div id="runs"></div>
<div id="parents"><br /></div>
<div id="appConfigs"><br /></div>
<div id="results_finder"></div>
<div id="results"></div>
<p>
<div id="progressBar"></div>
</p>
