#####<table><tr><td align="left">$date</td><td align="left">$time</td><td align="left">&#8212;</td><td align="left">$action</td></tr></table>
###<table><tr><td align="left">$date</td><td align="left">$time</td><td align="left">--</td><td align="left">$action</td></tr></table>
<table><tr><td align="left">$date</td><td align="left">--</td><td align="left">$action</td></tr></table>
