<p><b>Analysis dataset</b></p>\
<p>\
A subset of a Processed Dataset representing a coherent sample for physics analysis, specified (conceptually) by running an analysis query on a Processed Dataset at a particular instant of time. An Analysis Dataset must not contain the output of multiple processings of any given input data.\
</p>\
<p><b>Examples:</b> to be defined</p>\
