
<!-- templateMultiSearchForm.tmpl -->
<br/>
<br/>

<span id="defaultPage"></span>
<div align="center">
<form action="multiSearch" method="get">
<div>
<input type="hidden" name="userMode" id="userMode" value="$userMode" />
</div>

<div>
<input type="text" size="80" name="userInput" id="userInput" value="$userInput" />
<input type="submit" value="Search" onclick="javascript:SetTagCookie('DBSDD_ainput','userInput')" />
<input type="reset" />
</div>

</form>

</div> <!-- end of center -->

<!-- end of templateMultiSearchForm.tmpl -->

