#import types
#if type($pfnList) is types.ListType
untracked PSet maxEvents = {untracked int32 input = -1}
   source = PoolSource {
       untracked vstring fileNames = {
#else
replace PoolSource.fileNames = {
#end if
#for lfn in $lfnList
#if $lfn!=$lfnList[-1]
        '$lfn',
#else
        '$lfn'
#end if
#end for
#if type($pfnList) is types.ListType
}
untracked vstring secondaryFileNames = {
#for pfn in $pfnList
#if $pfn!=$pfnList[-1]
        '$pfn',
#else
        '$pfn'
#end if
#end for
}
}
#else
}
}
#end if
