<div class="sectionhead_tight">
INSTALL INSTRUCTIONS FOR DBS-CLIENT RPM:
</div>
<pre>
export PROJ_DIR=/data/projects/prod/ ### Change as appropriate
export PROJ_NAME=dbs-client
export SCRAM_ARCH=slc4_ia32_gcc345
export APT_VERSION=0.5.15lorg3.2-cmp

### You only need to do this once
wget -O\$PROJ_DIR/bootstrap.sh http://cmsrep.cern.ch/cmssw/cms/bootstrap.sh
chmod +x \$PROJ_DIR/bootstrap.sh
\$PROJ_DIR/bootstrap.sh -repository comp -arch \$SCRAM_ARCH -path \$PROJ_DIR setup 
cd \$PROJ_DIR
source \$SCRAM_ARCH/external/apt/\$APT_VERSION/etc/profile.d/init.sh
apt-get update

apt-cache search dbs-client # find the dbs-client RPM
apt-get install cms+dbs-client+$ver-cmp 

Once it's installed you should source dbs-client init.sh file to setup all environment for it.
</pre>

<div class="sectionhead_tight">
SETUP INSTRUCTIONS FOR DBS-CLIENT RPM:
</div>
You may either execute the following set of commands each time you're going to use DBS CLI or
save them into simple script as
<pre>
#!/bin/sh
ver=$ver-cmp
proj_dir=/data/projects/dbs ### Change as appropriate
source \$proj_dir/slc4_ia32_gcc345/external/apt/0.5.15lorg3.2-cmp/etc/profile.d/init.sh
source \$proj_dir/slc4_ia32_gcc345/cms/dbs-web/\$ver/etc/profile.d/init.sh
cd \$proj_dir/slc4_ia32_gcc345/cms/dbs-web/\$ver/lib/python2.4/site-packages/
</pre>
Save it as setup.sh and execute it every time you need to setup your DBS environment.
