<table class="table_box_white" border="0" width="100%">
<tr valign="top">
<td class="box_darkblue">
SQL query
</td>
</tr>
<tr valign="top">
<td>
         <p></p>
         ###<input type="hidden" value="$dbsInst" id="kw_dbsSelector" />
         <form action="javascript:ResetAllResults();ajaxExecuteQuery()" method="get">
         <table>
         <tr>
         <td align="right">
         DBS instance:
         </td>
         <td>
         <select id="dbsExpert_dbsSelector">
         #for dbs in $dbsList
         <option value="$dbs">$dbs</option>
         #end for
         </select>
         </td>
         </tr>
         
         <tr>
         <td align="right">
         DBS table(s):
         </td>
         <td>
         <select id="kw_dbsTables" name="dbsTables">
         <option>All</option>
         #for table in $dbsTables
         <option value="$table">$table</option>
         #end for
         </select>
         </td>
         <td>
         retrieve a <a href="javascript:ResetAllResults();ajaxGetDbsSchema()">schema</a>
         </td>
         </table>
         <br />
         Place your SQL query below in a text area. 
         <p>
         <textarea rows="5" cols="50" id="queryText"></textarea>
         </p>
         <input type="reset"  value="Reset" id="reset-query-button"  />
         <input type="submit" value="Submit" id="submit-query-form"/>
         </form>
        
</td>
</tr>
</table>
<div id="results_finder"></div>
