<!-- templateAdministrateForm.tmpl -->
This page dedicated for administration of the datasets, including dataset migration,
changing status of dataset and/or block, changing status of LFNs in a given dataset.
<br/><br/>
#if $user
You are identified as 
<span class="box_blue">$user</span>. 
If you are not <span class="box_blue">$user</span>,  please use Login link at right upper corner of
the page
#else
<span class="box_red">ATTENTION:</span>
Please be aware that administration forms require authenticatioin using your HN login/password.
Please use Login link at right upper corner of the page.
#end if
<br/><br/>
<div class="sectionhead">ADMINISTER DATASET</div>
<hr class="dbs" />
<table>

<tr>
<td>
DBS instance:
</td>
<td>
<select id="dbsInst" name="dbsInst" onchange="javascript:ReloadMethod('$host','_admin','expert')">
#for dbs in $dbslist
<option valya="$dbs">$dbs</option>
#end for
</select>
</td>
</tr>

<tr>
<td>
Dataset:
</td>
<td
<form action="adminDataset" method="get">
<input type="hidden" name="dbsInst" value="$dbsInst" />
<input type="hidden" name="userMode" value="$userMode" />
<input type="text" size="80" name="dataset" />
<input type="submit" value="Next step" />
<input type="reset" />
</form>
</td>
</tr>
</table>

<!-- end of templateAdministrateForm.tmpl -->

