<!-- templateProcessedDatasetsGrid.tmpl -->
#set siteList=$dDict.keys()
#set empty,prim,proc,tier=$path.split("/")
#set idPath=$path.replace("/","___")
#set tid="table_"+$idPath

#from DDUtil import sizeFormat, colorSizeHTMLFormat
#set values=$masterDict.values()[0]
#set prdDate=$values[0]
#set cBy=$values[1]
#set nblks=$values[2]
#set size=$colorSizeHTMLFormat($values[3])
#set nFiles=$values[4]
#set nEvts=$values[5]
#set keys=$masterDict.keys()
#set se=$keys[0]
#set nSites=$len($dDict.keys())
#*
<hr class="dbs" />
<table width="100%" class="dbs_table">
<tr>
<th>
Path
</th>
<th>
Created
</th>
<th>
Size
</th>
<th>
Blocks
</th>
<th>
LFNs
</th>
<th>
Events
</th>
<th>
Sites
</th>
<th>
Links
</th>
</tr>
*#

#set months=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
<tr ${style}>
<td class="left">
#*
#set newpath=$path[1:]
/$newpath.replace("/","<br/>/")
*#
$path
</td>
<td>
#set t=$prdDate.split()
#set idx=$months.index($t[1])
#if $idx<10
#set mm="0%d"%$idx
#else
#set mm=$idx
#end if
$t[0]/$mm/$t[2][2:]
</td>
<td>
$size
</td>
<td>
<a href="$host/getBlocksInfo?dbsInst=$dbsInst&amp;dataset=$path&amp;userMode=$userMode">
$nblks
</a>
</td>
<td>
<a href="$host/getLFNsForSite?dbsInst=$dbsInst&amp;site=$se&amp;datasetPath=$path&amp;what=cff&amp;userMode=$userMode&amp;run=$run">cff</a>,
<a href="$host/getLFNsForSite?dbsInst=$dbsInst&amp;site=$se&amp;datasetPath=$path&amp;what=txt&amp;userMode=$userMode&amp;run=$run">txt</a>,
(${nFiles})
</td>
<td>
$nEvts
</td>
<td>
$nSites
</td>
<td>
<a href="$host/crabCfg?dataset=$path&amp;totEvt=-1&amp;userMode=$userMode">
cfg
</a>
</td>

<td>
<select id="moreInfo" onchange="javascript:LoadSelected();" style="width:100px">
<option value="">More info</option>
<option value="$host/getRuns?dbsInst=$dbsInst&amp;dataset=$path&amp;_idx=0&amp;ajax=0&amp;userMode=$userMode">Run info</option>
<option value="$host/getAppConfigs?dbsInst=$dbsInst&amp;appPath=$appPath&amp;procPath=$path&amp;ajax=0&amp;userMode=$userMode">Conf files</option>
<option value="$host/getDatasetProvenance?dbsInst=$dbsInst&amp;dataset=$path&amp;ajax=0&amp;userMode=$userMode">Provenance</option>
<option value="$host/getDataDescription?dbsInst=$dbsInst&amp;processedDataset=$path&amp;userMode=$userMode">Data Description</option>
<option value="$PhedexURL?type=xfer&amp;dbschoice=known&amp;dbs=$dbsInstURL&amp;data=$path&amp;priority=1">Subscribe to PhEDEx</option>
<option value="$host/createAnalysisDS?dbsInst=$dbsInst&amp;dataset=$path">Create Analysis dataset</option>
<option value="$host/getAnalysisDS?dbsInst=$dbsInst&amp;dataset=$path&amp;ajax=0&amp;userMode=$userMode">Find Analysis Dataset</option>
</select>
</td>
</tr>

##</table>

<script type="text/javascript">
function LoadSelected() {
   var rval=document.getElementById('moreInfo');
   if(rval && rval.value!='') {
      load(rval.value);
   }
}
</script>
<!-- end of templateProcessedDatasetsGrid.tmpl -->
