<!-- templateDatasetDetails.tmpl -->

<div>
Dataset:<br /> 
<table class="offset_left">
<tr>
<td align="left">
<b>$dataset</b>
</td></tr></table>
</div>
<p />

#*
[self.col(tmcd,'MCChannelDescription'),self.col(tmcd,'MCProduction'),self.col(tmcd,'MCDecayChain'),self.col(tp1,'DistinguishedName'),self.col(tmcd,'CreationDate'),self.col(tp2,'DistinguishedName'),self.col(tmcd,'LastModificationDate')]
*#

#for item in $dList
#set MCChannelDescription=item[0]
#set MCProduction=item[1]
#set MCDecayChain=item[2]
#set cName=item[3]
#set cDate=item[4]
#set mName=item[5]
#set mDate=item[6]
<div class="sectionhead_tight">MCChannel description:</div>
<pre>
$MCChannelDescription
</pre>
<hr class="dbs" />

<div class="sectionhead_tight">MCProduction description:</div>
<pre>
$MCProduction
</pre>
<hr class="dbs" />

<div class="sectionhead_tight">MCDecay chain description:</div>
<pre>
$MCDecayChain
</pre>
<hr class="dbs" />

#if $userMode!='user'
<div class="sectionhead_tight">Created by:</div>
<pre>
$cName
</pre>
<hr class="dbs" />

<div class="sectionhead_tight">Creation date:</div>
<pre>
$cDate
</pre>
<hr class="dbs" />

<div class="sectionhead_tight">Modified by:</div>
<pre>
$mName
</pre>
<hr class="dbs" />

<div class="sectionhead_tight">Last modifition date:</div>
<pre>
$mDate
</pre>
<hr class="dbs" />
#end if

#end for

<!-- end of templateDatasetDetails.tmpl -->
