###<pre>$query</pre>
#set thRow=$iList[0]
<table class="dbs_table">
<tr>
#for item in $thRow
<th>$item</th>
#end for
</tr>
#if len($iList)>0
#for itemList in $iList[1:]
<tr>
#for elem in $itemList
<td>$elem</td>
#end for
</tr>
#end for
#end if
</table>
