<p><b>Processed dataset</b></p>\
<p>\
A slice of data from a Primary Dataset defined by the processing history applied to it. \ 
A processed dataset will correspond to a large production of data with a single major \
software release version, but may include multiple minor versions for small bug fixes \
and also may contain the output of multiple processings of some given input data. \
</p>\
<p><b>Examples:</b> /mc-onsel-120_PU_Zee/DIGI/CMSSW_1_2_0-NoPU-DIGI-1169220692</p>\
