###<hr class="dbs" />
#from DDUtil import sizeFormat, colorSizeHTMLFormat
#set tot=len($blockDict.keys())
#set idPath=$path.replace("/","___")

###<p>
contains $nEvents events, $totFiles files, $totSize. 
###</p>
<p>
<span id="parentGraph"></span>
</p>
##
#if $nEvents
##
#set tableId="table_"+str($tid)

<table>
<tr>
<td>Show:</td>
<td>

<table id="_sum_$tableId" class="td_underline">
<tr>
<td>
<a href="javascript:HideTag('det_$tableId');ShowTag('sum_$tableId');switchLink('_sum','$tableId')">
Summary
</a>
</td>
</tr>
</table>

</td>
<td>

<table id="_det_$tableId" class="td_plain">
<tr>
<td>
<a href="javascript:ShowTag('det_$tableId');HideTag('sum_$tableId');switchLink('_det','$tableId')">
Details
</a>
</td>
</tr>
</table>

</td>
</tr>
</table>
<script type="text/javascript">switchLink('_sum','$tableId')</script>

<!-- Summary -->
<div id="sum_$tableId">
<table cellspacing="0" cellpadding="0" border="1">
  <tr valign="top" align="center">
     <th>Location</th>
     <th>Events</th>
     <th>Files</th>
     <th>size</th>
     <th>LFNs</th>
  </tr>
#for site in $siteList
#set siteTotEvt=0
#set siteTotFiles=0
#set siteTotSize=0
## HERE blockDict[blockName]=(nEvt,blockStatus,nFiles,blockSize,hostList)
##
## Sum total events,files,size for given site
##
#set blockList=""
#for bName in $blockDict.keys()
#if $blockDict[$bName][4:].count($site)
#set siteTotEvt+=$blockDict[$bName][0]
#set siteTotFiles+=$blockDict[$bName][2]
#set siteTotSize+=$blockDict[$bName][3]
#end if
#if blockList
#set blockList=blockList+","+$bName
#else
#set blockList=$bName
#end if
#end for
  <tr valign="top" class="sortable_yellow">
     <td><div class="dbs_cell">$site</div></td>
     <td align="right"><div class="dbs_cell">$siteTotEvt</div></td>
     <td align="right"><div class="dbs_cell">$siteTotFiles</div></td>
     <td align="right"><div class="dbs_cell">$colorSizeHTMLFormat($siteTotSize)</div></td>
     <td align="center">
     <a href="javascript:popUp('$host/getLFNsForSite?dbsInst=$dbsInst&amp;site=$site&amp;blockList=$blockList&amp;what=cff',1000)">cff</a>
     <a href="javascript:popUp('$host/getLFNsForSite?dbsInst=$dbsInst&amp;site=$site&amp;blockList=$blockList&amp;what=txt',1000)">plain</a>
     </td>
  </tr>
#end for
</table>
</div>
<!-- End of Summary table -->

<!-- Detailed -->
<div id="det_$tableId" class="hide">
<table cellspacing="0" cellpadding="0" border="1">
  <tr valign="top" align="center">
     <td>Location</td>
     <td>Events</td>
     <td>Files</td>
     <td>size</td>
     <td>LFNs</td>
     <td>status</td>
     <td>Block name</td>
  </tr>
## HERE blockDict[blockName]=(nEvt,blockStatus,nFiles,blockSize,hostList)
#for name in $blockDict.keys()
#set item    = $blockDict[$name]
#set bName   = $name.replace('#','%23')
#set escName = $name.replace('#','\#')
#set htmlName = $name.replace('#','&#35;')
#set nEvt    = $item[0]
#set bStatus = $item[1]
#set nFiles  = $item[2]
#set size    = $item[3]
#set hostList= $item[4:]
  <tr valign="top" bgcolor="#F0F0F0">
     <td><div class="dbs_cell">
#for site in $hostList
      $site
      #if $site!=$hostList[-1]
      <br />
      #end if
#end for
     </div></td>
     <td align="right"><div class="dbs_cell">$nEvt</div></td>
     <td align="right"><div class="dbs_cell">$nFiles</div></td>
     <td align="right"><div class="dbs_cell">$colorSizeHTMLFormat($size)</div></td>
     <td align="center"><div class="dbs_cell">
     <a href="javascript:popUp('$host/getLFN_cfg?dbsInst=$dbsInst&amp;blockName=$bName&amp;dataset=$path',1000)">cff</a>, 
     <a href="javascript:popUp('$host/getLFN_txt?dbsInst=$dbsInst&amp;blockName=$bName&amp;dataset=$path',900)">txt</a>,
     <a href="javascript:popUp('$host/getLFNlist?dbsInst=$dbsInst&amp;blockName=$bName&amp;dataset=$path',1000)">details</a>
     </div>
     </td>
#if $bStatus=="OPEN" or $bStatus==1
     <td align="center" style="background-color:AliceBlue;"><div class="dbs_cell">OPEN</div></td>
#else
     <td align="center" style="background-color:AntiqueWhite;"><div class="dbs_cell">CLOSED</div></td>
#end if
     <td align="left" class="td20">
      $name
#*
#from DDUtil import splitString 
#set sName=$splitString($name,30,"<br />")
#set sName=$name.replace('#','&#173;#')
     $sName 
*#
###<span class="yellow_box"><a title="$name">cut and paste</a></span>
     ###<table><tr valign="bottom"><td>$sName</td><td align="right"><span class="yellow_box"><a title="$name" onclick="ClipBoard()">&#8224;</a></span></td></tr></table>
     </td>
  </tr>
#end for
</table>
</div>
<!-- End of Detailed table -->

<br />
##
#else
<span class="box_red">No data found</span>
#end if
##
