#set nextId=$id+1
<div id="selMenu_$id">
<table class="selMenu">
#if $id==1
<tr>
<th align="left">View</th>
<th align="left">Table</th>
<th align="left">Show</th>
<th align="left">Column</th>
<th align="left">Operator</th>
<th></th>
<th></th>
</tr>
#end if
<tr>
<td align="left" style="width:100px">
<select id="selSection_$id" onchange="ChangeTables($id)" name="selSection">
<option value="$sectionList[0]" selected="selected">$sectionList[0]</option>
#for section in $sectionList[1:]
<option value="$section">$section</option>
#end for
</select>
</td>

<td style="width:160px">
<div id="divSectionTables_$id">
<select id="sectionTables_$id" onchange="ChangeCols($id)" name="sectionTables">
#for table in $tableList
<option value="$table">$table</option>
#end for
</select>
</div>
</td>

<td style="width:50px">
<input type="checkbox" id="outCol_$id" name="selectDBS" />
</td>

<td style="width:200px">
<div id="tableCols_$id"></div>
</td>

<td style="width:100px">
<select id="colSel_$id" name="colOperators" onchange="ChangeWhere('colSel_$id','where_$id')">
<option value="None">None</option>
<option value="like">like</option>
<option value="equal">=</option>
<option value="lt">&lt;</option>
<option value="gt">&gt;</option>
</select>
</td>
<td>
<input type="text" size="20" id="where_$id" name="whereClause" class="hide" />
</td>
<td align="right">
<a href="javascript:ajaxMakeLine($nextId)"><img src="images/plus.png" alt="add" style="border:none" /></a>
<a href="javascript:ClearTag('makeMenu_$id')"><img src="images/minus.png" alt="remove" style="border:none" /></a>
</td>
</tr>
</table>
</div>
<div id="makeMenu_$nextId"></div>
<script type="text/javascript">ajaxEngine.registerAjaxObject('divSectionTables_$id', new GetDataUpdater('divSectionTables_$id','replace','noResultsMenu'))</script>
<script type="text/javascript">ajaxEngine.registerAjaxObject('tableCols_$id', new GetDataUpdater('tableCols_$id','replace','noResultsMenu'))</script>
<script type="text/javascript">ajaxEngine.registerAjaxObject('makeMenu_$nextId',new GetDataUpdater('makeMenu_$nextId','replace','noResultsMenu'))</script>
<script type="text/javascript">ajaxFillLine($id)</script>
