<!-- templateSelectList.tmpl -->
<div class="div_scroll">
<table class="plain">
<tr>
<td>All</td><td><input type="checkbox" name="$name" value="All" /></td>
</tr>
#for item in $iList
<tr>
<td>$item</td><td><input type="checkbox" name="$name" value="$item" /></td>
</tr>
#end for
</table>
</div>
<!-- end of templateSelectList.tmpl -->
