<!-- templateBlocksInfo.tmpl -->
##<script type="text/javascript" src="js/sorttable.js"></script>
#set idPath=$proc.replace("/","___")
#set tableId="table_"+$idPath
<div>
Dataset:<br />
<table class="offset_left">
<tr>
<td align="left">
<b>$proc</b>
</td></tr></table>
contains $len($blkList) block(s)
</div>
<p />
<table id="$tableId" cellspacing="0" cellpadding="0" border="1">
<tr valign="top" align="center" id="tr$tableId" name="tr$tableId" class="sortable_gray">
<td>Block id</td>
<td>SEName</td>
<td>Events</td>
<td>Files</td>
<td>Size</td>
<td>LFNs</td>
<td>Status</td>
#if $userMode!="user"
<td>Created by</td>
<td>Creation time</td>
<td>Modified by</td>
<td>Modification time</td>
#end if
</tr>
#from DDUtil import sizeFormat, colorSizeHTMLFormat
#from DDUtil import splitString 
#for item in $blkList
#set blk=item[0]
#set blockName=$blk
#set blkSize=item[1]
#set nFiles=item[2]
#set nEvts=item[3]
#set status=item[4]
#set cBy=item[5]
#set cDate=item[6]
#set mBy=item[7]
#set mDate=item[8]
#set seList=item[9]
#from DDUtil import list2String
#set seName=$list2String($seList,"html")
#set bName=$blockName.replace('#','%23')
#set sName=$blockName.replace('#',"<br />#")
#set bid=$blockName.split('#')[1]
##
<tr valign="top" bgcolor="#FFFADC" name="dbs_row_sumInfo" id="dbs_row_sumInfo">
##<td align="left" class="td20">$sName</td>
<td align="left">$bid</td>
<td align="right">$seName</td>
<td align="right">$nEvts</td>
<td align="right">$nFiles</td>
<td align="right">$colorSizeHTMLFormat($blkSize)</td>
<td align="center">
<a href="$host/getLFN_cfg?dbsInst=$dbsInst&amp;blockName=$bName&amp;dataset=$proc&amp;userMode=$userMode">cff</a>, 
<a href="$host/getLFN_txt?dbsInst=$dbsInst&amp;blockName=$bName&amp;dataset=$proc&amp;userMode=$userMode">txt</a>,
<a href="$host/getLFNlist?dbsInst=$dbsInst&amp;blockName=$bName&amp;dataset=$proc&amp;userMode=$userMode">details</a>
</td>
#if int($status)==1
<td align="center" style="background-color:AliceBlue;">OPEN</td>
#else
<td align="center" style="background-color:AntiqueWhite;">CLOSED</td>
#end if
#if $userMode!="user"
<td align="right">$cBy</td>
<td align="center">$cDate</td>
<td align="right">$mBy</td>
<td align="center">$mDate</td>
#end if
</tr>
#end for
</table>
<hr class="dbs" />
<!-- end of templateBlocksInfo.tmpl -->
