
<!-- templateDBSstatus.tmpl -->
<div class="sectionhead">
DBS STATUS PAGE
</div>

#for key in $dbsdict.keys()
#set url = $dbsdict[$key]['url']
#set account = $dbsdict[$key]['account']
#set version = $dbsdict[$key]['version']
<table>
<tr>
<td align="right">Alias:</td><td>$key</td>
</tr>
<tr>
<td align="right">URL:</td><td>$url</td>
</tr>
<tr>
<td align="right">Version:</td><td> $version</td>
</tr>
</table>
<hr class="dbs" />
#end for

<!-- end of templateDBSstatus.tmpl -->

