<!-- templateMenuFinder.tmpl -->
<table class="table_box_white" border="0" width="100%">
<tr valign="top">
<td class="box_darkblue">
#*
    <span class="yellow_box"
    onMouseOver="KeywordHelp('FinderDesc_tag','\
    <p>Finder is arbitrary search of data based on user selection of data objects.\
    <ul><li>Group task: a list of common search tasks\
        <li>DBS tables: a list of availabel DBS tables to look at\
        <li>Show: indicate that this Table.Column will be shown in output\
        <li>Column: select table column you want to see or apply some condition\
        <li>Operator: boolean condition operator\
    </ul></p>\
    <p>You may add/remove additional selection criteria by pressing plus/minus signs on your right.</p>\
    ')" onMouseOut="ClearTag('FinderDesc_tag')">?</span><span id="FinderDesc_tag"></span>
*#
<span id="finderDef">
DBS Discovery :: Finder
</span>
- <a href="javascript:ShowTag('builderFinder');HideTag('queriesFinder');ClearTag('results_finder')">Builder</a>
| <a href="javascript:HideTag('builderFinder');ShowTag('queriesFinder');ClearTag('results_finder')">My queries</a>
| <a href="$host/finderExample?userMode=$userMode">Demo</a>
</td>
</tr>
#*
<tr valign="top">
<td>
$searchForm
</td>
</tr>
*#
</table>

$searchForm
<p/>

<div id="results_finder"></div>
<script type="text/javascript">
var tooltip="<p>Finder is arbitrary search of data based on user selection of data objects.\
    <ul><li>Group task: a list of common search tasks\
        <li>DBS tables: a list of availabel DBS tables to look at\
        <li>Show: indicate that this Table.Column will be shown in output\
        <li>Column: select table column you want to see or apply some condition\
        <li>Operator: boolean condition operator\
    </ul></p>\
    <p>You may add/remove additional selection criteria by pressing plus/minus signs on your right.</p>";
MakeTooltip("t_finder","finderDef",tooltip)
</script>
<!-- end of templateMenuFinder.tmpl -->
