<!-- templatePagerStep.tmpl -->
<div align="right" style="$style">
<table width="100%">
<tr><td align="left">
##Number of datasets per page
Number of $nameForPager per page
#set pList=[10,25,50,100,'All']
#if not pList.count(int($pagerStep))
$pList.append(int($pagerStep))
#end if
$pList.sort()
<select id="pagerStep$pagerId" name="pagerStep" onchange="$onchange">
#for item in $pList

#if $item==int($pagerStep)
<option selected="selected">$item</option>
#else
#if $item=='All'
<option value="0">All</option>
#else
<option>$item</option>
#end if
#end if

#end for
</select>
</td><td align="right">
$rPage
</td></tr></table>
</div>
<!-- end of templatePagerStep.tmpl -->
