<div class="div_scroll">
###<form action="javascript:ajaxSearch();" method="get">
<form action="$searchFunction" method="get">

#*
<p>
Use this form to search in particular DBS instance by keywords.
<br />
The search is case insensitive and the following special symbols are supported:
<span class="box">'(', ')', 'and', 'or' and 'not'</span>.
<br />
You may use boolean expressions, e.g.,
<span class="box">( word1 or (word3 and word4) and not word2 )</span>
</p>
*#

<table width="100%">
<tr>
<td align="left">
#if $userMode
<input type="hidden" name="dbsInst" value="$dbsList[0]" id="kw_dbsSelector" />
#else
DBS instance:
<select name="keywordsSearch_dbsInst" id="kw_dbsSelector">
###<option value="All">All</option>
#for dbs in $dbsList
<option value="$dbs">$dbs</option>
#end for
</select>
#end if
</tr>
</table>

#*
<p>
$outputLine
</p>
<hr class="dbs" />
<h3>Where the following selection applied:</h3>
*#
<p>
$selectLine
</p>
<p />
<div align="right">
<input type="button" value="Show all" id="showAll-button" onclick="javascript:SelectAll('selectDBS')" />
<input type="reset"  value="Reset" id="reset-button"  />
<input type="submit" value="Search" id="submit-button" onclick="javascript:showWaitingMessage();" />
</div>

#*
<div id="selMenu1">
<table class="selMenu">
<tr>
<td align="left">
<select onchange="javascript:ajaxGetSectionTables()" id="selSection">
#for section in $sectionList
<option>$section</option>
#end for
</select>
</td>
<td>
<div id="sectionTables"></div>
</td>
<td>
<div id="tableCols"></div>
</td>
</tr>
</table>
<script type="text/javascript">ajaxGetSectionTables('$sectionList[0]')</script>
</div>
*#

#*
<table class="selMenu">
<tr>
<td align="left">
Algorithm menu
</td>
<td align="right">
<a href="javascript:ShowTag('algo_sel')">show</a>
&nbsp;
<a href="javascript:HideTag('algo_sel')">hide</a>
</td>
</tr>
</table>
<div id="algo_sel" class="hide">
$algoTables
</div>

<p />
<p />

<table class="selMenu">
<tr>
<td align="left">
Run/Limu menu
</td>
<td align="right">
<a href="javascript:ShowTag('runLumi_sel')">show</a>
&nbsp;
<a href="javascript:HideTag('runLumi_sel')">hide</a>
</td>
</tr>
</table>
<div id="runLumi_sel" class="hide">
$runsTables
</div>

<p />
<p />

<table class="selMenu">
<tr>
<td align="left">
File menu
</td>
<td align="right">
<a href="javascript:ShowTag('file_sel')">show</a>
&nbsp;
<a href="javascript:HideTag('file_sel')">hide</a>
</td>
</tr>
</table>
<div id="file_sel" class="hide">
$filesTables
</div>

<p />
<p />

<table class="selMenu">
<tr>
<td align="left">
Dataset menu
</td>
<td align="right">
<a href="javascript:ShowTag('dataset_sel')">show</a>
&nbsp;
<a href="javascript:HideTag('dataset_sel')">hide</a>
</td>
</tr>
</table>
<div id="dataset_sel" class="hide">
$datasetsTables
</div>

<p />
<p />

<table class="selMenu">
<tr>
<td align="left">
Your selections:
</td>
</tr>
<tr>
<td>
<div id="userSelections"></div>
</td>
</tr>
<tr>
<td align="right">
<input type="submit" value="Search" id="submit-button" onclick="javascript:showWaitingMessage();" />
&nbsp;
<input type="reset" value="Clear form" id="kw_clear_button"  />
</td>
</tr>
</table>
*#

#*
<p>
Choose DBS instance:
<select name="keywordsSearch_dbsInst" id="keywordSearch_dbsSelector">
#for dbs in $dbsList
#if $dbs==$firstDBS
<option value="$dbs" selected="selected">$dbs</option>
#else
<option value="$dbs">$dbs</option>
#end if
#end for
<option value="All">All</option>
</select>
Keywords:
<select id="keywordSearch_keywordsSelector" onchange="PutKeyword(this.value);ClearKeywordsSelector()">
<option value="None" selected="selected">...</option>
#for key in $keyList
<option value="$key">$key</option>
#end for
</select>
</p>

<p>
<input type="text" name="keywords" size="60" id="keywordSelector" />
###<textarea rows="5" cols="100" id="keywordSelector"></textarea>
</p>
<script type="text/javascript">ClearKeywordsSelector();ClearKeywordsInputValue()</script>
<hr class="dbs" />
*#

#*
<table>
<tr>
<td align="right">DBS instance:</td>
<td><span class="gray_box" onMouseOver="KeywordHelp('DBS description')" onMouseOut="ClearTag('kw_help')">?</span></td>
<td>
<select name="keywordsSearch_dbsInst" id="keywordSearch_dbsSelector">
#for dbs in $dbsList
#if $dbs==$firstDBS
<option value="$dbs" selected="selected">$dbs</option>
#else
<option value="$dbs">$dbs</option>
#end if
#end for
<option value="All">All</option>
</select>
</td>

<td rowspan="8" valign="top"><span id="kw_help"></span></td>
</tr>

<tr>
<td><hr class="dbs" /></td>
<td></td>
<td></td>
</tr>

<tr>
<td align="right">Software release:</td>
<td><span class="gray_box" onMouseOver="KeywordHelp('software description')" onMouseOut="ClearTag('kw_help')">?</span></td>
<td><input type="text" size="60" name="kw_app" id="kw_algoSelector" /></td>
</tr>

<tr>
<td align="right">Primary dataset:</td>
<td><span class="gray_box" onMouseOver="KeywordHelp('Primary dataset description')" onMouseOut="ClearTag('kw_help')">?</span></td>
<td><input type="text" size="60" name="kw_prim" id="kw_primSelector" /></td>
</tr>

<tr>
<td align="right">Data Type:</td>
<td><span class="gray_box" onMouseOver="KeywordHelp('Data type description')" onMouseOut="ClearTag('kw_help')">?</span></td>
<td><input type="text" size="60" name="kw_tier" id="kw_tierSelector" /></td>
</tr>

<tr>
<td align="right">Run:</td>
<td><span class="gray_box" onMouseOver="KeywordHelp('Run description')" onMouseOut="ClearTag('kw_help')">?</span></td>
<td><input type="text" size="60" name="kw_run" id="kw_runsSelector" /></td>
</tr>

<tr>
<td><hr class="dbs" /></td>
<td></td>
<td></td>
</tr>

<tr>
<td align="right">Processed dataset:</td>
<td><span class="gray_box" onMouseOver="KeywordHelp('Processed dataset description')" onMouseOut="ClearTag('kw_help')">?</span></td>
<td><input type="text" size="60" name="kw_proc" id="kw_procSelector" /></td>
</tr>


<tr>
<td></td>
<td></td>
<td>
<input type="submit" value="Search" id="submit-button" onclick="javascript:showWaitingMessage();" />
&nbsp;
<input type="reset" value="Clear form" id="kw_clear_button"  />
###<input type="reset" value="Clear form" id="kw_clear_button" onclick="javascript:ClearKeywordForm();" />
</td>
</tr>
</table>
*#

</form>
</div>
