#set nextId=$id+1
<div id="outMenu_$id">
<table class="selMenu">
<tr>
<td><h3>Looking for</ht></td>
<td>
$commonOutput
</td>

<td>
<b>OR from table</b>
</td>

<td style="width:160px">
<div id="divOutputTables_$id">
<select id="outputTables_$id" onchange="ChangeCols($id,'outputTables')" name="outputTables">
#for section in $tableList
<option>$section</option>
#end for
</select>
</div>
</td>

<td><b>column</b></td>

<td style="width:200px">
<div id="outTableCols_$id"></div>
</td>

<td>
<a href="javascript:ajaxMakeLine($nextId)"><img src="images/plus2.gif" alt="add" style="border:none" /></a>
</td>
<td>
<a href="javascript:ClearTag('makeOutMenu_$id')"><img src="images/minus2.gif" alt="remove" style="border:none" /></a>
</td>
</tr>
</table>
</div>
<div id="makeOutMenu_$nextId"></div>
<script type="text/javascript">ajaxEngine.registerAjaxObject('divOutputTables_$id', new GetDataUpdater('divOutputTables_$id','replace','noResultsMenu'))</script>
<script type="text/javascript">ajaxEngine.registerAjaxObject('outTableCols_$id', new GetDataUpdater('outTableCols_$id','replace','noResultsMenu'))</script>
<script type="text/javascript">ajaxEngine.registerAjaxObject('makeOutMenu_$nextId',new GetDataUpdater('makeOutMenu_$nextId','replace','noResultsMenu'))</script>
