<!-- templateDbsInfo.tmpl -->

#set nBlk=len($dbsList)
<div>
Dataset:<br />
<table class="offset_left">
<tr>
<td align="left">
<b>$proc</b>
</td></tr></table>
contains $nBlk block(s)
</div>
<p />
###<table id="$tableId" class="sortable" cellspacing="0" cellpadding="0" border="1">
<table id="$tableId" cellspacing="0" cellpadding="0" border="1">
<tr valign="top" align="center" id="tr$tableId" name="tr$tableId" class="sortable_gray">
<td>Block name</td>
<td>Events</td>
<td>Files</td>
<td>Size</td>
<td>LFNs</td>
<td>Status</td>
#if $userMode!="user"
<td>Created by</td>
<td>Creation time</td>
<td>Modified by</td>
<td>Modification time</td>
#end if
</tr>
#from utils.DDUtil import sizeFormat, colorSizeHTMLFormat
#from utils.DDUtil import splitString 
#for dbsDict in $dbsList
#set blockName=$dbsDict['Name']
#set bName=$blockName.replace('#','%23')
#set sName=$blockName.replace('#',"<br />#")
<tr valign="top" bgcolor="#FFFADC" name="dbs_row_sumInfo" id="dbs_row_sumInfo">
<td align="left" class="td20">$sName</td>
<td align="right">$dbsDict['NumberOfEvents']</td>
<td align="right">$dbsDict['NumberOfFiles']</td>
<td align="right">$colorSizeHTMLFormat($dbsDict['BlockSize'])</td>
<td align="center">
<a href="$host/getLFN_cfg?dbsInst=$dbsInst&amp;blockName=$bName&amp;dataset=$proc&amp;userMode=$userMode">cff</a>, 
<a href="$host/getLFN_txt?dbsInst=$dbsInst&amp;blockName=$bName&amp;dataset=$proc&amp;userMode=$userMode">txt</a>,
<a href="$host/getLFNlist?dbsInst=$dbsInst&amp;blockName=$bName&amp;dataset=$proc&amp;userMode=$userMode">details</a>
</td>
#if int($dbsDict['OpenForWriting'])==1
<td align="center" style="background-color:AliceBlue;">OPEN</td>
#else
<td align="center" style="background-color:AntiqueWhite;">CLOSED</td>
#end if
#if $userMode!="user"
<td align="right">$dbsDict['CreatedBy']</td>
<td align="center">$dbsDict['CreationDate']</td>
<td align="right">$dbsDict['LastModifiedBy']</td>
<td align="center">$dbsDict['LastModificationDate']</td>
#end if
</tr>
#end for
</table>
###<script type="text/javascript">SplitBlockName()</script>
<hr class="dbs" />
<!-- end of templateDbsInfo.tmpl -->
