<!-- templateProcessedDatasets.tmpl -->
<hr class="dbs" />
Dataset:
<table class="offset_left">
#set empty,prim,proc,tier=$path.split("/")
#set idPath=$path.replace("/","___")
<tr>
<td align="left">
<b>$path</b>
</td>
<td>
<div id="$idPath"></div>
</td>
<td align="center">
#set histLoc="moreInfo"+$idPath
####set action="""ajaxMoreInfo\("$dbsInst","$path","$appPath","$idPath","$userMode"\)"""
####set action="ajaxMoreInfo&#40;&#34;"+$dbsInst+"&#34;,&#34;"+$path+"&#34;,&#34;"+$appPath+"&#34;,&#34;"+$idPath+"&#34;,&#34;"+$userMode+"&#34;&#41;"
#set action=$dbsInst+","+$path+","+$appPath+","+$idPath+","+$userMode
<a href="javascript:ajaxEngine.registerAjaxElement('$idPath');ajaxMoreInfo('$dbsInst','$path','$appPath','$idPath','$userMode');ajax_dhtmlHistory('$histLoc','$action');">&#171; more &#187;</a>
#*
&nbsp;
<a href="javascript:ajaxEngine.registerAjaxElement('ProdRequest_$idPath');ajaxGetProdRequest('$prim','ProdRequest_$idPath')">ProdRequest</a>
*#
<div name="ProdRequestOutput" id="ProdRequest_$idPath"></div>

</td>
</tr>
</table>

###<hr class="dbs" />
#from DDUtil import sizeFormat, colorSizeHTMLFormat
#set tot=len($blockDict.keys())
###set idPath=$path.replace("/","___")

###<p>
contains $nEvents events, $totFiles files, $totSize. 
#if $userMode!='user'
Creation date: $date.
#end if
###</p>
<p>
<span id="parentGraph"></span>
</p>
### Phedex status
<div name="phedexStatusField" class="hide">
PhEDEx status:<br>
<div class="offset_left">
#if $phedex
#set phedexResponse=$phedex+":"+$path
#else
#set phedexResponse="multiple:"+$path
#end if
<div id="$phedexResponse"><img src="images/loading.gif" alt="Loading data" />&nbsp;Please wait, while we retrieve PhEDEx data</div>
</div>
</div>
<script type="text/javascript">
var phedexUpdater = new PhedexUpdater('$phedexResponse');
ajaxEngine.registerAjaxObject('$phedexResponse',phedexUpdater);
</script>
##
#if $nEvents
##
#set tableId="table_"+str($tid)

<table>
<tr>
<td>Show:</td>
<td>

<table id="_sum_$tableId" name="_summaryTable" class="td_underline">
<tr>
<td>
###<a href="javascript:HideTag('det_$tableId');ShowTag('sum_$tableId');switchLink('_sum','$tableId')">
###<a href="javascript:SwitchToSummary('$tid')">
<a href="javascript:SwitchToSummary('$tid');ajax_dhtmlHistory('_switchToSum_$tableId','SwitchToSummary($tid)')">
Summary
</a>
</td>
</tr>
</table>

</td>
<td>

<table id="_det_$tableId" name="_detailsTable" class="td_plain">
<tr>
<td>
###<a href="javascript:ShowTag('det_$tableId');HideTag('sum_$tableId');switchLink('_det','$tableId')">
###<a href="javascript:SwitchToDetails('$tid')">
<a href="javascript:SwitchToDetails('$tid');ajax_dhtmlHistory('_switchToDet_$tableId','SwitchToDetails($tid)')">
Details
</a>
</td>
</tr>
</table>

</td>
#*
#if $userMode!='user'
<td align="right">
<span class="box_red">
<a href="adminDataset?dataset=$path&amp;userMode=$userMode">Administrate</a>
</span>
</td>
#end if
*#
</tr>
</table>
###<script type="text/javascript">switchLink('_sum','$tableId')</script>

<!-- Summary -->
<div id="sum_$tableId" name="summaryTables">
<table cellspacing="0" cellpadding="0" border="1">
  <tr valign="top" align="center">
     <th>Location</th>
     <th>Events</th>
     <th>Files</th>
     <th>size</th>
     <th>LFNs</th>
  </tr>
#for site in $siteList
#set siteTotEvt=0
#set siteTotFiles=0
#set siteTotSize=0
## HERE blockDict[blockName]=(nEvt,blockStatus,nFiles,blockSize,hostList)
##
## Sum total events,files,size for given site
##
#set blockList=""
#for bName in $blockDict.keys()
#if $blockDict[$bName][4:].count($site)
#set siteTotEvt+=$blockDict[$bName][0]
#set siteTotFiles+=$blockDict[$bName][2]
#set siteTotSize+=$blockDict[$bName][3]
#end if
#*
#if blockList
#set blockList=blockList+","+$bName.replace('#','%23')
#else
#set blockList=$bName.replace('#','%23')
#end if
*#
#end for
  <tr valign="top" class="sortable_yellow">
#if $long($nEvents)!=$long($siteTotEvt) or $long($totFiles)!=$long($siteTotFiles)
     <td><div class="dbs_cell_warmred">$site</div></td>
#else
     <td><div class="dbs_cell">$site</div></td>
#end if
     <td align="right"><div class="dbs_cell">$siteTotEvt</div></td>
     <td align="right"><div class="dbs_cell">$siteTotFiles</div></td>
     <td align="right"><div class="dbs_cell">$colorSizeHTMLFormat($siteTotSize)</div></td>
     <td align="center">
     ###<a href="$host/getLFNsForSite?dbsInst=$dbsInst&amp;site=$site&amp;blockList=$blockList&amp;what=cff&amp;userMode=$userMode">cff</a>
     ###<a href="$host/getLFNsForSite?dbsInst=$dbsInst&amp;site=$site&amp;blockList=$blockList&amp;what=txt&amp;userMode=$userMode">plain</a>
     <a href="$host/getLFNsForSite?dbsInst=$dbsInst&amp;site=$site&amp;datasetPath=$path&amp;what=cff&amp;userMode=$userMode">cff</a>
     <a href="$host/getLFNsForSite?dbsInst=$dbsInst&amp;site=$site&amp;datasetPath=$path&amp;what=txt&amp;userMode=$userMode">plain</a>
     </td>
  </tr>
#end for
</table>
</div>
<!-- End of Summary table -->

<!-- Detailed -->
<div id="det_$tableId" name="detailsTables" class="hide">
<table cellspacing="0" cellpadding="0" border="1">
  <tr valign="top" align="center">
     <td>Location</td>
     <td>Events</td>
     <td>Files</td>
     <td>size</td>
     <td>LFNs</td>
     <td>status</td>
     <td>Block name</td>
  </tr>
## HERE blockDict[blockName]=(nEvt,blockStatus,nFiles,blockSize,hostList)
#for name in $blockDict.keys()
#set item    = $blockDict[$name]
#set bName   = $name.replace('#','%23')
#set escName = $name.replace('#','\#')
#set htmlName = $name.replace('#','&#35;')
#set nEvt    = $item[0]
#set bStatus = $item[1]
#set nFiles  = $item[2]
#set size    = $item[3]
#set hostList= $item[4:]
  <tr valign="top" bgcolor="#F0F0F0">
     <td><div class="dbs_cell">
#for site in $hostList
      $site
      #if $site!=$hostList[-1]
      <br />
      #end if
#end for
     </div></td>
     <td align="right"><div class="dbs_cell">$nEvt</div></td>
     <td align="right"><div class="dbs_cell">$nFiles</div></td>
     <td align="right"><div class="dbs_cell">$colorSizeHTMLFormat($size)</div></td>
     <td align="center"><div class="dbs_cell">
     <a href="$host/getLFN_cfg?dbsInst=$dbsInst&amp;blockName=$bName&amp;dataset=$path&amp;userMode=$userMode">cff</a>, 
     <a href="$host/getLFN_txt?dbsInst=$dbsInst&amp;blockName=$bName&amp;dataset=$path&amp;userMode=$userMode">txt</a>,
     <a href="$host/getLFNlist?dbsInst=$dbsInst&amp;blockName=$bName&amp;dataset=$path&amp;userMode=$userMode">details</a>
     </div>
     </td>
#if $bStatus=="OPEN" or $bStatus==1
     <td align="center" style="background-color:AliceBlue;"><div class="dbs_cell">OPEN</div></td>
#else
     <td align="center" style="background-color:AntiqueWhite;"><div class="dbs_cell">CLOSED</div></td>
#end if
     <td align="left" class="td20">
      $name.replace('#','<br />#')
#*
#from DDUtil import splitString 
#set sName=$splitString($name,30,"<br />")
#set sName=$name.replace('#','&#173;#')
     $sName 
*#
###<span class="yellow_box"><a title="$name">cut and paste</a></span>
     ###<table><tr valign="bottom"><td>$sName</td><td align="right"><span class="yellow_box"><a title="$name" onclick="ClipBoard()">&#8224;</a></span></td></tr></table>
     </td>
  </tr>
#end for
</table>
</div>
<!-- End of Detailed table -->

<br />
##
#else
<span class="box_red">No data found</span>
#end if
##
#if $phedex
<script type="text/javascript">
ShowPhedexStatusOutput();
</script>
#end if
<!-- end of templateProcessedDatasets.tmpl -->
