<!-- templateWhere.tmpl -->
<table class="table_box_white" border="0" width="100%">
<tr valign="top">
<td class="box_darkblue">
DBS Discovery :: $where
</td>
</tr>
</table>
<p />


<!-- end of templateWhere.tmpl -->
