<!-- templateRunsInfo.tmpl -->
#import urllib
#set nRun=len($runList)
<div>
Dataset:<br />
<table class="offset_left">
<tr>
<td align="left">
<b>$proc</b>
</td></tr></table>
contains $nRun run(s)
</div>
<p />
###<table id="$tableId" class="sortable" cellspacing="0" cellpadding="0" border="1">
<table id="$tableId" cellspacing="0" cellpadding="0" border="1">
<tr valign="top" align="center" id="tr$tableId" name="tr$tableId" class="sortable_gray">
<td>Run</td>
<td>Type</td>
<td>Events</td>
<td>Lumi sec.</td>
<td>Total L</td>
<td>Store</td>
<td>StartOfRun</td>
<td>EndOfRun</td>
#if $userMode=="runManager"
#if $runList[0]['Type'].lower()!='mc'
<td>Mode</td>
<td>System</td>
#end if
#end if
#if $userMode=="expert"
<td>Created by</td>
<td>Creation time</td>
<td>Modified by</td>
<td>Modification time</td>
#end if
<td>LFNs</td>
</tr>
#for dbsDict in $runList
#set run=$dbsDict['RunNumber']
<tr valign="top" bgcolor="#FFFADC" name="dbs_row_sumInfo" id="dbs_row_sumInfo">
### I need to get run type and decide do I need or not provide a link to run quality DB.
<td align="center">
#if $dbsDict['Type'].lower()!='mc'
<a href="http://cmsmon.cern.ch/cmsdb/servlet/RunSummary?RUN=$run">
$run
</a>
#else
$run
#end if
</td>
<td align="right">$dbsDict['Type']</td>
<td align="right">$dbsDict['NumberOfEvents']</td>
<td align="right">$dbsDict['NumberOfLumiSections']</td>
<td align="right">$dbsDict['TotalLuminosity']</td>
<td align="right">$dbsDict['StoreNumber']</td>
<td align="right">$dbsDict['StartOfRun']</td>
<td align="right">$dbsDict['EndOfRun']</td>
#if $userMode=="runManager"
#if $dbsDict['Type'].lower()!='mc'
#if $runDBInfo.has_key($run)
#set runmode,system=$runDBInfo[$run]
#else
#set runmode='N/A'
#set system='N/A'
#end if
<td align="right">
$runmode
</td>
<td align="right">
$system
</td>
#end if
#end if
#if $userMode=="expert"
<td align="right">$dbsDict['CreatedBy']</td>
<td align="right">$dbsDict['CreationDate']</td>
<td align="right">$dbsDict['LastModifiedBy']</td>
<td align="right">$dbsDict['LastModificationDate']</td>
#end if
#set bName=$urllib.quote($dbsDict['BlockName'])
<td align="right">
<a href="$host/getLFN_txt?dbsInst=$dbsInst&amp;blockName=$bName&amp;dataset=$proc&amp;userMode=$userMode&amp;run=$run">txt</a>
<a href="$host/getLFNlist?dbsInst=$dbsInst&amp;blockName=$bName&amp;dataset=$proc&amp;userMode=$userMode&amp;run=$run">details</a>
</td>
</tr>
#end for
</table>
<hr class="dbs" />
<!-- end of templateRunsInfo.tmpl -->
