<!-- templateRuns.tmpl -->

<form action="getRunsFromRange">

<input type="hidden" name="ajax" value="0" />
<input type="hidden" name="userMode" value="$userMode" id="kw_userModeSelector" />
<input type="hidden" name="release" value="Any" id="kw_release" />
<input type="hidden" name="group" value="Any" id="kw_group" />
<input type="hidden" name="tier" value="Any" id="kw_tier" />
#if $userMode=='user'
<input type="hidden" name="dbsInst" value="$dbsInst" id="kw_dbsInstSelector" />
<!-- begin menu table -->
<table cellpadding="2" cellspacing="2">
#else
<!-- begin menu table -->
<table cellpadding="2" cellspacing="2">
<tr>
<td align="right">
<div id="dbsInstDef">
<b>DBS instances</b>
</div>
</td>
<td>
<select name="dbsInst" id="kw_dbsInstSelector" onchange="javascript:resetRunNav()" style="$style">
#for dbs in $dbsList
<option value="$dbs">$dbs</option>
#end for
</select>
</td>
</tr>
#end if


<tr>
<td align="right">
<div id="primDSTypeDef">
<b>Data types</b>
</div>
</td>
<td>

<div id="kw_primType_holder">
<select name="primType" id="kw_primType" style="$style" onchange="ajaxGetRunRange()">
<option value="Any">Any</option>
</select>
</div>

</td>
</tr>

<tr>
<td align="right">
<div id="primDef">
<b>Primary Dataset</b>
</div>
</td>
<td>

<div id="kw_prim_holder">
<select name="primD" id="kw_prim" style="$style" onchange="ajaxGetRunRange()">
<option value="Any">Any</option>
</select>
</div>

</td>
</tr>

<tr>
<td align="right">
<div id="runRangeDef">
<b>Run ranges</b>
</div>
</td>
<td>

<div id="kw_runRange_holder">
<input name="minRun" value="" size="6"/>
--
<input name="maxRun" value="" size="6"/>
</div>

</td>
</tr>

<tr>
<td>
</td>
<td>
<input type="submit" value="Find" id='userRunId' />
<input type="reset" value="Reset" onclick="resetRunNav()" />
</td>
</tr>


</table>

</form>

<script type="text/javascript">
var tooltip;
tooltip="<p>List of known DBS instances.</p>";
MakeTooltip("t_dbsInst","dbsInstDef",tooltip);
tooltip="<p>This is a list of primary datasets known in DBS. In a case of real data it is trigger lines, in a case of MC it is MC generators.</p> <p><b>Example:</b> mc-onsel-120_PU_Zee </p>";
MakeTooltip("t_primDef","primDef",tooltip);
tooltip="<p>List of know primary datasets types, e.g. mc for Monte Carlo, cosmic for cosmic data, raw for raw data, data for real processed data.</p>";
MakeTooltip("t_primType","primDSTypeDef",tooltip);
tooltip="<p>Here you can specify you desired run range. If you see N/A that means there is no runs available for your selection above.</p>";
MakeTooltip("t_runRange","runRangeDef",tooltip);
</script>
<!-- end oftemplateRuns.tmpl -->
