<!-- templateSetFromCookie.tmpl -->
<script type="text/javascript">
/* <![CDATA[ */
function Set_${name}() {
   var sel=document.getElementById('kw_'+'${name}');
   var cName=GetCookie('DBSDD_$name');
   if (cName) {
       for(i=0;i<sel.length;i++) {
         if(sel[i].value==cName) {
            sel[i].selected="selected";
         } else {
            sel[i].selected="";
         }
       }

   }
}
Set_${name}();
/* ]]> */
</script>
<!-- end of templateSetFromCookie.tmpl -->
