<!-- templateSnapshot.tmpl -->

#if $group=="*"
#set group="Any"
#end if

#if $tier=="*"
#set tier="Any"
#end if

#if $rel=="*"
#set rel="Any"
#end if

#if $primD=="*"
#set primD="Any"
#end if

#if $site=="*"
#set site="Any"
#end if

<table width="100%" cellspacing="1">
<tr valign="top">
<td>

<table class="small" bgcolor="#DDDDDD">
#if $userMode!='user'
<tr>
<td align="right">DBS instantce:</td>
<td>$dbsInst</td>
</tr>
#end if
<tr>
<td align="right"><b>Physics group:</b>
</td>
<td>$group</td>
</tr>

<tr>
<td align="right"><b>Data tier:</b>
</td>
<td>$tier</td>
</tr>

<tr>
<td align="right"><b>Sofware release:</b>
</td>
<td>$rel</td>
</tr>

<tr>
<td align="right"><b>Primary dataset:</b>
</td>
<td>$primD</td>
</tr>

<tr>
<td align="right"><b>Site:</b>
</td>
<td>$site</td>
</tr>

</table>

</td>
<td>

Found $nDatasets
#if $nDatasets
datasets.<br />
Get full dataset<a href="$host/showProcDatasets?dbsInst=$dbsInst&amp;site=$site&amp;app=$app&amp;primD=$primD&amp;tier=$tier&amp;userMode=$userMode">
list</a>.<br />
#else
datasets.<br />
#end if
###</p>
<span id="expandHolder">
Expand all datasets table 
<a href="javascript:ExpandDetails()">Details</a>.
</span>


</td>
</tr>
</table>


<br />
<!-- end of templateSnapshot.tmpl -->
