<table class="lfn">
<tr valign="top">

#if $msg
<td valign="top" class="td35">
$msg
</td>


<!-- vertical line -->
#if $frontPage
<td align="center">
<table class="box_gray"><tr><td><br></br></td></tr><tr><td><br></br></td></tr><tr><td><br></br></td></tr></table>
<div class="box_white">OR</div>
<table class="box_gray"><tr><td><br></br></td></tr><tr><td><br></br></td></tr><tr><td><br></br></td></tr></table>
#else
<td class="box_gray">
<br></br>
#end if
</td>
#end if

<td valign="top">

###<form action="javascript:showResMenu('results');ResetAllResults();MakeNavBar();ajaxGetData();ajaxGetDbsData();ajaxGetRuns();ajaxGenParentsGraph();ajaxGenAppConfigs();" method="get">
<form action="javascript:showResMenu('results');ResetAllResults();MakeNavBar();ajaxGetData()" method="get">
<!-- menu table -->
#if $userMode
<div>
<input type="hidden" name="dbsInst" value="$dbsList[0]" id="dbsSelector" />
</div>
<table class="small" cellspacing="5">
#else 
<table class="small" cellspacing="5">
<tr valign="top">
<td align="right">&nbsp;<b>DBS instances</b>
</td>
<td><div class="yellow_box" onMouseOver="KeywordHelp('dbsDesc_tag','$dbsDesc')" onMouseOut="ClearTag('dbsDesc_tag')">?</div><span id="dbsDesc_tag"></span></td>
<td>
####<select name="dbsInst" onchange="updateLayer0(this)" id="dbsSelector">
<select name="dbsInst" onchange="ajaxGenNavigatorMenuDict()" id="dbsSelector">
#for dbs in $dbsList:
#if $dbs==$firstDBS
<option value="$dbs" selected="selected">$dbs</option>
#else
<option value="$dbs">$dbs</option>
#end if
#end for
</select>
</td>
</tr>

#end if

<tr valign="top">
<td align="right"><b>Tier sites</b>
</td>
<td><div class="yellow_box" onMouseOver="KeywordHelp('siteDesc_tag','$siteDesc')" onMouseOut="ClearTag('siteDesc_tag')">?</div><span id="siteDesc_tag"></span></td>
<td>
<select name="site" id="siteSelector">
<option value="All" selected="selected">All</option>
#for site in $sList:
<option value="$site">$site</option>
#end for
</select>
</td>
</tr>

<tr valign="top">
<td align="right"><b>Application</b>
</td>
<td><div class="yellow_box" onMouseOver="KeywordHelp('appDesc_tag','$appDesc')" onMouseOut="ClearTag('appDesc_tag')">?</div><span id="appDesc_tag"></span></td>
<td>
<div id="appHolder"></div>
</td>
</tr>

<tr valign="top">
<td align="right"><b>Primary dataset</b>
</td>
<td><div class="yellow_box" onMouseOver="KeywordHelp('primDesc_tag','$primDesc')" onMouseOut="ClearTag('primDesc_tag')">?</div><span id="primDesc_tag"></span></td>
<td>
<div id="primHolder"></div>
</td>
</tr>

<tr valign="top">
<td align="right"><b>Data tier</b>
</td>
<td><div class="yellow_box" onMouseOver="KeywordHelp('tierDesc_tag','$tierDesc')" onMouseOut="ClearTag('tierDesc_tag')">?</div><span id="tierDesc_tag"></span></td>
<td>
<div id="tierHolder"></div>
</td>
</tr>

<tr>
<td></td>
<td></td>
<td></td>
</tr>

<tr>
<td></td>
<td></td>
<td>
#*
<script type="text/javascript">
  var dbs = document.getElementById("dbsSelector")
#if $userMode
  updateLayer(dbs)
#else
  updateLayer0(dbs)
#end if
</script>
*#
<input type="submit" value="Find" onclick="javascript:showResMenu('results');showWaitingMessage();" />
</td>
</tr>
</table>
<!-- end of menu table -->

</form>


</td>
</tr>

</table>
<!-- end of outer most table -->

<table>
<tr>
<td>
<span id="navSelector"></span>
</td>
</tr>
</table>
