<!-- templateOperators.tmpl -->
<select id="$tag">
<option>=</option>
<option>&lt;</option>
<option>&gt;</option>
<option>&lt;=</option>
<option>&gt;=</option>
<option>:=</option>
<option>=~</option>
</select>
<!-- end of templateOperators.tmpl -->
