<!-- templateSelect.tmpl -->
#import types
<select id="$selTag" onchange="$changeFunction" name="$name" style="$style">
#if type($iList) is types.ListType
<option value="$iList[0]" selected="selected">$iList[0]</option>
#for item in $iList[1:]
<option value="$item">$item</option>
#end for
#end if

#if type($iList) is types.DictType
#set iDict=$iList
<option value="any" selected="selected">Any</option>
#set inputList=iDict.keys()
#silent $inputList.sort()
#for domain in $inputList
<optgroup label="$domain domain">
#for item in $iDict[$domain]
<option value="$item">$item</option>
#end for
</optgroup>
#end for
#end if

</select>
<!-- end of templateSelect.tmpl -->
