<dataset>
  <path>$path</path>
  <creationdate>$date</creationdate>
  <numberofevts>$nEvts</numberofevts>
  <numberoffiles>$nFiles</numberoffiles>
  <numberofblocks>$nBlks</numberofblocks>
  <blocksize>$blkSize</blocksize>
#for site in $sites
  <site>
    <name>$site</name>
#try
#set size=$dDict[$site][3]
#except
#set size="N/A"
#pass
#end try
#try
#set nfiles=$dDict[$site][4]
#except
#set nfiles="N/A"
#pass
#end try
#try
#set nevts=$dDict[$site][5]
#except
#set nevts="N/A"
#pass
#end try
    <nfiles>$nfiles</nfiles>
    <nevts>$nevts</nevts>
    <blksize>$size</blksize>
  </site>
#end for
</dataset>
