<!-- templateQueryOutput.tmpl -->
#import time
#if $userMode=='dbsExpert'
#set q=$query.replace(",",",\n")
<pre>$q</pre>
#end if
####set thRow=$oList[0]
<table class="dbs_table">
#*
#for item in $thRow
<th>$item</th>
#end for
*#
<tr>
#for item in $iList
<th class="center">$item</th>
#end for
</tr>
#if len($oList)>0
#for itemList in $oList[1:]
<tr>
####for elem in $itemList
#for idx in $xrange(0,len($itemList))
#if $dateIdxList.count($idx)
#set e=$time.strftime("%d %b %Y %H:%M:%S GMT",$time.gmtime($itemList[$idx]))
#else
#set e=$itemList[$idx]
#end if
<td>$e</td>
#end for
</tr>
#end for
#end if
</table>
<!-- end of templateQueryOutput.tmpl -->
