<!-- templateDescription.tmpl -->
###<table class="float_box" width="100%">
<table width="100%">
<tr valign="top">
<td>

<table width="100%">
<tr>
<td align="left">
<span class="sectionhead">
DATA DESCRIPTION
</span>
</td>
#*
<td align="right">
<a href="javascript:HideTag('floatDataDescription')">close &#8855;</a>
</td>
*#
</tr>
</table>
<hr class="dbs" />
<table>
<tr>
<td>
###<div class="div_scroll">
$description
###</div>
</td>
</tr>
</table>

</td>
</tr>
</table>
<!-- end of templateDescription.tmpl -->
