<!-- templateMenuRss.tmpl -->

###<div id="rss_list"></div>

<p>
DBS discovery page provides a 
<a href="http://en.wikipedia.org/wiki/RSS_(file_format)">RSS</a> 
feeds for your favorite data.
On this form you may select primary dataset and release and subscribe to RSS.
In your <a href="http://en.wikipedia.org/wiki/News_aggregator">RSS reader</a>
you may watch for updates of your favorite data samples.
</p>

<form action="rssGenerator" method="get">

<input type="hidden" name="userMode" value="$userMode" id="kw_userModeSelector" />
<input type="hidden" name="kw_tier" value="any" id="kw_tier" />
<input type="hidden" name="kw_group" value="any" id="kw_group" />
#if $userMode=='user'
<input type="hidden" name="dbsInst" value="$dbsInst" id="kw_dbsInstSelector" />
<!-- begin menu table -->
<table cellpadding="2" cellspacing="2">
#else
<!-- begin menu table -->
<table cellpadding="2" cellspacing="2">
<tr>
<td align="right">
<div id="dbsInstDef">
<b>DBS instances</b>
</div>
</td>
<td>
<select name="dbsInst" id="kw_dbsInstSelector" onchange="javascript:ajaxGetKWFields()" style="$style">
#for dbs in $dbsList
<option value="$dbs">$dbs</option>
#end for
</select>
</td>
</tr>
#end if

<tr>
<td valign="top" align="right">
<div id="softRelDef">
<b>Software releases</b>
</div>
</td>
<td>

<div id="kw_release_holder">
<select name="release" id="kw_release" onchange="javascript:ajaxUpdatePrimaryDatasets();" style="$style">
<option value="Any" selected="selected">Any</option>
#for rel in $softReleases
<option value="$rel">$rel</option>
#end for
</select>
</div>

</td>
</tr>

<tr>
<td valign="top" align="right">
<div id="primDSTypeDef">
<b>Data types</b>
</div>
</td>
<td>

<div id="kw_primType_holder">
<select name="primType" id="kw_primType" onchange="javascript:ajaxUpdatePrimaryDatasets();" style="$style">
<option value="Any" selected="selected">Any</option>
#for primType in $primTypes
<option value="$primType">$primType</option>
#end for
</select>
</div>

</td>
</tr>


<tr>
<td valign="top" align="right">
<div id="primDef">
<b>Primary dataset/<br />MC generators</b>
</div>
</td>
<td>


<div id="kw_prim_holder">
<select name="primD" id="kw_prim" style="$style">
<option value="Any" selected="selected">Any</option>
#for prim in $primDatasets
<option value="$prim">$prim</option>
#end for
</select>
</div>

</td>
</tr>


<tr>
<td>
</td>
<td>
<input type="submit" value="RSS Subscription" id='userNavId' />
</td>
</tr>
</table>

<!-- end of menu table -->
</form>

<script type="text/javascript">
var tooltip;
tooltip="<p>List of known DBS instances.</p>";
MakeTooltip("t_dbsInst","dbsInstDef",tooltip);
tooltip="<p>Here you select the physics group.</p> <p><b>Example:</b> Higgs, top group.</p>";
tooltip="<p>All known software releases.</p> <p><b>Example:</b> CMSSW_1_1_1</p>";
MakeTooltip("t_softRel","softRelDef",tooltip);
tooltip="<p>This is a list of primary datasets known in DBS. In a case of real data it is trigger lines, in a case of MC it is MC generators.</p> <p><b>Example:</b> mc-onsel-120_PU_Zee </p>";
MakeTooltip("t_primDef","primDef",tooltip);
tooltip="<p>List of know CMS sites</p> <p><b>Example: cmssrm.fnal.gov</b></p>";
tooltip="<p>List of know primary datasets types, e.g. mc for Monte Carlo, cosmic for cosmic data, raw for raw data, data for real processed data.</p>";
MakeTooltip("t_primType","primDSTypeDef",tooltip);
</script>

<!-- end of templateMenuRss.tmpl -->
