
<!-- templateMultiResults.tmpl -->

<span class="section_underline">
$site
</span>
<table>
#for $idx in xrange(0,len($dbsInstList))
<tr>
#set $ins=$dbsInstList[$idx]
#set $res=$resList[$idx]
<p>
<td>
<a href="$url/aSearch?dbsInst=$ins&amp;userMode=$userMode&amp;method=$method&amp;userInput=$input">
$ins.upper()
</a>
</td>
<td>
found $res results
</td>
</tr>
</div>
</p>
#end for
</table>
<hr class="dbs" />

<!-- end of templateMultiResults.tmpl -->

