<!-- templateDataTierDesc.tmpl -->
<p><b>Data tier</b></p>\
<p>\
Data tier or data type \
A set of ob jects to be grouped togethered in the output files of the processing step \
producing the objects. The list of objects comprising a Data Tier is determined \
by the release configuration files. Additional objects not part of the Data Tier \
may be included in the same output file.\
</p>\
<p><b>Examples:</b> DSIM, DIGI, RECO</p>\
<!-- end of templateDataTierDesc.tmpl -->
