<!-- templateAdminPage -->

<hr class="dbs" />
<table>
<tr><td>
Check requests by user name:
</td>
<td>
<a href="ms_getRequestByUser?userMode=$userMode">link</a>
</td></tr>
<tr><td>
Check requests by request id:
</td>
<td>
<form action="ms_getRequestById" method="get">
<input type="text" name="id" size="3" />
<input type="hidden" name="userMode" value="$userMode" />
<input type="submit" value="Go" />
</form>
</td>
</tr>
<tr>
<td>
Check requests by status:
</td>
<td>
<form action="ms_getRequestByStatus" method="get">
<input type="text" name="status" size="10" />
<input type="hidden" name="userMode" value="$userMode" />
<input type="submit" value="Go" />
</form>
</td>
</tr>
</table>

#if not len($rList)
<hr class="dbs" />
Your don't have outstanding requests in Migration Service.
#end if
#import types
#for $result in $rList
<hr class="dbs" />
List of current/pending requests:

#if $result and $type($result) is $types.InstanceType
<table>
#set req=$result
<tr>
<td>
source URL
</td>
<td>
#try
$req._srcUrl._url
#except
N/A
#pass
#end try
</td>
</tr>

<tr>
<td>
destination URL
</td>
<td>
#try
$req._dstUrl._url
#except
N/A
#pass
#end try
</td>
</tr>

<tr>
<td>
dataset path
</td>
<td>
#try
$req._path
#except
N/A
#pass
#end try
</td>
</tr>

<tr>
<td>
with force
</td>
<td>
#try
$req._withForce
#except
N/A
#pass
#end try
</td>
</tr>

<tr>
<td>
with parents
</td>
<td>
#try
$req._withParents
#except
N/A
#pass
#end try
</td>
</tr>

<tr>
<td>
Notify
</td>
<td>
#try
$req._notify
#except
N/A
#pass
#end try
</td>
</tr>

<tr>
<tr>
<td>
Status
</td>
<td>
#try
$req._status
#except
N/A
#pass
#end try
</td>
</tr>

<tr>
<td>
Progress
</td>
<td>
#try
$req._progress
#except
N/A
#pass
#end try
</td>
</tr>

<tr>
<td>
Details
</td>
<td>
#try
$req._detail
#except
N/A
#pass
#end try
</td>
</tr>

<tr>
<td>
Id
</td>
<td>
#try
$req._id
#except
N/A
#pass
#end try
</td>
</tr>

<tr>
<td>
<b>Delete:</b>
</td>
<td>
#try
<a href="ms_deleteRequest?userMode=$userMode&srcUrl=$req._srcUrl._url&dstUrl=$req._dstUrl._url&path=$req._path">request</a>
#except
N/A
#pass
#end try
</td>
</tr>
</table>
#elif $type($result) is $types.StringType
$result
#else
Got unknown result type for your request.
<pre>
$str($result)
</pre>
#end if
#end for
<!-- end of templateAdminPage -->

