<table cellspace="1">
<tr><td>
##<div id="parameterNameList"><img src="images/loading.gif" alt="loading" /> Loading parameters</div>
<div id="cfgparamlist"><img src="images/loading.gif" alt="loading" />Loading config parameters</div>
</td>
<td>
###<div id="parameterNameListOperators">$operators</div>
<select id="parameterListOperators">
<option>=</option>
<option>&lt;</option>
<option>&gt;</option>
<option>&lt;=</option>
<option>&gt;=</option>
<option>like</option>
<option>likeLeft</option>
<option>likeRight</option>
</select>
</td>
<td>
<input size="20" type="text" id="searchInput" ></input>
</td>
<td>
<input type="button" value="Add" onclick="AddConfigParameter()" />
</td>
<td>
<input type="button" value="Search" onclick="ResetAllResults();ShowTag('results');ajaxGetLucene()" />
</td>
</tr>
</table>

<p />
<b>Choosen parameters (to remove click on <img src="images/minus.png" alt="remove" style="border:none"  align="top"/>):</b>
<input type="hidden" value="0" id="parameterCounter" />
<table class="table_box_white" width="100%">
<tr><td>
<div class="div_scroll_border">
<table>
<div id="parameterSpace"></div>
</table>
</div>
</td></tr></table>

<p />
<div id="results"> </div>
#*
Results: 
<table id="webSearchResultsGrid_updater" class="intro">
</table>
Statistics: 
<div id="webSearchStats">webSearchStats</div>
Number of results: 
<div id="configureWebSearchRows">configureWebSearchRows</div>
<div id="errorResponse"></div>
*#
