<dataset>
  <path>$path</path>
  <creationDate>$date</creationDate>
  <numberOfEvts>$nEvts</numberOfEvts>
  <numberOfFiles>$nFiles</numberOfFiles>
  <numberOfBlocks>$nBlks</numberOfBlocks>
  <blockSize>$blkSize</blockSize>
#for site in $sites
  <site>$site</site>
#end for
</dataset>
