<!-- templateFormatLFN_py -->
<pre>
import FWCore.ParameterSet.Config as cms

maxEvents = cms.untracked.PSet( input = cms.untracked.int32(-1) )
   source = cms.Source ("PoolSource",
       fileNames = cms.untracked.vstring (
#for lfn in $lfnList
#if $lfn!=$lfnList[-1]
       '$lfn',
#else
       '$lfn'
#end if
#end for
#if len($pfnList)
      ),
       secondaryFileNames = cms.untracked.vstring (
#for pfn in $pfnList
#if $pfn!=$pfnList[-1]
       '$pfn',
#else
       '$pfn'
#end if
#end for
#end if
      )
)
</pre>

<!-- end of templateFormatLFN_py -->
