<?xml version="1.0" ?>
<rss version="2.0">
<channel>
#set title=""

#if $prim!="*"
#set title=$title+$prim
#end if

#if $release!="*"
#set title=$title+" | "+$release
#end if

#if $userMode!='user'
#set title=$dbsInst+" | "+$title
#end if
<title>$title</title>
<description>$primDesc</description>
<link>$host/getData?dbsInst=$dbsInst&amp;site=*&amp;app=$release&amp;primD=$prim&amp;tier=*&amp;proc=*&amp;ajax=0&amp;userMode=$userMode</link>
<language>en-us</language>
<pubDate>$primPubDate</pubDate>
<lastBuildDate>$buildDate</lastBuildDate>
<docs>http://en.wikipedia.org/wiki/RSS_(file_format)</docs>
<generator>DBS discovery page</generator>
<managingEditor>vkuznet@gmail.com</managingEditor>
<webMaster>vkuznet@gmail.com</webMaster>
#for item in $procList
#set proc=item[0]
#set procDesc=item[1]
#set procPubDate=item[2]
<item>
<title>$proc</title>
<description>$procDesc</description>
<link>$host/getData?dbsInst=$dbsInst&amp;site=*&amp;app=$release&amp;primD=$prim&amp;tier=*&amp;proc=$proc&amp;ajax=0&amp;userMode=$userMode</link>
<pubDate>$procPubDate</pubDate>
<guid>$host/getData?dbsInst=$dbsInst&amp;site=*&amp;app=$release&amp;primD=$prim&amp;tier=*&amp;proc=$proc&amp;ajax=0&amp;userMode=$userMode</guid>
</item>
#end for
</channel></rss>

