<!-- templateDBSInstanceDesc.tmpl -->
<p><b>DBS instance</b></p>\
<p>\
A unique self-consistent instance of DBS (Data Bookkeeping System) which used for particular task. \
For instance, data can be produce on site on regular basis, for that purpose site keeps \
its own DBS (instance). Once data are ready for users they published to Global DBS instance \
which is CMS default. Currently, various DBS instances used by different production teams. \
</p>\
<p><b>Examples:</b> MCGlobal/Writer</p>\
<!-- end of templateDBSInstanceDesc.tmpl -->
