<!-- templateRESTHelp.tmpl -->
<div>
REST stands for REpresentational State Transfer and provides a helpful way to access
DBS information. One of the REST features to provide a POST, GET, PUT and DELETE methods
which are often compared with the CREATE, READ, UPDATE, DELETE operations associated with 
data service.
</div>
<div>
The Data Discovery REST service works with 
<a href="https://twiki.cern.ch/twiki/bin/view/CMS/QL">DBS-QL</a>
key/attributes while they are specified via the following pattern
</div>
<pre>
$host/services/rest/iKey[.iAttribute]/value/oKey[.oAttribute],outpuKey[.oAttribute],...
</pre>
<div>
Here the <em>iKey, iAttribute</em> represents a key/attribute you provide with given value to
DBS while <em>oKey, oAttribute</em> stands for those you would like to look-up from DBS.
<br/>
<br/>
This service also support variety of formats representation of the data, including
XML, JSON, HTML. To get data in your format please use appropriate MIME type in your HTTP request.
</div>
<p class="sectionhead_tight">
EXAMPLES:
</div>
<pre>
$host/services/rest/site/
$host/services/rest/site/srm.cern.ch
$host/services/rest/site/srm.cern.ch/dataset
$host/services/rest/site/srm.cern.ch/dataset,block
$host/services/rest/site/srm.cern.ch/dataset.release
</pre>
<div>
Below you can find a list of supported keys and attributes in DBS-QL
</div>
<!-- end oftemplateRESTHelp.tmpl -->

