<!-- templateLFN.tmpl -->
#from DDUtil import sizeFormat, colorSizeHTMLFormat
<div>
Block:<br /> 
<table class="offset_left">
<tr>
<td align="left">
<b>$blockName</b>
</td>
</tr>
</table>
#set nLFNs=len($lfnList)
contians $nLFNs file(s)
</div>
<p />
<!-- Main table -->
###<table id="lfn_table" class="sortable" cellspacing="0" border="1">
<table id="lfn_table" cellspacing="0" border="1">
<tr class="sortable_gray">

<td>status</td>
<td>type</td>
<td>events</td>
<td>size</td>
#if $userMode!='user'
<td>checksum</td>
#end if
<td>name</td>
</tr>
#for item in $lfnList:
#set name=item[0]
#set size=item[1]
#set stat=item[2]
#set type=item[3]
#set evts=item[4]
#set csum=item[5]
<tr class="sortable_yellow">
<td>$stat</td>
<td>$type</td>
<td>$evts</td>
<td>$colorSizeHTMLFormat($size)</td>
#if $userMode!='user'
<td>$csum</td>
#end if
<td>
$name<br />
<table>
<tr>
<td><a href="$host/getLFN_Branches?dbsInst=$dbsInst&lfn=$name&amp;userMode=$userMode">ROOT branches</a></td>
<td>|</td>
<td><a href="$host/getLFN_Lumis?dbsInst=$dbsInst&lfn=$name&amp;userMode=$userMode">Lumis</a></td>
#*
<td>|</td>
<td><a href="javascript:ajaxGetLumis('$dbsInst','$name')">Lumis2</a></td>
<td>|</td>
<td><a href="$host/getLFN_Algos?dbsInst=$dbsInst&lfn=$name">Algorithms</a></td>
###<td><a href="javascript:ajaxGetAlgos('$dbsInst','$name')">Algorithms</a></td>
<td>|</td>
<td><a href="$host/getLFN_Tiers?dbsInst=$dbsInst&lfn=$name">Tiers</a></td>
<td>|</td>
<td><a href="$host/getLFN_Parents?dbsInst=$dbsInst&lfn=$name">Parents</a></td>
*#
</tr>
</table>
</td>
</tr>
#end for
</table>
<!-- end of main table -->
###<script type="text/javascript">sortables_init();</script>
<!-- end of templateLFN.tmpl -->
