<!-- templateDQInfo.tmpl -->
<div id="$tag"></div>

#set _admin=int($admin)
<script type="text/javascript">
function treeInit${tag}() {
    var tableList=${sysDict};
    var subList=${subDict};
    BuildNodeTree('$tag','CMS',tableList,subList,$_admin);
}
treeInit${tag}();
//YAHOO.util.Event.addListener(window, "load", treeInit${tag});
</script>

<!-- end of templateDQInfo.tmpl -->
