<!-- templateProvenance.tmpl -->
#import urllib
<div>
#if len($oList)

Dataset:
#set parent=$dataset
<table class="offset_left">
<tr>
<td align="left">
<b>
<a href="$host/getData?dbsInst=$dbsInst&amp;proc=$urllib.quote($dataset)&amp;userMode=$userMode&amp;ajax=0&amp;phedex=off">
$dataset
</a>
</b>
</td>
<tr>
</table>
has the following list of $who:
<table class="offset_left">
#for dataset in $oList
#set path=$urllib.quote($dataset)
<tr>
<td align="left">
<b>
<a href="$host/getData?dbsInst=$dbsInst&amp;proc=$path&amp;userMode=$userMode&amp;ajax=0&amp;phedex=off">
$dataset
</a>
</b>
</td>
</tr>
#end for
</table>

<hr class="dbs" />
The PoolSource code snippet for 2 file solution can be found here in two formats:
<a href="$host/getLFNsWithParents?dbsInst=$dbsInst&amp;blockName=&amp;dataset=$parent&amp;userMode=$userMode">
cff
</a>,
<a href="$host/getLFNsWithParents?dbsInst=$dbsInst&amp;blockName=&amp;dataset=$parent&amp;userMode=$userMode&amp;format=python">
py
</a>
#else

No $who found for dataset:
<table class="offset_left">
<tr>
<td align="left">
<b>$dataset</b>
</td>
<tr>
</table>

#end if
</div>
<!-- end of templateProvenance.tmpl -->
