<!-- templateApplicationDesc.tmpl -->
<p><b>Application</b></p>\
<p>\
An application consists of three parts: version, family and executable. For simplicity \
we follow path convension, e.g. \
/version/family/executable. The version is a software release name, e.g. CMSSW_1_1_1 \
family is data types which produced by software release, e.g. SIM-DIG-RECO, \
please note here that notation describe that software release used to produce \
three types of data. And finally, executable is a name of executable used to produce \
this data.\
</p>\
<p><b>Examples:</b> /CMSSW_1_2_0/DIGI-RECO/cmsRun</p>\
<!-- end of templateApplicationDesc.tmpl -->
