<!-- templateAdminDatasets.tmpl -->
<table>
<tr>
<td>
Dataset:
</td>
<td>
<b>$dataset</b>
</td>
</tr>
<tr>
<td>
at sites:
</td>
<td>
<select>
<option value="any" selected="selected">Any</option>
#set iList=$siteDict.keys()
#silent $iList.sort()
#for domain in $iList
<optgroup label="$domain domain">
#for site in $siteDict[$domain]
<option value="$site">$site</option>
#end for
</optgroup>
#end for
</select>
</td>
</tr>
</table>

<table>
<tr>
<td>
Administrative tasks: 
</td>
<td>
#set taskList=["Migration","Administration","LFN"]
#set titleList=["Migrate dataset","Dataset/blocks management","LFNs management"]
<script type="text/javascript">
function ChangeTaskView() {
#for task in $taskList
  HideTag('$task');
#end for
  ShowTag(GetValueFromSelect("adminTask"));
}
</script>
<select name="adminTask" id="adminTask" onchange="javascript:ChangeTaskView()">
#for idx in xrange(0,len($taskList))
#set task=$taskList[$idx]
#set title=$titleList[$idx]
<option value="$task">$title</option>
#end for
</select>
</td>
</tr>
</table>

<table class="table_box">
<tr>
<td>
### Migration form
<div class="show_inline" id="Migration">
<p>
<b>Migration tasks</b>
</p>
<form action="adminTask" method="get">
<input type="hidden" name="api" value="migrateDataset" />
<input type="hidden" name="title" value="Migrate dataset" />
<input type="hidden" name="dbsInst" value="$dbsInst" />
<input type="hidden" name="userMode" value="$userMode" />
<input type="hidden" name="dataset" value="$dataset" />

<table>
<tr>
<td>

<table>
<tr>
<td>
From
</td>
<td>
<select name="dbsInst_from" id="dbsInst_from" style="$style" onchange="javascript:ChangeDbsInst()">
#for dbs in $dbsList
<option value="$dbs">$dbs</option>
#end for
</select>
</td>
<td>
to
</td>
<td>
<select name="dbsInst_to" id="dbsInst_to" style="$style">
#for dbs in $dbsListOrig
<option value="$dbs">$dbs</option>
#end for
</select>
</td>
</tr>
</table>

</td>
</tr>

<tr>
<td>
<input type="checkbox" name="block" value="All" onchange="Disable2EnableTag('block');"/>
check to migrate all blocks OR specify block id's below
</td>
</tr>

<tr>
<td>
###$blkForm
<select multiple="multiple" name="block" id="block" size="5">
#for blk in $blkList
#set path,blkId=$blk.split('#')
<option value="$blk">$blkId</option>
#end for
</select>


</td>
</tr>

<tr>
<td>
<input type="checkbox" name="all_blocks" id="all_blocks" />with all parents
</td>
</tr>

</table>

<input type="submit" name="Submit request" />
</form>
</div>
### end of Migration form
</td>
</tr>

<tr>
<td>
### Administration form
<div class="hide" id="Administration">
<script type="text/javascript">
function changeAttribute(tag,att) {
   var id=document.getElementById(tag);
   if(att=="disabled") {
      id.disabled="disabled";
      id.checked="";
   }
   if(att=="enabled") {
      id.disabled="";
      id.checked="checked";
   }
   id.setAttribute("class",att);
}
function changeButton(tag,att) {
   var id=document.getElementById(tag);
   id.checked=att;
}
</script>

<form action="adminTask" method="get">
<input type="hidden" name="title" value="Dataset/Block(s) admin task" />
<input type="hidden" name="dbsInst" value="$dbsInst" />
<input type="hidden" name="userMode" value=$userMode />
<input type="hidden" name="dataset" value="$dataset" />
<b>Dataset/Block(s) administration</b>

<table>

<!-- new row -->
<tr>
<td>

<input type="radio" id="dRadio" checked="checked" onChange="javascript:changeAttribute('dataset_Status','enabled');changeAttribute('block_Status','disabled');changeAttribute('block_name','disabled');changeButton('dRadio','checked');changeButton('bRadio','')"/>

</td>
<td>
Change dataset status
</td>

<td>
<select name="dataset_Status" id="dataset_Status" style="width:200px">
<option value="Valid">Valid</option>
<option value="Invalid">Invalid</option>
<option value="Imported">Imported</option>
<option value="Exported">Exported</option>
<option value="Read">Read only</option>
<option value="Delete">Delete</option>
<option value="Undelete">Undelete</option>
</select>
</td>
<td></td>

</tr>

<!-- new row -->
<tr valign="top">
<td>
<input type="radio" id="bRadio" onChange="javascript:changeAttribute('dataset_Status','disabled');changeAttribute('block_Status','enabled');changeAttribute('block_name','enabled');changeButton('bRadio','checked');changeButton('dRadio','')"/>
</td>

<td>
Change block(s) status
</td>

<td>
<select name="api" id="block_Status" style="width:200px" disabled="disabled">
<option value="openBlock">Open</option>
<option value="closeBlock">Closed</option>
</select>
</td>
<td>
##<select multiple="multiple" name="block" id="block" size="5" disabled="disabled">
<select multiple="multiple" name="name" id="block_name" size="5" disabled="disabled">
<option value="All" selected="selected">All</option>
#for blk in $blkList
#set path,blkId=$blk.split('#')
<option value="$blk">$blkId</option>
#end for
</select>
</td>
</tr>

</table>

<input type="submit" name="Submit request" />
</form>
</div>

### end of Administration form
</td>
</tr>


<tr>
<td>
### LFN form
<div class="hide" id="LFN">
<b>LFN(s) administration</b>
<table>
<td>
Change LFN(s) status
</td>

<td>
<select name="lfns_Status" id="lfns_Status" style="width:200px">
<option value="Valid">Valid</option>
<option value="Invalid">Invalid</option>
<option value="Merged">Merged</option>
<option value="Imported">Imported</option>
<option value="Exported">Exported</option>
<option value="Delete">Delete</option>
<option value="Undelete">Undelete</option>
</select>
</td>
</tr>
</table>

###<p />
###Choose one or more block id's by selecting them:
<form action="adminTask" method="post">
<input type="hidden" name="api" value="lfnAdmin" />
<input type="hidden" name="title" value="LFN administration" />
<input type="hidden" name="dbsInst" value="$dbsInst" />
<input type="hidden" name="userMode" value=$userMode />
<input type="hidden" name="dataset" value="$dataset" />
##<p />
<input type="checkbox" name="lfn" value="All" onchange="Disable2EnableTag('lfn')" />select all LFNs in a datasets
<p />
or provide a match pattern, e.g like:SomePattern
<p />
<input type="text" name="lfn" id='lfn' size="80" value="like:" />
<p />
#*
<script type="text/javascript">
function getLFNs(dbsInst) {
   var blkList=document.getElementById('LFN_form_blocks');
   var blk = getSelectedOption(blkList.options);
   ajaxGetLFNs(dbsInst,blk);
}
</script>
<select name="LFN_form_blocks" id="LFN_form_blocks" onchange="javascript:getLFNs('$dbsInst')"> 
<option value="All">All blocks in dataset</option>
#for blk in $blkList
#set path,blkId=$blk.split('#')
<option value="$blk">$blkId</option>
#end for
</select>
<p>
Choose one or more LFNs to perform the operation:
</p>
<div id="blockLFNs" name="blockLFNs">
<select multiple="multiple" name="blockLFNlist" id="blockLFNlist" style="width:1000px" size="10">
<option value="All">
All LFNs in a block
</option>
</select>
</div>
*#

<input type="submit" name="Submit request" />
</form>
</div>
### end of LFN form
</td>
</tr>


</table>

<!-- end of templateAdminDatasets.tmpl -->
