<table class="table_box_white" border="0" width="100%">
<tr valign="top">
<td class="box_darkblue">
DBS Discovery :: Navigator
</td>
</tr>
</table>
$userNavigator

###<script type="text/javascript">ajaxEngine.registerRequest('ajaxGetTriggerLines','getTriggerLines');ajaxUpdatePrimaryDatasets()</script>
