<table class="table_box_white" border="0" width="100%">
<tr valign="top">
<td class="box_darkblue">
DBS Discovery :: Navigator :: Results :: Provenance information
</td>
</tr>
</table>
<p />


<div>
#if len($parentList)

Dataset:
<table class="offset_left">
<tr>
<td align="left">
<b>$dataset</b>
</td>
<tr>
</table>
has the following list of parents:
<table class="offset_left">
    #for parent in $parentList
    <tr>
    <td align="left">
    <b>$parent</b>
    </td>
    </tr>
    #end for
</table>

#else

No parents found for dataset:
<table class="offset_left">
<tr>
<td align="left">
<b>$dataset</b>
</td>
<tr>
</table>

#end if
</div>



#*
#set idPath=$dataset.replace("/","___")
    <p>
    <table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr>
#### FIXME, I need to pass here dbsInst
#### <th align="left"><a href="javascript:ajaxGetDataDescription('MCGlobal/Writer','$dataset')">$dataset</a></th>
    <th align="left">$dataset</th>
    </tr>
    #if not len($parentList)
    <tr>
    <td>
    No parents found
    </td>
    </tr>
    #else
    #for parent in $parentList
    <tr>
    <td align="left">
    <div class="indent">
    <img src="images/down_right_arrow.gif" alt="down_right_arrow" align="left" />
    $parent
    </div>
    </td>
    </tr>
    #end for
    #end if
    </table>
    </p>
*#
