
<!-- templateMultiSearchForm.tmpl -->
<br/>
<div class="sectionhead_tight">
CROSS DBS INSTANCE SEARCH INTERFACE
</div>
This interface will search across all registered DBS instances. It only supports DBS-QL,
so if you need help please use this 
<a href="_help?userMode=$userMode">page</a>.
<br/>

<br/>
<br/>

<span id="defaultPage"></span>
<div align="center">
####<form action="multiSearch" method="get">
<form action="javascript:request()" method="get">
<input type="hidden" name="userMode" id="userMode" value="$userMode" />
<div>
<input type="text" size="80" name="userInput" id="userInput" value="$userInput" />
<input type="submit" value="Search" onclick="javascript:SetTagCookie('DBSDD_ainput','userInput')" />
<input type="reset" />
</div>

</form>

</div> <!-- end of center -->
<br/>
<br/>

#for dbsInst in $dbsList
<div id="${dbsInst}" name="${dbsInst}"></div>
#end for

<script type="text/javascript">
function scan(dbs) {
    var jd = document.getElementById(dbs);
    if (jd) {
        //jd.innerHTML='<div><img src="images/loading.gif" />scanning '+dbs+' instance, please wait ...</div><hr class="dbs">';
        jd.innerHTML='<div>scanning '+dbs+' instance, please wait ...</div><hr class="dbs">';
    }
}
function request() {
    var id = document.getElementById('userInput');
    if (id) {
        var userInput = id.value;
#for dbsInst in $dbsList
        scan('$dbsInst')
        ajaxMultiSearch('$dbsInst',userInput);
#end for
    }
}
ajaxEngine.registerRequest('ajaxMultiSearch','multiSearch');
#for dbsInst in $dbsList
###mUpdater_$dbsInst = new GetDataUpdater('$dbsInst','update','');
###ajaxEngine.registerAjaxObject('$dbsInst',mUpdater_${dbsInst});
ajaxEngine.registerAjaxElement('$dbsInst');
#end for
</script>

<!-- end of templateMultiSearchForm.tmpl -->

