#*
<pre>
###### For more information please consult
###### http://www.uscms.org/SoftwareComputing/UserComputing/Tutorials/Crab.html
[CRAB]

jobtype                 = cmssw
scheduler               = glitecoll

[CMSSW]

datasetpath             = $dataset
##### Please provide PSet configuration file below
pset                    = 
total_number_of_events  = $totEvt
events_per_job          = 1000
##### Please provide output_file, e.g. FrameworkJobReport.xml
##### or a list of output files separated by comma, for example
##### output.root, output.txt, FrameworkJobReport.xml
output_file             = 

[USER]
return_data             = 1
use_central_bossDB      = 0
use_boss_rt             = 0

[EDG]
rb                      = CERN 
proxy_server            = myproxy.cern.ch 
virtual_organization    = cms
retry_count             = 0
lcg_catalog_type        = lfc
lfc_host                = lfc-cms-test.cern.ch
lfc_home                = /grid/cms
</pre>
*#

##<pre>
[CRAB]

jobtype = cmssw
scheduler = glite
##server_name = bari
user_server = 1

[CMSSW]
#if $dbsInst != "cms_dbs_prod_global"
# dbs instance: $dbsInst
dbs_url = $dbsUrl
#end if
datasetpath=$dataset
pset=INSERT YOUR PSET HERE
total_number_of_lumis=-1
lumis_per_job = 100

[USER]
return_data = 1
#*
</pre>
<br/>
<br/>
for more information about CRAB configuration please use CRAB
<a href="https://twiki.cern.ch/twiki/bin/view/CMS/SWGuideCrab">config page</a>.
*#
