<!-- templateAnalysisDS.tmpl -->
#*
oSel = [
      self.col(tad,'Name'),self.col(tadt,'Type'),
      self.col(tads,'Status'),self.col(tadd,'Name'),
      self.col(tadd,'LumiSections'),
      self.col(tadd,'LumiSectionRanges'),
      self.col(tadd,'Runs'),
      self.col(tadd,'RunsRanges'),
      self.col(tadd,'Algorithms'),
      self.col(tadd,'LFNs'),
      self.col(tadd,'UserCut'),
      self.col(tadd,'Description'),
      self.col(tp1,'DistinguishedName'),                  
      self.col(tad,'CreatedBy'),self.col(tad,'CreationDate'),
      self.col(tp2,'DistinguishedName'),                  
      self.col(tad,'LastModifiedBy'),self.col(tad,'LastModificationDate'),
      self.col('tpg','PhysicsGroupName') ]
*#
<table class="valign_top">
#for item in $dList
#set name        = item[0]
#set type        = item[1]
#set status      = item[2]
#set dName       = item[3]
#set dLumi       = item[4]
#set dLumiRanges = item[5]
#set dRuns       = item[6]
#set dRunRanges  = item[7]
#set dAlg        = item[8]
#set dLFN        = item[9]
#set dCut        = item[10]
#set dDesc       = item[11]
#set cBy         = item[12]
#set cDate       = item[13]
#set mBy         = item[14]
#set mDate       = item[15]
#set group       = item[16]
#set dataset     = item[17]

####set idPath=$name.replace(" ","___")+"_ads_"+$path.replace("/","___")
####set action=$dbsInst+","+$path+","+$appPath+","+$idPath+","+$userMode
#set idPath=$dataset.replace("/","___")
#set histLoc="moreInfo"+$idPath
#set action=$dbsInst+","+$dataset+","+$appPath+","+$idPath+","+$userMode
<tr>
<td>
<b>$name</b>
</td>
</tr>
<tr>
<td>

<!-- begin of entry -->
<table>
<tr>

#if $full
<td align="right">
group:
</td>
<td align="left">
$group
<td>
</tr>

<tr>
<td align="right">
created:
</td>
<td align="left">
$cBy, $cDate
<td>
</tr>

<tr>
<td align="right">
modified:
</td>
<td align="left">
$mBy, $mDate
<td>
</tr>

#else

<td align="right">
group: 
</td>
<td align="left">
$group, $mBy, $mDate
</td>

</tr>
#end if
<tr>

<td align="right">
type: 
</td>
<td align="left">
$type
</td>

</tr>
<tr>

<td align="right">
status: 
</td>
<td align="left">
$status
</td>

</tr>
<tr valign="bottom">

#if $full
<td align="right">
Description name: 
</td>
<td align="left">
$dName
</td>
</tr>
<tr valign="bottom">
#end if

<td align="right">
path: 
</td>
<td align="left">

<table>
<tr valign="bottom">
<td>$dataset</td>
<td>
<div id="$idPath"></div>
</td><td>
<a href="javascript:ajaxEngine.registerAjaxElement('$idPath');ajaxMoreInfo('$dbsInst','$dataset','$appPath','$idPath','$userMode');ajax_dhtmlHistory('$histLoc','$action');">&#171; more &#187;</a>
</td></tr></table>

</td>

</tr>
<tr>

<td align="right">
Luminosity:
</td>
<td align="left">
$dLumi
</td>

</tr>
#if $full
<td align="right">
Lumi ranges:
</td>
<td align="left">
$dLumiRanges
</td>
</tr>

<tr>
<td align="right">
Runs:
</td>
<td align="left">
$dRuns
</td>
</tr>

<tr>
<td align="right">
Runs ranges:
</td>
<td align="left">
$dRunRanges
</td>
</tr>

<tr>
<td align="right">
Algorithm:
</td>
<td align="left">
$dAlg
</td>
</tr>

<tr>
<td align="right">
LFNs:
</td>
<td align="left">
$dLFN
</td>
</tr>

<tr>
<td align="right">
User cuts:
</td>
<td align="left">
$dCut
</td>
</tr>

<tr>
<td align="right">
Description:
</td>
<td align="left">
$dDesc
</td>
</tr>
#end if

</table>
<!-- end of entry -->

</td>
</tr>
<tr>
<td>
#if not $full
<a href="getAnalysisDSFullInfo?dbsInst=$dbsInst&amp;dataset=$path&amp;ads=$name&amp;userMode=$userMode">More information about analysis DS</a>
#end if
<hr class="dbs" />
</td>
</tr>

#end for
</table>
<!-- end of templateAnalysisDS.tmpl -->
