<!-- templateProcessedDatasetsGrid.tmpl -->
#*
#import time
#set tstr="%s"%$time.time()
#set id=$tstr.replace(".","")
*#
#set id=$uid
#set siteList=$mDict['sites']
#set empty,prim,proc,tier=$path.split("/")
#set idPath=$path.replace("/","___")
#set tid="table_"+$idPath

#from utils.DDUtil import sizeFormat, colorSizeHTMLFormat
#set prdDate=$mDict['created']
#set cBy=$mDict['creator']
#set nblks=$mDict['blocks']
#set size=$colorSizeHTMLFormat($mDict['size'])
#set nFiles=$mDict['files']
#set nEvts=$mDict['evts']
#set nSites=$len($mDict['sites'])
#set se="all"

#*
<hr class="dbs" />
<table width="100%" class="dbs_table">
<tr>
<th>
Path
</th>
<th>
Created
</th>
<th>
Size
</th>
<th>
Blocks
</th>
<th>
LFNs
</th>
<th>
Events
</th>
<th>
Sites
</th>
<th>
Links
</th>
</tr>
*#

#set months=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
<tr ${style}>
<td class="td_left">
$path
</td>
<td>
#set t=$prdDate.split()
#if $t
#set idx=$months.index($t[1])
#if $idx<9
#set mm="0%d"%($idx+1, )
#elif $idx==9
#set mm="%d"%($idx+1, )
#else
#set mm=$idx
#end if
$t[0]/$mm/$t[2][2:]
#end if
</td>
<td>
$cBy
</td>
<td>
$size
</td>
<td>
<a href="${host}/getBlocksInfo?dbsInst=$dbsInst&amp;dataset=$path&amp;userMode=$userMode">
$nblks
</a>
</td>
<td>
<a href="${host}/getLFNsForSite?dbsInst=$dbsInst&amp;site=$se&amp;datasetPath=$path&amp;what=cff&amp;userMode=$userMode&amp;run=$run">cff</a>,
<a href="${host}/getLFNsForSite?dbsInst=$dbsInst&amp;site=$se&amp;datasetPath=$path&amp;what=py&amp;userMode=$userMode&amp;run=$run">py</a>,
<a href="${host}/getLFNsForSite?dbsInst=$dbsInst&amp;site=$se&amp;datasetPath=$path&amp;what=txt&amp;userMode=$userMode&amp;run=$run">txt</a>,
(${nFiles})
</td>
<td>
$nEvts
</td>
<td>
###<span id="$idPath">
<span id="$id">
<u>$nSites</u>
</span>
</td>
<td>
<a href="${host}/crabCfg?dbsInst=$dbsInst&amp;dataset=$path&amp;totEvt=-1&amp;userMode=$userMode">
cfg
</a>
</td>

<td>
<span id="intLumi$idPath"></span>
</td>

<td>
<select id="moreInfo_$idPath" onchange="javascript:LoadSelected('moreInfo_$idPath');" style="width:100px">
<option value="">More info</option>
<option value="${host}/aSearch?dbsInst=$dbsInst&amp;userInput=find+release+where+dataset=$path&amp;_idx=0&amp;ajax=0&amp;userMode=$userMode&amp;caseSensitive=on">Release info</option>
<option value="${host}/getRuns?dbsInst=$dbsInst&amp;dataset=$path&amp;_idx=0&amp;ajax=0&amp;userMode=$userMode">Run info</option>
<option value="${host}/getAppConfigs?dbsInst=$dbsInst&amp;appPath=$appPath&amp;procPath=$path&amp;ajax=0&amp;userMode=$userMode">Conf files</option>
<option value="${host}/getDatasetProvenance?dbsInst=$dbsInst&amp;dataset=$path&amp;ajax=0&amp;userMode=$userMode">Get parents</option>
<option value="${host}/getDatasetChildren?dbsInst=$dbsInst&amp;dataset=$path&amp;ajax=0&amp;userMode=$userMode">Get children</option>
<option value="${host}/getDataDescription?dbsInst=$dbsInst&amp;processedDataset=$path&amp;userMode=$userMode">Data Description</option>
<option value="$PhedexURL?type=xfer&amp;dbschoice=known&amp;dbs=$dbsInstURL&amp;data=$path&amp;priority=1">Subscribe to PhEDEx</option>
<option value="${host}/createAnalysisDS?dbsInst=$dbsInst&amp;dataset=$path">Create Analysis dataset</option>
<option value="${host}/getAnalysisDS?dbsInst=$dbsInst&amp;dataset=$path&amp;ajax=0&amp;userMode=$userMode">Find Analysis Dataset</option>
</select>
</td>
</tr>

##</table>

#set longestSEName=0
#set tt=""
#for site in $siteList
####set tt=$tt+"<li>"+$site+"</li>";
#if $site
#set cmsName="NO NAME"
#if $cmsNames.has_key($site)
#set cmsName=$cmsNames[$site]
#end if
#set tt=$tt+"<div>"+$cmsName+" : "+$site+"</div>"
####set tt=$tt+"<div>"+$site+"</div>"
#if len($site)>$longestSEName
#set longestSEName=len($site)+5
#end if
#else
#set tt="<div class=\"box_red\">NO NAME</div>"
#end if
#end for
#if not len($siteList)
#set tt="<div class=\"box_red\">no sites</div>"
#end if
####set tt="<ul>"+$tt+"</ul>"
####set tag="t_"+$idPath
#set tag="t_"+$id

<script type="text/javascript">
//var tooltip='$tt';
var $tag='$tt';
//MakeTooltip('$tag','$idPath',tooltip,5000,'300px');
//MakeTooltip('$tag','$id',tooltip,5000,'300px');
MakeTooltip('$tag','$id',$tag,5000,'300px');
ajaxEngine.registerRequest('ajaxGetIntegratedLumi','getIntegratedLumi');
ajaxEngine.registerAjaxElement('intLumi$idPath');
ajaxGetIntegratedLumi('$dbsInst','$path');
</script>
<!-- end of templateProcessedDatasetsGrid.tmpl -->
