<!-- templateContacts.tmpl -->
<div id="contactInfo" >
         <p>
         Use the form below to contact DBS team:
         <ul>
         <li> Project leader: Lee Lueking
         <li> Developers: Vijay Sekhri, Anzar Afaq, Valentin Kuznetsov, Yuyi Guo
         <li> Operations Team: Vijay Sekhri, Anzar Afaq, Valentin Kuznetsov, Barry Blumenfeld, Lee Lueking, Douglas Teodoro, Dimitrije Maletic
         <li> DBS data discovert page maintainer: Valentin Kuznetsov
         </ul>
         </p>
         <form action="sendFeedback" method="post">
         <p>
         Your Email:
         <input type="hidden" name="userMode" value="$userMode" />
         <input type="text" name="userEmail" />
         <p />
         <textarea rows="15" cols="100" name="feedbackText">Put your text here</textarea>
         <br />
         <input type="submit" value="Submit" id="submit-button-form"/>
         </p>
         </form>
         <p>
         For bugs, suggestions please use Savannah report 
         <a href="https://savannah.cern.ch/bugs/?func=additem&group=dbs">system</a>
         </p>
</div>

<!-- end oftemplateContacts.tmpl -->
