<!-- templateKeywords.tmpl -->
<table>
<tr>
<td>
Keywords
</td>
<td>
Description
</td>
</tr>

<tr>
<td>
run
</td>
<td>
run number
</td>
</tr>

<tr>
<td>
prim
</td>
<td>
Primary dataset name
</td>
</tr>

<tr>
<td>
proc
</td>
<td>
Processed dataset name
</td>
</tr>

<tr>
<td>
release
</td>
<td>
Software release, e.g. CMSSW_1_2_0
</td>
</tr>

</table>
<!-- end of templateKeywords.tmpl -->
