<!-- templateAnalysisDS.tmpl -->
#*
 [self.col(tad,'Name'),self.col(tad,'Annotation'),self.col(tadt,'Type'),
  self.col(tads,'Status'),self.col(tadd,'Name'),
  self.col(tadd,'LumiSections'),
  self.col(tadd,'LumiSectionRanges'),
  self.col(tadd,'Runs'),
  self.col(tadd,'RunRanges'),
  self.col(tadd,'Algorithm'),
  self.col(tadd,'LFNs'),
  self.col(tadd,'AnalysisDatasets'),
  self.col(tadd,'UserCuts'),
  self.col(tadd,'Description'),
  self.col(tp1,'DistinguishedName'),self.col(tad,'CreatedBy'),self.col(tad,'CreationDate'),
  self.col(tp2,'DistinguishedName'),self.col(tad,'LastModifiedBy'),self.col(tad,'LastModificationDate')]
*#
<table>
#for item in $dList
#set name        =item[0]
#set ann         =item[1]
#set type        =item[2]
#set status      =item[3]
#set dName       =item[4]
#set dLumi       =item[5]
#set dLumiRanges =item[6]
#set dRuns       =item[7]
#set dRunRanges  =item[8]
#set dAlg        =item[9]
#set dLFN        =item[10]
#set dADS        =item[11]
#set dCut        =item[12]
#set dDesc       =item[13]
#set cName       =item[14]
#set cBy         =item[15]
#set cDate       =item[16]
#set mName       =item[17]
#set mBy         =item[18]
#set mDate       =item[19]
<tr>
<td>Analysis dataset:</td>
<td>$name</td>

<td>Analysis annotation:</td>
<td>$ann</td>

<td>Analysis type:</td>
<td>$type</td>

<td>Analysis status:</td>
<td>$status</td>

#*
<td>Analysis :</td>
<td>$</td>

<td>Analysis :</td>
<td>$</td>

<td>Analysis :</td>
<td>$</td>
*#
</tr>
#end for
</table>
<!-- end of templateAnalysisDS.tmpl -->
