<div class="sectionhead_tight">
Install instructions for dbs-client RPM:
</div>
<pre>

export PROJ_DIR=/data/projects/prod/ ### Change as appropriate
export PROJ_NAME=dbs-client
export SCRAM_ARCH=slc4_ia32_gcc345
export APT_VERSION=0.5.15lorg3.2-cmp

wget -O$PROJ_DIR/bootstrap.sh http://cmsrep.cern.ch/cmssw/cms/bootstrap.sh
chmod +x $PROJ_DIR/bootstrap.sh
$PROJ_DIR/bootstrap.sh -repository comp -arch $SCRAM_ARCH -path $PROJ_DIR setup ### You only need to do this once
cd $PROJ_DIR
source $SCRAM_ARCH/external/apt/$APT_VERSION/etc/profile.d/init.sh
apt-get update

apt-cache search dbs-client # find the dbs-client RPM
apt-get install cms+dbs-client+$ver-cmp 

Once it's installed you should source dbs-client init.sh file and all environment will be setup.
</pre>
<div class="sectionhead_tight">
Setup instructions for dbs-client RPM:
</div>
To make your life simplier, create the following file
<pre>
#!/bin/sh
ver=$ver-cmp
proj_dir=/data/projects/dbs
source \$proj_dir/slc4_ia32_gcc345/external/apt/0.5.15lorg3.2-cmp/etc/profile.d/init.sh
source \$proj_dir/slc4_ia32_gcc345/cms/dbs-web/\$ver/etc/profile.d/init.sh
cd \$proj_dir/slc4_ia32_gcc345/cms/dbs-web/\$ver/lib/python2.4/site-packages/
</pre>
Save it as setup.sh and execute it every time you need to setup your DBS environment.
