<?xml version="1.0" encoding="utf-8"?>
<dbs-admin-request>
#import types
#for key in $kwargs.keys()
#if $skipList.count($key.lower())
#continue
#end if
<$key>
#if $type($kwargs[$key]) is $types.DictType
    #set dict=$kwargs[$key]
    #for dict_key in $dict.keys()
        #if $type($dict[$dict_key]) is $types.ListType
            #for item in $dict[$dict_key]
               <$dict_key>
                 $item
               </$dict_key>
            #end for
        #else
            <$dict_key>
            $dict[$dict_key]
            </$dict_key>
        #end if
    #end for
#else
  $kwargs[$key]
#end if
</$key>
#end for
</dbs-admin-request>

