<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://cmssrv48.fnal.gov:3306/DBS_1_1_4"/>
		<property name="username" value="javauser"/>
		<property name="password" value="javadude"/>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="mappingResources">
			<list>
				<value>gov/fnal/nvs/dm/entity/Datatier.hbm.xml</value>
				<value>gov/fnal/nvs/dm/entity/Physicsgroup.hbm.xml</value>
				<value>gov/fnal/nvs/dm/entity/Primarydataset.hbm.xml</value>
				<value>gov/fnal/nvs/dm/entity/Processeddataset.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.cglib.use_reflection_optimizer">true</prop>
			</props>
		</property>	
		
		<property name="dataSource">
			<ref bean="dataSource"/>
		</property>
	</bean>
	
	<!-- Spring Data Access Exception Translator Defintion -->
	<bean id="jdbcExceptionTranslator" class="org.springframework.jdbc.support.SQLErrorCodeSQLExceptionTranslator"> 
		<property name="dataSource"><ref bean="dataSource"/></property> 
	</bean> 

	<!-- Hibernate Template Defintion -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate"> 
		<property name="sessionFactory"><ref bean="sessionFactory"/></property> 
		<property name="jdbcExceptionTranslator"><ref bean="jdbcExceptionTranslator"/></property> 
	</bean> 

	<!-- DAO Definition: Hibernate implementation -->
	<bean id="tierDao" class="gov.fnal.nvs.dm.dao.hibernate.TierDaoImpl">
		<property name="hibernateTemplate"><ref bean="hibernateTemplate"/></property> 
	</bean>	
	<bean id="primaryDao" class="gov.fnal.nvs.dm.dao.hibernate.PrimaryDaoImpl">
		<property name="hibernateTemplate"><ref bean="hibernateTemplate"/></property> 
	</bean>	
	<bean id="processedDao" class="gov.fnal.nvs.dm.dao.hibernate.ProcessedDaoImpl">
		<property name="hibernateTemplate"><ref bean="hibernateTemplate"/></property> 
	</bean>	
	<bean id="physicsDao" class="gov.fnal.nvs.dm.dao.hibernate.PhysicsDaoImpl">
		<property name="hibernateTemplate"><ref bean="hibernateTemplate"/></property> 
	</bean>	

	
	<!-- ========================= Start of SERVICE DEFINITIONS ========================= -->  
	
	<!-- Hibernate Transaction Manager Definition -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory"><ref local="sessionFactory"/></property>
	</bean>
	
	
	<!-- Service Definition -->
	<bean id="primaryServiceTarget" class="gov.fnal.nvs.dm.service.impl.PrimaryServiceImpl">
		<property name="primaryDao"><ref local="primaryDao"/></property>
	</bean>
	<bean id="processedServiceTarget" class="gov.fnal.nvs.dm.service.impl.ProcessedServiceImpl">
		<property name="processedDao"><ref local="processedDao"/></property>
	</bean>
	<bean id="tierServiceTarget" class="gov.fnal.nvs.dm.service.impl.TierServiceImpl">
		<property name="tierDao"><ref local="tierDao"/></property>
	</bean>
	<bean id="physicsServiceTarget" class="gov.fnal.nvs.dm.service.impl.PhysicsServiceImpl">
		<property name="physicsDao"><ref local="physicsDao"/></property>
	</bean>
	<!-- Transactional proxy for the Services -->
	<bean id="primaryService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="primaryServiceTarget"/></property>
		<property name="transactionAttributes">
			<props>
				<prop key="list*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="processedService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="processedServiceTarget"/></property>
		<property name="transactionAttributes">
			<props>
				<prop key="list*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
	<bean id="tierService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="tierServiceTarget"/></property>
		<property name="transactionAttributes">
			<props>
				<prop key="list*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
	<bean id="physicsService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="physicsServiceTarget"/></property>
		<property name="transactionAttributes">
			<props>
				<prop key="list*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>

	<bean id="mainService" class="gov.fnal.nvs.dm.service.impl.MainServiceImpl">
		<property name="physicsService"><ref local="physicsService"/></property>
		<property name="primaryService"><ref local="primaryService"/></property>
		<property name="processedService"><ref local="processedService"/></property>
		<property name="tierService"><ref local="tierService"/></property>
	</bean>



</beans>
