<Context path="/servlet/DBSServlet" docBase="DBSServlet" debug="5" reloadable="true" crossContext="true">
	<Resource name="jdbc/dbs" 
		auth="Container" 
		type="javax.sql.DataSource" 
		maxActive="100" 
		maxIdle="30" 
		maxWait="10000"
		username="anzar" 
		password="" 
		driverClassName="org.gjt.mm.mysql.Driver"
		url="jdbc:mysql://localhost:3306/dbs_new_era_v04?autoReconnect=true"/>

        <!--Resource name="jdbc/dbs" 
                auth="Container" 
                type="javax.sql.DataSource" 
                maxActive="10" 
                maxIdle="30" 
                maxWait="10000"
                username="cms_dbs_afaq" 
                password="" 
                driverClassName="oracle.jdbc.driver.OracleDriver"
                url="jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(PORT=10520)(HOST=oradev10.cern.ch))(CONNECT_DATA=(SID=D10)))"/-->

<SupportedSchemaVersion schemaversion="v00_00_02" />
<SupportedClientVersions clientversions="v00_00_01, v00_00_02" />
</Context>
					       
