#FIXME The connection parameters should go in the xml file for connection pooling. For standalone clients it should read from that xml file

#For MySQL
DRIVER = org.gjt.mm.mysql.Driver
URL = jdbc:mysql://localhost/dbs_new_era_v04
USERID = anzar
PASSWORD = XXXXXXX

#For Oracle
#DRIVER = oracle.jdbc.driver.OracleDriver
#URL = jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(PORT=10520)(HOST=oradev10.cern.ch))(CONNECT_DATA=(SID=D10)))
#USERID = cms_dbs_afaq
#PASSWORD = ?????

SCHEMA_VERSION=v00_00_02
CLIENT_VERSIONS=v00_00_01, v00_00_02


