

#
# Development
URL=http://cmssrv48.fnal.gov:8585/nvswebapp/nvservlet
LOG=STDOUT
# 
#  Possible levels are 
#
#  Standard
#CRITICAL   50
#ERROR      40
#NOTSET     0
#  DBS Defined
#
#  DEFAULT Log Level is ERROR
#
#LEVEL=CRITICAL
LEVEL=ERROR
#LEVEL=NOTSET
#LEVEL=DBSWARNING
#LEVEL=DBSINFO
#LEVEL=DBSDEBUG
#
#

